.logo
  i.ti-underline
h4.fs-16.text-white.fw-300.mt-0 Forgot Password
p.text-muted Enter the email address associated with your account to reset your password
form(method='get', action='index.html')
  .form-group
    input.form-control(type='text', placeholder='Enter Email')
  button.btn.btn-primary.btn-rounded(type='submit', style='width: 130px') Reset