.logo
  i.ti-underline
#esp-profile.easy-pie-chart(data-percent='65', style='height: 130px; width: 130px; line-height: 100px; padding: 15px;')
  img.img-circle(src=build+'images/users/04.jpg', alt='', width='100')
h4.fs-16.text-white.mt-15.fw-300 Matthew Gonzalez
p.text-muted Enter your password to retrieve your session.
form(method='get', action='index.html')
  .form-group
    input.form-control(type='password', placeholder='Enter Password')
ul.list-inline.mb-0
  li
    a.text-info.fs-20(href='#')
      i.ti-twitter-alt
  li
    a.text-primary.fs-20(href='#')
      i.ti-facebook
  li
    a.text-danger.fs-20(href='#')
      i.ti-google