// Code Prettify
script(type='text/javascript', src=plugins+'code-prettify/src/run_prettify.js?skin=default')
script(type='text/javascript', src=plugins+'code-prettify/src/lang-css.js')
script(type='text/javascript', src=plugins+'code-prettify/src/lang-sql.js')
script(type='text/javascript', src=plugins+'code-prettify/src/lang-vb.js')