// Summernote
script(type='text/javascript', src=plugins+'summernote/dist/summernote.min.js')
// Codemirror
script(type='text/javascript', src=plugins+'codemirror/lib/codemirror.js')
script(type='text/javascript', src=plugins+'codemirror/mode/xml/xml.js')
script(type='text/javascript', src=plugins+'formatting/index.js')