// Sweet Alert
script(type='text/javascript', src=plugins+'bootstrap-sweetalert/lib/sweet-alert.min.js')
// Code Prettify
script(type='text/javascript', src=plugins+'code-prettify/src/run_prettify.js')