// Clock Picker
link(rel='stylesheet', type='text/css', href=plugins+'clockpicker/dist/bootstrap-clockpicker.min.css')
// Clockface
link(rel='stylesheet', type='text/css', href=plugins+'clockface/css/clockface.css')