// jQuery MiniColors
link(rel='stylesheet', type='text/css', href=plugins+'jquery-minicolors/jquery.minicolors.css')
// Bootstrap Color Picker Sliders
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.min.css')