// Bootstrap Dual Listbox
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-duallistbox/dist/bootstrap-duallistbox.min.css')
// Multi Select
link(rel='stylesheet', type='text/css', href=plugins+'multiselect/css/multi-select.css')