.page-content.container-fluid
  .widget
    .widget-body
      .row.mb-15
        .col-md-7
          p.form-control-static
            strong 9
            |  Results found for: 
            strong Keyword
        .col-md-5
          .input-group
            input.form-control.pr-15(type='text', placeholder='Search...', required='')
            .input-group-btn
              .btn-group
                button.btn.btn-outline.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                  | Filter 
                  span.caret
                ul.dropdown-menu.dropdown-menu-right.animated.fadeInDown(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              button.btn.btn-outline.btn-default(type='button')
                i.ti-search
      ul.nav.nav-tabs.mb-15(role='tablist')
        li.active(role='presentation')
          a#web-tab(href='#web', role='tab', data-toggle='tab', aria-controls='web', aria-expanded='true')
            | Web 
            span.badge.bg-primary 9
        li(role='presentation')
          a#images-tab(href='#images', role='tab', data-toggle='tab', aria-controls='images', aria-expanded='false')
            | Images 
            span.badge.bg-success 2
        li(role='presentation')
          a#videos-tab(href='#videos', role='tab', data-toggle='tab', aria-controls='videos', aria-expanded='false')
            | Videos 
            span.badge.bg-warning 1
      .tab-content
        #web.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='web-tab')
          ul.list-unstyled
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
        #images.tab-pane.fade(role='tabpanel', aria-labelledby='images-tab')
          ul.list-unstyled
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
        #videos.tab-pane.fade(role='tabpanel', aria-labelledby='videos-tab')
          ul.list-unstyled
            li
              h5.mb-5 Lorem ipsum dolor sit amet
              a(href='#') www.bing.com
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              hr
      nav
        ul.pagination
          li.disabled.pagination-prev
            a(href='#', aria-label='Previous')
              span(aria-hidden='true') &laquo;
          li
            a(href='#')
              | 1 
              span.sr-only (current)
          li
            a(href='#') 2
          li.active
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li.pagination-next
            a(href='#', aria-label='Next')
              span(aria-hidden='true') &raquo;