// FullCalendar
link(rel='stylesheet', type='text/css', href=plugins+'fullcalendar/dist/fullcalendar.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'fullcalendar/dist/fullcalendar.print.css', media='print')
// jQuery MiniColors
link(rel='stylesheet', type='text/css', href=plugins+'jquery-minicolors/jquery.minicolors.css')