.logo
  i.ti-underline
h1.m-0.text-muted.fw-300(style='font-size: 130px')
  | 4
  i.ti-face-sad.fs-100
  | 1
h4.fs-16.text-white.fw-300 Not Authorized!
p.text-muted.mb-15 The requested resource requires user authentication.
a.btn.btn-primary.btn-rounded(href='index.html', role='button', style='width: 130px') Return home