.logo
  i.ti-underline
h1.m-0.text-muted.fw-300(style='font-size: 130px')
  | 4
  i.ti-face-sad.fs-100
  | 4
h4.fs-16.text-white.fw-300 Page Not Found!
p.text-muted.mb-15 Sorry! the page you are looking for doesn't exist.
a.btn.btn-primary.btn-rounded(href='index.html', role='button', style='width: 130px') Return home