.page-content.container-fluid
  h3.mt-0 Containers
  .row
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Linked Items
        .widget-body
          .list-group
            a.list-group-item.active(href='#') Cras justo odio
            a.list-group-item(href='#') Dapibus ac facilisis in
            a.list-group-item(href='#') Morbi leo risus
            a.list-group-item(href='#') Porta ac consectetur ac
            a.list-group-item(href='#') Vestibulum at eros
    .col-md-8
      .widget
        .widget-heading
          h3.widget-title Custom Content
        .widget-body
          .list-group
            a.list-group-item.active(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  h3 Navigations
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Tabs
        .widget-body
          div(role='tabpanel')
            ul.nav.nav-tabs.mb-15(role='tablist')
              li.active(role='presentation')
                a#home-tab(href='#home', role='tab', data-toggle='tab', aria-controls='home', aria-expanded='true') Home
              li(role='presentation')
                a#profile-tab(href='#profile', role='tab', data-toggle='tab', aria-controls='profile', aria-expanded='false') Profile
              li.dropdown(role='presentation')
                a#myTabDrop1.dropdown-toggle(href='#', data-toggle='dropdown', aria-controls='myTabDrop1-contents', aria-expanded='false')
                  | Dropdown 
                  span.caret
                ul#myTabDrop1-contents.dropdown-menu.animated.fadeInDown(role='menu', aria-labelledby='myTabDrop1')
                  li
                    a#dropdown1-tab(href='#dropdown1', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown1', aria-expanded='false') @fat
                  li
                    a#dropdown2-tab(href='#dropdown2', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown2', aria-expanded='false') @mdo
            .tab-content
              #home.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                p
                  | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
              #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                p
                  | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
              #dropdown1.tab-pane.fade(role='tabpanel', aria-labelledby='dropdown1-tab')
                p
                  | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.
              #dropdown2.tab-pane.fade(role='tabpanel', aria-labelledby='dropdown2-tab')
                p
                  | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Pills
        .widget-body
          div(role='tabpanel')
            ul.nav.nav-pills.mb-15(role='tablist')
              li.active(role='presentation')
                a#home-tab2(href='#home2', role='tab', data-toggle='tab', aria-controls='home2', aria-expanded='true') Home
              li(role='presentation')
                a#profile-tab2(href='#profile2', role='tab', data-toggle='tab', aria-controls='profile2', aria-expanded='false') Profile
              li.dropdown(role='presentation')
                a#myTabDrop2.dropdown-toggle(href='#', data-toggle='dropdown', aria-controls='myTabDrop2-contents', aria-expanded='false')
                  | Dropdown 
                  span.caret
                ul#myTabDrop2-contents.dropdown-menu(role='menu', aria-labelledby='myTabDrop2')
                  li
                    a#dropdown3-tab(href='#dropdown3', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown3', aria-expanded='false') @fat
                  li
                    a#dropdown4-tab(href='#dropdown4', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown4', aria-expanded='false') @mdo
            .tab-content
              #home2.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab2')
                p
                  | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
              #profile2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab2')
                p
                  | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
              #dropdown3.tab-pane.fade(role='tabpanel', aria-labelledby='dropdown3-tab')
                p
                  | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.
              #dropdown4.tab-pane.fade(role='tabpanel', aria-labelledby='dropdown4-tab')
                p
                  | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY.
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Pagination
        .widget-body
          nav
            ul.pagination
              li.disabled
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') &laquo;
              li.active
                a(href='#')
                  | 1 
                  span.sr-only (current)
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#', aria-label='Next')
                  span(aria-hidden='true') &raquo;
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Breadcrumbs
        .widget-body
          ol.breadcrumb
            li
              a(href='#')
                i.ti-home.mr-5
                |  Home
            li
              a(href='#') Library
            li.active Data
  h3 Pickers
  .widget
    .widget-heading
      h3.widget-title Datetime Picker
    .widget-body
      .row
        .col-md-6
          .form-group
            label Minimum setup
            #minimum-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Custom formats
            #custom-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-timer
      .row
        .col-md-6
          .form-group
            label View mode
            #view-mode-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Min view mode
            #min-view-mode-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
  .widget
    .widget-heading
      h3.widget-title Date Range Picker
    .widget-body
      .row
        .col-md-6
          .form-group
            label Date range picker
            input#date-range-picker.form-control(type='text', value='01/01/2015 - 02/15/2015')
        .col-md-6
          .form-group
            label Date and time
            input#date-time-picker.form-control(type='text', value='01/01/2015 1:30 PM - 01/01/2015 2:00 PM')
      .row
        .col-md-6
          .form-group
            label Single date picker
            input#single-date-picker.form-control(type='text', value='01/01/2015 - 02/15/2015')
        .col-md-6
          .form-group
            label Predefined ranges
            .btn-toolbar
              button#predefined-ranges-picker.btn.btn-raised.btn-default(type='button')
                i.ti-calendar 
                span
  h3 Form Wizard
  .widget
    .widget-heading
      h3.widget-title Horizontal Steps
    .widget-body
      form#form-horizontal.form-horizontal
        h3 Billing Infomation
        fieldset
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtFirstNameBilling') First Name
                .col-sm-9.col-md-8
                  input#txtFirstNameBilling.form-control(name='txtFirstNameBilling', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtLastNameBilling') Last Name
                .col-sm-9.col-md-8
                  input#txtLastNameBilling.form-control(name='txtLastNameBilling', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCompanyBilling') Company
                .col-sm-9.col-md-8
                  input#txtCompanyBilling.form-control(name='txtCompanyBilling', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtEmailAddressBilling') Email Address
                .col-sm-9.col-md-8
                  input#txtEmailAddressBilling.form-control(name='txtEmailAddressBilling', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtAddress1Billing') Address 1
                .col-sm-9.col-md-8
                  textarea#txtAddress1Billing.form-control(name='txtAddress1Billing')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtAddress2Billing') Address 2
                .col-sm-9.col-md-8
                  textarea#txtAddress2Billing.form-control(name='txtAddress2Billing')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCityBilling') City
                .col-sm-9.col-md-8
                  input#txtCityBilling.form-control(name='txtCityBilling', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtStateProvinceBilling') State/Province
                .col-sm-9.col-md-8
                  input#txtStateProvinceBilling.form-control(name='txtStateProvinceBilling', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtZipPostalBilling') Zip/Postal Code
                .col-sm-9.col-md-8
                  input#txtZipPostalBilling.form-control(name='txtZipPostalBilling', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='ddlCountryBilling') Country
                .col-sm-9.col-md-8
                  select#ddlCountryBilling.form-control(name='ddlCountryBilling')
                    option(value='') --Please Select--
                    option(value='AF') Afghanistan
                    option(value='AX') Åland Islands
                    option(value='AL') Albania
                    option(value='DZ') Algeria
                    option(value='AS') American Samoa
                    option(value='AD') Andorra
                    option(value='AO') Angola
                    option(value='AI') Anguilla
                    option(value='AQ') Antarctica
                    option(value='AG') Antigua and Barbuda
                    option(value='AR') Argentina
                    option(value='AM') Armenia
                    option(value='AW') Aruba
                    option(value='AU') Australia
                    option(value='AT') Austria
                    option(value='AZ') Azerbaijan
                    option(value='BS') Bahamas
                    option(value='BH') Bahrain
                    option(value='BD') Bangladesh
                    option(value='BB') Barbados
                    option(value='BY') Belarus
                    option(value='BE') Belgium
                    option(value='BZ') Belize
                    option(value='BJ') Benin
                    option(value='BM') Bermuda
                    option(value='BT') Bhutan
                    option(value='BO') Bolivia
                    option(value='BA') Bosnia and Herzegovina
                    option(value='BW') Botswana
                    option(value='BV') Bouvet Island
                    option(value='BR') Brazil
                    option(value='IO') British Indian Ocean Territory
                    option(value='VG') British Virgin Islands
                    option(value='BN') Brunei
                    option(value='BG') Bulgaria
                    option(value='BF') Burkina Faso
                    option(value='BI') Burundi
                    option(value='KH') Cambodia
                    option(value='CM') Cameroon
                    option(value='CA') Canada
                    option(value='CV') Cape Verde
                    option(value='KY') Cayman Islands
                    option(value='CF') Central African Republic
                    option(value='TD') Chad
                    option(value='CL') Chile
                    option(value='CN') China
                    option(value='CX') Christmas Island
                    option(value='CC') Cocos [Keeling] Islands
                    option(value='CO') Colombia
                    option(value='KM') Comoros
                    option(value='CG') Congo - Brazzaville
                    option(value='CD') Congo - Kinshasa
                    option(value='CK') Cook Islands
                    option(value='CR') Costa Rica
                    option(value='CI') Côte d’Ivoire
                    option(value='HR') Croatia
                    option(value='CU') Cuba
                    option(value='CY') Cyprus
                    option(value='CZ') Czech Republic
                    option(value='DK') Denmark
                    option(value='DJ') Djibouti
                    option(value='DM') Dominica
                    option(value='DO') Dominican Republic
                    option(value='EC') Ecuador
                    option(value='EG') Egypt
                    option(value='SV') El Salvador
                    option(value='GQ') Equatorial Guinea
                    option(value='ER') Eritrea
                    option(value='EE') Estonia
                    option(value='ET') Ethiopia
                    option(value='FK') Falkland Islands
                    option(value='FO') Faroe Islands
                    option(value='FJ') Fiji
                    option(value='FI') Finland
                    option(value='FR') France
                    option(value='GF') French Guiana
                    option(value='PF') French Polynesia
                    option(value='TF') French Southern Territories
                    option(value='GA') Gabon
                    option(value='GM') Gambia
                    option(value='GE') Georgia
                    option(value='DE') Germany
                    option(value='GH') Ghana
                    option(value='GI') Gibraltar
                    option(value='GR') Greece
                    option(value='GL') Greenland
                    option(value='GD') Grenada
                    option(value='GP') Guadeloupe
                    option(value='GU') Guam
                    option(value='GT') Guatemala
                    option(value='GG') Guernsey
                    option(value='GN') Guinea
                    option(value='GW') Guinea-Bissau
                    option(value='GY') Guyana
                    option(value='HT') Haiti
                    option(value='HM') Heard Island and McDonald Islands
                    option(value='HN') Honduras
                    option(value='HK') Hong Kong SAR China
                    option(value='HU') Hungary
                    option(value='IS') Iceland
                    option(value='IN') India
                    option(value='ID') Indonesia
                    option(value='IR') Iran
                    option(value='IQ') Iraq
                    option(value='IE') Ireland
                    option(value='IM') Isle of Man
                    option(value='IL') Israel
                    option(value='IT') Italy
                    option(value='JM') Jamaica
                    option(value='JP') Japan
                    option(value='JE') Jersey
                    option(value='JO') Jordan
                    option(value='KZ') Kazakhstan
                    option(value='KE') Kenya
                    option(value='KI') Kiribati
                    option(value='KW') Kuwait
                    option(value='KG') Kyrgyzstan
                    option(value='LA') Laos
                    option(value='LV') Latvia
                    option(value='LB') Lebanon
                    option(value='LS') Lesotho
                    option(value='LR') Liberia
                    option(value='LY') Libya
                    option(value='LI') Liechtenstein
                    option(value='LT') Lithuania
                    option(value='LU') Luxembourg
                    option(value='MO') Macau SAR China
                    option(value='MK') Macedonia
                    option(value='MG') Madagascar
                    option(value='MW') Malawi
                    option(value='MY') Malaysia
                    option(value='MV') Maldives
                    option(value='ML') Mali
                    option(value='MT') Malta
                    option(value='MH') Marshall Islands
                    option(value='MQ') Martinique
                    option(value='MR') Mauritania
                    option(value='MU') Mauritius
                    option(value='YT') Mayotte
                    option(value='MX') Mexico
                    option(value='FM') Micronesia
                    option(value='MD') Moldova
                    option(value='MC') Monaco
                    option(value='MN') Mongolia
                    option(value='ME') Montenegro
                    option(value='MS') Montserrat
                    option(value='MA') Morocco
                    option(value='MZ') Mozambique
                    option(value='MM') Myanmar [Burma]
                    option(value='NA') Namibia
                    option(value='NR') Nauru
                    option(value='NP') Nepal
                    option(value='NL') Netherlands
                    option(value='AN') Netherlands Antilles
                    option(value='NC') New Caledonia
                    option(value='NZ') New Zealand
                    option(value='NI') Nicaragua
                    option(value='NE') Niger
                    option(value='NG') Nigeria
                    option(value='NU') Niue
                    option(value='NF') Norfolk Island
                    option(value='MP') Northern Mariana Islands
                    option(value='KP') North Korea
                    option(value='NO') Norway
                    option(value='OM') Oman
                    option(value='PK') Pakistan
                    option(value='PW') Palau
                    option(value='PS') Palestinian Territories
                    option(value='PA') Panama
                    option(value='PG') Papua New Guinea
                    option(value='PY') Paraguay
                    option(value='PE') Peru
                    option(value='PH') Philippines
                    option(value='PN') Pitcairn Islands
                    option(value='PL') Poland
                    option(value='PT') Portugal
                    option(value='PR') Puerto Rico
                    option(value='QA') Qatar
                    option(value='RE') Réunion
                    option(value='RO') Romania
                    option(value='RU') Russia
                    option(value='RW') Rwanda
                    option(value='BL') Saint Barthélemy
                    option(value='SH') Saint Helena
                    option(value='KN') Saint Kitts and Nevis
                    option(value='LC') Saint Lucia
                    option(value='MF') Saint Martin
                    option(value='PM') Saint Pierre and Miquelon
                    option(value='VC') Saint Vincent and the Grenadines
                    option(value='WS') Samoa
                    option(value='SM') San Marino
                    option(value='ST') São Tomé and Príncipe
                    option(value='SA') Saudi Arabia
                    option(value='SN') Senegal
                    option(value='RS') Serbia
                    option(value='SC') Seychelles
                    option(value='SL') Sierra Leone
                    option(value='SG') Singapore
                    option(value='SK') Slovakia
                    option(value='SI') Slovenia
                    option(value='SB') Solomon Islands
                    option(value='SO') Somalia
                    option(value='ZA') South Africa
                    option(value='GS') South Georgia and the South Sandwich Islands
                    option(value='KR') South Korea
                    option(value='ES') Spain
                    option(value='LK') Sri Lanka
                    option(value='SD') Sudan
                    option(value='SR') Suriname
                    option(value='SJ') Svalbard and Jan Mayen
                    option(value='SZ') Swaziland
                    option(value='SE') Sweden
                    option(value='CH') Switzerland
                    option(value='SY') Syria
                    option(value='TW') Taiwan
                    option(value='TJ') Tajikistan
                    option(value='TZ') Tanzania
                    option(value='TH') Thailand
                    option(value='TL') Timor-Leste
                    option(value='TG') Togo
                    option(value='TK') Tokelau
                    option(value='TO') Tonga
                    option(value='TT') Trinidad and Tobago
                    option(value='TN') Tunisia
                    option(value='TR') Turkey
                    option(value='TM') Turkmenistan
                    option(value='TC') Turks and Caicos Islands
                    option(value='TV') Tuvalu
                    option(value='UG') Uganda
                    option(value='UA') Ukraine
                    option(value='AE') United Arab Emirates
                    option(value='GB') United Kingdom
                    option(value='US') United States
                    option(value='UY') Uruguay
                    option(value='UM') U.S. Minor Outlying Islands
                    option(value='VI') U.S. Virgin Islands
                    option(value='UZ') Uzbekistan
                    option(value='VU') Vanuatu
                    option(value='VA') Vatican City
                    option(value='VE') Venezuela
                    option(value='VN') Vietnam
                    option(value='WF') Wallis and Futuna
                    option(value='EH') Western Sahara
                    option(value='YE') Yemen
                    option(value='ZM') Zambia
                    option(value='ZW') Zimbabwe
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtTelephoneBilling') Telephone
                .col-sm-9.col-md-8
                  input#txtTelephoneBilling.form-control(name='txtTelephoneBilling', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtFaxBilling') Fax
                .col-sm-9.col-md-8
                  input#txtFaxBilling.form-control(name='txtFaxBilling', type='text')
        h3 Shipping Information
        fieldset
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtFirstNameShipping') First Name
                .col-sm-9.col-md-8
                  input#txtFirstNameShipping.form-control(name='txtFirstNameShipping', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtLastNameShipping') Last Name
                .col-sm-9.col-md-8
                  input#txtLastNameShipping.form-control(name='txtLastNameShipping', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCompanyShipping') Company
                .col-sm-9.col-md-8
                  input#txtCompanyShipping.form-control(name='txtCompanyShipping', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtEmailAddressShipping') Email Address
                .col-sm-9.col-md-8
                  input#txtEmailAddressShipping.form-control(name='txtEmailAddressShipping', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtAddress1Shipping') Address 1
                .col-sm-9.col-md-8
                  textarea#txtAddress1Shipping.form-control(name='txtAddress1Shipping')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtAddress2Shipping') Address 2
                .col-sm-9.col-md-8
                  textarea#txtAddress2Shipping.form-control(name='txtAddress2Shipping')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCityShipping') City
                .col-sm-9.col-md-8
                  input#txtCityShipping.form-control(name='txtCityShipping', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtStateProvinceShipping') State/Province
                .col-sm-9.col-md-8
                  input#txtStateProvinceShipping.form-control(name='txtStateProvinceShipping', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtZipPostalShipping') Zip/Postal Code
                .col-sm-9.col-md-8
                  input#txtZipPostalShipping.form-control(name='txtZipPostalShipping', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='ddlCountryShipping') Country
                .col-sm-9.col-md-8
                  select#ddlCountryShipping.form-control(name='ddlCountryShipping')
                    option(value='') --Please Select--
                    option(value='AF') Afghanistan
                    option(value='AX') Åland Islands
                    option(value='AL') Albania
                    option(value='DZ') Algeria
                    option(value='AS') American Samoa
                    option(value='AD') Andorra
                    option(value='AO') Angola
                    option(value='AI') Anguilla
                    option(value='AQ') Antarctica
                    option(value='AG') Antigua and Barbuda
                    option(value='AR') Argentina
                    option(value='AM') Armenia
                    option(value='AW') Aruba
                    option(value='AU') Australia
                    option(value='AT') Austria
                    option(value='AZ') Azerbaijan
                    option(value='BS') Bahamas
                    option(value='BH') Bahrain
                    option(value='BD') Bangladesh
                    option(value='BB') Barbados
                    option(value='BY') Belarus
                    option(value='BE') Belgium
                    option(value='BZ') Belize
                    option(value='BJ') Benin
                    option(value='BM') Bermuda
                    option(value='BT') Bhutan
                    option(value='BO') Bolivia
                    option(value='BA') Bosnia and Herzegovina
                    option(value='BW') Botswana
                    option(value='BV') Bouvet Island
                    option(value='BR') Brazil
                    option(value='IO') British Indian Ocean Territory
                    option(value='VG') British Virgin Islands
                    option(value='BN') Brunei
                    option(value='BG') Bulgaria
                    option(value='BF') Burkina Faso
                    option(value='BI') Burundi
                    option(value='KH') Cambodia
                    option(value='CM') Cameroon
                    option(value='CA') Canada
                    option(value='CV') Cape Verde
                    option(value='KY') Cayman Islands
                    option(value='CF') Central African Republic
                    option(value='TD') Chad
                    option(value='CL') Chile
                    option(value='CN') China
                    option(value='CX') Christmas Island
                    option(value='CC') Cocos [Keeling] Islands
                    option(value='CO') Colombia
                    option(value='KM') Comoros
                    option(value='CG') Congo - Brazzaville
                    option(value='CD') Congo - Kinshasa
                    option(value='CK') Cook Islands
                    option(value='CR') Costa Rica
                    option(value='CI') Côte d’Ivoire
                    option(value='HR') Croatia
                    option(value='CU') Cuba
                    option(value='CY') Cyprus
                    option(value='CZ') Czech Republic
                    option(value='DK') Denmark
                    option(value='DJ') Djibouti
                    option(value='DM') Dominica
                    option(value='DO') Dominican Republic
                    option(value='EC') Ecuador
                    option(value='EG') Egypt
                    option(value='SV') El Salvador
                    option(value='GQ') Equatorial Guinea
                    option(value='ER') Eritrea
                    option(value='EE') Estonia
                    option(value='ET') Ethiopia
                    option(value='FK') Falkland Islands
                    option(value='FO') Faroe Islands
                    option(value='FJ') Fiji
                    option(value='FI') Finland
                    option(value='FR') France
                    option(value='GF') French Guiana
                    option(value='PF') French Polynesia
                    option(value='TF') French Southern Territories
                    option(value='GA') Gabon
                    option(value='GM') Gambia
                    option(value='GE') Georgia
                    option(value='DE') Germany
                    option(value='GH') Ghana
                    option(value='GI') Gibraltar
                    option(value='GR') Greece
                    option(value='GL') Greenland
                    option(value='GD') Grenada
                    option(value='GP') Guadeloupe
                    option(value='GU') Guam
                    option(value='GT') Guatemala
                    option(value='GG') Guernsey
                    option(value='GN') Guinea
                    option(value='GW') Guinea-Bissau
                    option(value='GY') Guyana
                    option(value='HT') Haiti
                    option(value='HM') Heard Island and McDonald Islands
                    option(value='HN') Honduras
                    option(value='HK') Hong Kong SAR China
                    option(value='HU') Hungary
                    option(value='IS') Iceland
                    option(value='IN') India
                    option(value='ID') Indonesia
                    option(value='IR') Iran
                    option(value='IQ') Iraq
                    option(value='IE') Ireland
                    option(value='IM') Isle of Man
                    option(value='IL') Israel
                    option(value='IT') Italy
                    option(value='JM') Jamaica
                    option(value='JP') Japan
                    option(value='JE') Jersey
                    option(value='JO') Jordan
                    option(value='KZ') Kazakhstan
                    option(value='KE') Kenya
                    option(value='KI') Kiribati
                    option(value='KW') Kuwait
                    option(value='KG') Kyrgyzstan
                    option(value='LA') Laos
                    option(value='LV') Latvia
                    option(value='LB') Lebanon
                    option(value='LS') Lesotho
                    option(value='LR') Liberia
                    option(value='LY') Libya
                    option(value='LI') Liechtenstein
                    option(value='LT') Lithuania
                    option(value='LU') Luxembourg
                    option(value='MO') Macau SAR China
                    option(value='MK') Macedonia
                    option(value='MG') Madagascar
                    option(value='MW') Malawi
                    option(value='MY') Malaysia
                    option(value='MV') Maldives
                    option(value='ML') Mali
                    option(value='MT') Malta
                    option(value='MH') Marshall Islands
                    option(value='MQ') Martinique
                    option(value='MR') Mauritania
                    option(value='MU') Mauritius
                    option(value='YT') Mayotte
                    option(value='MX') Mexico
                    option(value='FM') Micronesia
                    option(value='MD') Moldova
                    option(value='MC') Monaco
                    option(value='MN') Mongolia
                    option(value='ME') Montenegro
                    option(value='MS') Montserrat
                    option(value='MA') Morocco
                    option(value='MZ') Mozambique
                    option(value='MM') Myanmar [Burma]
                    option(value='NA') Namibia
                    option(value='NR') Nauru
                    option(value='NP') Nepal
                    option(value='NL') Netherlands
                    option(value='AN') Netherlands Antilles
                    option(value='NC') New Caledonia
                    option(value='NZ') New Zealand
                    option(value='NI') Nicaragua
                    option(value='NE') Niger
                    option(value='NG') Nigeria
                    option(value='NU') Niue
                    option(value='NF') Norfolk Island
                    option(value='MP') Northern Mariana Islands
                    option(value='KP') North Korea
                    option(value='NO') Norway
                    option(value='OM') Oman
                    option(value='PK') Pakistan
                    option(value='PW') Palau
                    option(value='PS') Palestinian Territories
                    option(value='PA') Panama
                    option(value='PG') Papua New Guinea
                    option(value='PY') Paraguay
                    option(value='PE') Peru
                    option(value='PH') Philippines
                    option(value='PN') Pitcairn Islands
                    option(value='PL') Poland
                    option(value='PT') Portugal
                    option(value='PR') Puerto Rico
                    option(value='QA') Qatar
                    option(value='RE') Réunion
                    option(value='RO') Romania
                    option(value='RU') Russia
                    option(value='RW') Rwanda
                    option(value='BL') Saint Barthélemy
                    option(value='SH') Saint Helena
                    option(value='KN') Saint Kitts and Nevis
                    option(value='LC') Saint Lucia
                    option(value='MF') Saint Martin
                    option(value='PM') Saint Pierre and Miquelon
                    option(value='VC') Saint Vincent and the Grenadines
                    option(value='WS') Samoa
                    option(value='SM') San Marino
                    option(value='ST') São Tomé and Príncipe
                    option(value='SA') Saudi Arabia
                    option(value='SN') Senegal
                    option(value='RS') Serbia
                    option(value='SC') Seychelles
                    option(value='SL') Sierra Leone
                    option(value='SG') Singapore
                    option(value='SK') Slovakia
                    option(value='SI') Slovenia
                    option(value='SB') Solomon Islands
                    option(value='SO') Somalia
                    option(value='ZA') South Africa
                    option(value='GS') South Georgia and the South Sandwich Islands
                    option(value='KR') South Korea
                    option(value='ES') Spain
                    option(value='LK') Sri Lanka
                    option(value='SD') Sudan
                    option(value='SR') Suriname
                    option(value='SJ') Svalbard and Jan Mayen
                    option(value='SZ') Swaziland
                    option(value='SE') Sweden
                    option(value='CH') Switzerland
                    option(value='SY') Syria
                    option(value='TW') Taiwan
                    option(value='TJ') Tajikistan
                    option(value='TZ') Tanzania
                    option(value='TH') Thailand
                    option(value='TL') Timor-Leste
                    option(value='TG') Togo
                    option(value='TK') Tokelau
                    option(value='TO') Tonga
                    option(value='TT') Trinidad and Tobago
                    option(value='TN') Tunisia
                    option(value='TR') Turkey
                    option(value='TM') Turkmenistan
                    option(value='TC') Turks and Caicos Islands
                    option(value='TV') Tuvalu
                    option(value='UG') Uganda
                    option(value='UA') Ukraine
                    option(value='AE') United Arab Emirates
                    option(value='GB') United Kingdom
                    option(value='US') United States
                    option(value='UY') Uruguay
                    option(value='UM') U.S. Minor Outlying Islands
                    option(value='VI') U.S. Virgin Islands
                    option(value='UZ') Uzbekistan
                    option(value='VU') Vanuatu
                    option(value='VA') Vatican City
                    option(value='VE') Venezuela
                    option(value='VN') Vietnam
                    option(value='WF') Wallis and Futuna
                    option(value='EH') Western Sahara
                    option(value='YE') Yemen
                    option(value='ZM') Zambia
                    option(value='ZW') Zimbabwe
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtTelephoneShipping') Telephone
                .col-sm-9.col-md-8
                  input#txtTelephoneShipping.form-control(name='txtTelephoneShipping', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtFaxShipping') Fax
                .col-sm-9.col-md-8
                  input#txtFaxShipping.form-control(name='txtFaxShipping', type='text')
        h3 Payment Information
        fieldset
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtNameCard') Name on Card
                .col-sm-9.col-md-8
                  input#txtNameCard.form-control(name='txtNameCard', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='ddlCreditCardType') Credit Card Type
                .col-sm-9.col-md-8
                  select#ddlCreditCardType.form-control(name='ddlCreditCardType')
                    option(value='') --Please Select--
                    option(value='AE') American Express
                    option(value='VI') Visa
                    option(value='MC') MasterCard
                    option(value='DI') Discover
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCreditCardNumber') Credit Card Number
                .col-sm-9.col-md-8
                  input#txtCreditCardNumber.form-control(name='txtCreditCardNumber', type='text')
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtCardVerificationNumber') Card Verification Number
                .col-sm-9.col-md-8
                  input#txtCardVerificationNumber.form-control(name='txtCardVerificationNumber', type='text')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.col-md-4.control-label(for='txtExpirationDate') Expiration Date
                .col-sm-9.col-md-8
                  input#txtExpirationDate.form-control(name='txtExpirationDate', type='text')
        h3 Order Review
        fieldset
          table.table.table-bordered
            thead
              tr
                th(style='width:10%') #
                th(style='width:40%') Product Name
                th(style='width:15%') Price
                th(style='width:15%') Qty
                th(style='width:20%') Subtotal
            tbody
              tr
                th(scope='row') 1
                td Samsung Galaxy S7 Edge
                td.text-right $899.00
                td.text-right 1
                td.text-right $899.00
              tr
                th(scope='row') 2
                td Apple Iphone 6S Pus
                td.text-right $999.00
                td.text-right 1
                td.text-right $999.00
              tr
                th(scope='row') 3
                td Sony Xperia X Performance
                td.text-right $799.00
                td.text-right 1
                td.text-right $799.00
              tr
                td.text-right(colspan='4') Subtotal
                td.text-right $2597.00
              tr
                td.text-right(colspan='4') Shipping & Handling
                td.text-right $10.00
              tr
                td.text-right(colspan='4') Grand Total
                td.text-right $2607.00
  .widget
    .widget-heading
      h3.widget-title Vertical Steps
    .widget-body
      form#form-vertical
        h3 Billing Infomation
        fieldset
          .row
            .col-md-6
              .form-group
                label(for='txtFirstNameBillingVer') First Name
                input#txtFirstNameBillingVer.form-control(name='txtFirstNameBillingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtLastNameBillingVer') Last Name
                input#txtLastNameBillingVer.form-control(name='txtLastNameBillingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtCompanyBillingVer') Company
                input#txtCompanyBillingVer.form-control(name='txtCompanyBillingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtEmailAddressBillingVer') Email Address
                input#txtEmailAddressBillingVer.form-control(name='txtEmailAddressBillingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtAddress1BillingVer') Address 1
                textarea#txtAddress1BillingVer.form-control(name='txtAddress1BillingVer')
            .col-md-6
              .form-group
                label(for='txtAddress2BillingVer') Address 2
                textarea#txtAddress2BillingVer.form-control(name='txtAddress2BillingVer')
          .row
            .col-md-6
              .form-group
                label(for='txtCityBillingVer') City
                input#txtCityBillingVer.form-control(name='txtCityBillingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtStateProvinceBillingVer') State/Province
                input#txtStateProvinceBillingVer.form-control(name='txtStateProvinceBillingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtZipPostalBillingVer') Zip/Postal Code
                input#txtZipPostalBillingVer.form-control(name='txtZipPostalBillingVer', type='text')
            .col-md-6
              .form-group
                label(for='ddlCountryBillingVer') Country
                select#ddlCountryBillingVer.form-control(name='ddlCountryBillingVer')
                    option(value='') --Please Select
                    option(value='AF') Afghanistan
                    option(value='AX') Åland Islands
                    option(value='AL') Albania
                    option(value='DZ') Algeria
                    option(value='AS') American Samoa
                    option(value='AD') Andorra
                    option(value='AO') Angola
                    option(value='AI') Anguilla
                    option(value='AQ') Antarctica
                    option(value='AG') Antigua and Barbuda
                    option(value='AR') Argentina
                    option(value='AM') Armenia
                    option(value='AW') Aruba
                    option(value='AU') Australia
                    option(value='AT') Austria
                    option(value='AZ') Azerbaijan
                    option(value='BS') Bahamas
                    option(value='BH') Bahrain
                    option(value='BD') Bangladesh
                    option(value='BB') Barbados
                    option(value='BY') Belarus
                    option(value='BE') Belgium
                    option(value='BZ') Belize
                    option(value='BJ') Benin
                    option(value='BM') Bermuda
                    option(value='BT') Bhutan
                    option(value='BO') Bolivia
                    option(value='BA') Bosnia and Herzegovina
                    option(value='BW') Botswana
                    option(value='BV') Bouvet Island
                    option(value='BR') Brazil
                    option(value='IO') British Indian Ocean Territory
                    option(value='VG') British Virgin Islands
                    option(value='BN') Brunei
                    option(value='BG') Bulgaria
                    option(value='BF') Burkina Faso
                    option(value='BI') Burundi
                    option(value='KH') Cambodia
                    option(value='CM') Cameroon
                    option(value='CA') Canada
                    option(value='CV') Cape Verde
                    option(value='KY') Cayman Islands
                    option(value='CF') Central African Republic
                    option(value='TD') Chad
                    option(value='CL') Chile
                    option(value='CN') China
                    option(value='CX') Christmas Island
                    option(value='CC') Cocos [Keeling] Islands
                    option(value='CO') Colombia
                    option(value='KM') Comoros
                    option(value='CG') Congo - Brazzaville
                    option(value='CD') Congo - Kinshasa
                    option(value='CK') Cook Islands
                    option(value='CR') Costa Rica
                    option(value='CI') Côte d’Ivoire
                    option(value='HR') Croatia
                    option(value='CU') Cuba
                    option(value='CY') Cyprus
                    option(value='CZ') Czech Republic
                    option(value='DK') Denmark
                    option(value='DJ') Djibouti
                    option(value='DM') Dominica
                    option(value='DO') Dominican Republic
                    option(value='EC') Ecuador
                    option(value='EG') Egypt
                    option(value='SV') El Salvador
                    option(value='GQ') Equatorial Guinea
                    option(value='ER') Eritrea
                    option(value='EE') Estonia
                    option(value='ET') Ethiopia
                    option(value='FK') Falkland Islands
                    option(value='FO') Faroe Islands
                    option(value='FJ') Fiji
                    option(value='FI') Finland
                    option(value='FR') France
                    option(value='GF') French Guiana
                    option(value='PF') French Polynesia
                    option(value='TF') French Southern Territories
                    option(value='GA') Gabon
                    option(value='GM') Gambia
                    option(value='GE') Georgia
                    option(value='DE') Germany
                    option(value='GH') Ghana
                    option(value='GI') Gibraltar
                    option(value='GR') Greece
                    option(value='GL') Greenland
                    option(value='GD') Grenada
                    option(value='GP') Guadeloupe
                    option(value='GU') Guam
                    option(value='GT') Guatemala
                    option(value='GG') Guernsey
                    option(value='GN') Guinea
                    option(value='GW') Guinea-Bissau
                    option(value='GY') Guyana
                    option(value='HT') Haiti
                    option(value='HM') Heard Island and McDonald Islands
                    option(value='HN') Honduras
                    option(value='HK') Hong Kong SAR China
                    option(value='HU') Hungary
                    option(value='IS') Iceland
                    option(value='IN') India
                    option(value='ID') Indonesia
                    option(value='IR') Iran
                    option(value='IQ') Iraq
                    option(value='IE') Ireland
                    option(value='IM') Isle of Man
                    option(value='IL') Israel
                    option(value='IT') Italy
                    option(value='JM') Jamaica
                    option(value='JP') Japan
                    option(value='JE') Jersey
                    option(value='JO') Jordan
                    option(value='KZ') Kazakhstan
                    option(value='KE') Kenya
                    option(value='KI') Kiribati
                    option(value='KW') Kuwait
                    option(value='KG') Kyrgyzstan
                    option(value='LA') Laos
                    option(value='LV') Latvia
                    option(value='LB') Lebanon
                    option(value='LS') Lesotho
                    option(value='LR') Liberia
                    option(value='LY') Libya
                    option(value='LI') Liechtenstein
                    option(value='LT') Lithuania
                    option(value='LU') Luxembourg
                    option(value='MO') Macau SAR China
                    option(value='MK') Macedonia
                    option(value='MG') Madagascar
                    option(value='MW') Malawi
                    option(value='MY') Malaysia
                    option(value='MV') Maldives
                    option(value='ML') Mali
                    option(value='MT') Malta
                    option(value='MH') Marshall Islands
                    option(value='MQ') Martinique
                    option(value='MR') Mauritania
                    option(value='MU') Mauritius
                    option(value='YT') Mayotte
                    option(value='MX') Mexico
                    option(value='FM') Micronesia
                    option(value='MD') Moldova
                    option(value='MC') Monaco
                    option(value='MN') Mongolia
                    option(value='ME') Montenegro
                    option(value='MS') Montserrat
                    option(value='MA') Morocco
                    option(value='MZ') Mozambique
                    option(value='MM') Myanmar [Burma]
                    option(value='NA') Namibia
                    option(value='NR') Nauru
                    option(value='NP') Nepal
                    option(value='NL') Netherlands
                    option(value='AN') Netherlands Antilles
                    option(value='NC') New Caledonia
                    option(value='NZ') New Zealand
                    option(value='NI') Nicaragua
                    option(value='NE') Niger
                    option(value='NG') Nigeria
                    option(value='NU') Niue
                    option(value='NF') Norfolk Island
                    option(value='MP') Northern Mariana Islands
                    option(value='KP') North Korea
                    option(value='NO') Norway
                    option(value='OM') Oman
                    option(value='PK') Pakistan
                    option(value='PW') Palau
                    option(value='PS') Palestinian Territories
                    option(value='PA') Panama
                    option(value='PG') Papua New Guinea
                    option(value='PY') Paraguay
                    option(value='PE') Peru
                    option(value='PH') Philippines
                    option(value='PN') Pitcairn Islands
                    option(value='PL') Poland
                    option(value='PT') Portugal
                    option(value='PR') Puerto Rico
                    option(value='QA') Qatar
                    option(value='RE') Réunion
                    option(value='RO') Romania
                    option(value='RU') Russia
                    option(value='RW') Rwanda
                    option(value='BL') Saint Barthélemy
                    option(value='SH') Saint Helena
                    option(value='KN') Saint Kitts and Nevis
                    option(value='LC') Saint Lucia
                    option(value='MF') Saint Martin
                    option(value='PM') Saint Pierre and Miquelon
                    option(value='VC') Saint Vincent and the Grenadines
                    option(value='WS') Samoa
                    option(value='SM') San Marino
                    option(value='ST') São Tomé and Príncipe
                    option(value='SA') Saudi Arabia
                    option(value='SN') Senegal
                    option(value='RS') Serbia
                    option(value='SC') Seychelles
                    option(value='SL') Sierra Leone
                    option(value='SG') Singapore
                    option(value='SK') Slovakia
                    option(value='SI') Slovenia
                    option(value='SB') Solomon Islands
                    option(value='SO') Somalia
                    option(value='ZA') South Africa
                    option(value='GS') South Georgia and the South Sandwich Islands
                    option(value='KR') South Korea
                    option(value='ES') Spain
                    option(value='LK') Sri Lanka
                    option(value='SD') Sudan
                    option(value='SR') Suriname
                    option(value='SJ') Svalbard and Jan Mayen
                    option(value='SZ') Swaziland
                    option(value='SE') Sweden
                    option(value='CH') Switzerland
                    option(value='SY') Syria
                    option(value='TW') Taiwan
                    option(value='TJ') Tajikistan
                    option(value='TZ') Tanzania
                    option(value='TH') Thailand
                    option(value='TL') Timor-Leste
                    option(value='TG') Togo
                    option(value='TK') Tokelau
                    option(value='TO') Tonga
                    option(value='TT') Trinidad and Tobago
                    option(value='TN') Tunisia
                    option(value='TR') Turkey
                    option(value='TM') Turkmenistan
                    option(value='TC') Turks and Caicos Islands
                    option(value='TV') Tuvalu
                    option(value='UG') Uganda
                    option(value='UA') Ukraine
                    option(value='AE') United Arab Emirates
                    option(value='GB') United Kingdom
                    option(value='US') United States
                    option(value='UY') Uruguay
                    option(value='UM') U.S. Minor Outlying Islands
                    option(value='VI') U.S. Virgin Islands
                    option(value='UZ') Uzbekistan
                    option(value='VU') Vanuatu
                    option(value='VA') Vatican City
                    option(value='VE') Venezuela
                    option(value='VN') Vietnam
                    option(value='WF') Wallis and Futuna
                    option(value='EH') Western Sahara
                    option(value='YE') Yemen
                    option(value='ZM') Zambia
                    option(value='ZW') Zimbabwe
          .row
            .col-md-6
              .form-group
                label(for='txtTelephoneBillingVer') Telephone
                input#txtTelephoneBillingVer.form-control(name='txtTelephoneBillingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtFaxBillingVer') Fax
                input#txtFaxBillingVer.form-control(name='txtFaxBillingVer', type='text')
        h3 Shipping Information
        fieldset
          .row
            .col-md-6
              .form-group
                label(for='txtFirstNameShippingVer') First Name
                input#txtFirstNameShippingVer.form-control(name='txtFirstNameShippingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtLastNameShippingVer') Last Name
                input#txtLastNameShippingVer.form-control(name='txtLastNameShippingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtCompanyShippingVer') Company
                input#txtCompanyShippingVer.form-control(name='txtCompanyShippingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtEmailAddressShippingVer') Email Address
                input#txtEmailAddressShippingVer.form-control(name='txtEmailAddressShippingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtAddress1ShippingVer') Address 1
                textarea#txtAddress1ShippingVer.form-control(name='txtAddress1ShippingVer')
            .col-md-6
              .form-group
                label(for='txtAddress2ShippingVer') Address 2
                textarea#txtAddress2ShippingVer.form-control(name='txtAddress2ShippingVer')
          .row
            .col-md-6
              .form-group
                label(for='txtCityShippingVer') City
                input#txtCityShippingVer.form-control(name='txtCityShippingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtStateProvinceShippingVer') State/Province
                input#txtStateProvinceShippingVer.form-control(name='txtStateProvinceShippingVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtZipPostalShippingVer') Zip/Postal Code
                input#txtZipPostalShippingVer.form-control(name='txtZipPostalShippingVer', type='text')
            .col-md-6
              .form-group
                label(for='ddlCountryShippingVer') Country
                select#ddlCountryShippingVer.form-control(name='ddlCountryShippingVer')
                    option(value='') --Please Select--
                    option(value='AF') Afghanistan
                    option(value='AX') Åland Islands
                    option(value='AL') Albania
                    option(value='DZ') Algeria
                    option(value='AS') American Samoa
                    option(value='AD') Andorra
                    option(value='AO') Angola
                    option(value='AI') Anguilla
                    option(value='AQ') Antarctica
                    option(value='AG') Antigua and Barbuda
                    option(value='AR') Argentina
                    option(value='AM') Armenia
                    option(value='AW') Aruba
                    option(value='AU') Australia
                    option(value='AT') Austria
                    option(value='AZ') Azerbaijan
                    option(value='BS') Bahamas
                    option(value='BH') Bahrain
                    option(value='BD') Bangladesh
                    option(value='BB') Barbados
                    option(value='BY') Belarus
                    option(value='BE') Belgium
                    option(value='BZ') Belize
                    option(value='BJ') Benin
                    option(value='BM') Bermuda
                    option(value='BT') Bhutan
                    option(value='BO') Bolivia
                    option(value='BA') Bosnia and Herzegovina
                    option(value='BW') Botswana
                    option(value='BV') Bouvet Island
                    option(value='BR') Brazil
                    option(value='IO') British Indian Ocean Territory
                    option(value='VG') British Virgin Islands
                    option(value='BN') Brunei
                    option(value='BG') Bulgaria
                    option(value='BF') Burkina Faso
                    option(value='BI') Burundi
                    option(value='KH') Cambodia
                    option(value='CM') Cameroon
                    option(value='CA') Canada
                    option(value='CV') Cape Verde
                    option(value='KY') Cayman Islands
                    option(value='CF') Central African Republic
                    option(value='TD') Chad
                    option(value='CL') Chile
                    option(value='CN') China
                    option(value='CX') Christmas Island
                    option(value='CC') Cocos [Keeling] Islands
                    option(value='CO') Colombia
                    option(value='KM') Comoros
                    option(value='CG') Congo - Brazzaville
                    option(value='CD') Congo - Kinshasa
                    option(value='CK') Cook Islands
                    option(value='CR') Costa Rica
                    option(value='CI') Côte d’Ivoire
                    option(value='HR') Croatia
                    option(value='CU') Cuba
                    option(value='CY') Cyprus
                    option(value='CZ') Czech Republic
                    option(value='DK') Denmark
                    option(value='DJ') Djibouti
                    option(value='DM') Dominica
                    option(value='DO') Dominican Republic
                    option(value='EC') Ecuador
                    option(value='EG') Egypt
                    option(value='SV') El Salvador
                    option(value='GQ') Equatorial Guinea
                    option(value='ER') Eritrea
                    option(value='EE') Estonia
                    option(value='ET') Ethiopia
                    option(value='FK') Falkland Islands
                    option(value='FO') Faroe Islands
                    option(value='FJ') Fiji
                    option(value='FI') Finland
                    option(value='FR') France
                    option(value='GF') French Guiana
                    option(value='PF') French Polynesia
                    option(value='TF') French Southern Territories
                    option(value='GA') Gabon
                    option(value='GM') Gambia
                    option(value='GE') Georgia
                    option(value='DE') Germany
                    option(value='GH') Ghana
                    option(value='GI') Gibraltar
                    option(value='GR') Greece
                    option(value='GL') Greenland
                    option(value='GD') Grenada
                    option(value='GP') Guadeloupe
                    option(value='GU') Guam
                    option(value='GT') Guatemala
                    option(value='GG') Guernsey
                    option(value='GN') Guinea
                    option(value='GW') Guinea-Bissau
                    option(value='GY') Guyana
                    option(value='HT') Haiti
                    option(value='HM') Heard Island and McDonald Islands
                    option(value='HN') Honduras
                    option(value='HK') Hong Kong SAR China
                    option(value='HU') Hungary
                    option(value='IS') Iceland
                    option(value='IN') India
                    option(value='ID') Indonesia
                    option(value='IR') Iran
                    option(value='IQ') Iraq
                    option(value='IE') Ireland
                    option(value='IM') Isle of Man
                    option(value='IL') Israel
                    option(value='IT') Italy
                    option(value='JM') Jamaica
                    option(value='JP') Japan
                    option(value='JE') Jersey
                    option(value='JO') Jordan
                    option(value='KZ') Kazakhstan
                    option(value='KE') Kenya
                    option(value='KI') Kiribati
                    option(value='KW') Kuwait
                    option(value='KG') Kyrgyzstan
                    option(value='LA') Laos
                    option(value='LV') Latvia
                    option(value='LB') Lebanon
                    option(value='LS') Lesotho
                    option(value='LR') Liberia
                    option(value='LY') Libya
                    option(value='LI') Liechtenstein
                    option(value='LT') Lithuania
                    option(value='LU') Luxembourg
                    option(value='MO') Macau SAR China
                    option(value='MK') Macedonia
                    option(value='MG') Madagascar
                    option(value='MW') Malawi
                    option(value='MY') Malaysia
                    option(value='MV') Maldives
                    option(value='ML') Mali
                    option(value='MT') Malta
                    option(value='MH') Marshall Islands
                    option(value='MQ') Martinique
                    option(value='MR') Mauritania
                    option(value='MU') Mauritius
                    option(value='YT') Mayotte
                    option(value='MX') Mexico
                    option(value='FM') Micronesia
                    option(value='MD') Moldova
                    option(value='MC') Monaco
                    option(value='MN') Mongolia
                    option(value='ME') Montenegro
                    option(value='MS') Montserrat
                    option(value='MA') Morocco
                    option(value='MZ') Mozambique
                    option(value='MM') Myanmar [Burma]
                    option(value='NA') Namibia
                    option(value='NR') Nauru
                    option(value='NP') Nepal
                    option(value='NL') Netherlands
                    option(value='AN') Netherlands Antilles
                    option(value='NC') New Caledonia
                    option(value='NZ') New Zealand
                    option(value='NI') Nicaragua
                    option(value='NE') Niger
                    option(value='NG') Nigeria
                    option(value='NU') Niue
                    option(value='NF') Norfolk Island
                    option(value='MP') Northern Mariana Islands
                    option(value='KP') North Korea
                    option(value='NO') Norway
                    option(value='OM') Oman
                    option(value='PK') Pakistan
                    option(value='PW') Palau
                    option(value='PS') Palestinian Territories
                    option(value='PA') Panama
                    option(value='PG') Papua New Guinea
                    option(value='PY') Paraguay
                    option(value='PE') Peru
                    option(value='PH') Philippines
                    option(value='PN') Pitcairn Islands
                    option(value='PL') Poland
                    option(value='PT') Portugal
                    option(value='PR') Puerto Rico
                    option(value='QA') Qatar
                    option(value='RE') Réunion
                    option(value='RO') Romania
                    option(value='RU') Russia
                    option(value='RW') Rwanda
                    option(value='BL') Saint Barthélemy
                    option(value='SH') Saint Helena
                    option(value='KN') Saint Kitts and Nevis
                    option(value='LC') Saint Lucia
                    option(value='MF') Saint Martin
                    option(value='PM') Saint Pierre and Miquelon
                    option(value='VC') Saint Vincent and the Grenadines
                    option(value='WS') Samoa
                    option(value='SM') San Marino
                    option(value='ST') São Tomé and Príncipe
                    option(value='SA') Saudi Arabia
                    option(value='SN') Senegal
                    option(value='RS') Serbia
                    option(value='SC') Seychelles
                    option(value='SL') Sierra Leone
                    option(value='SG') Singapore
                    option(value='SK') Slovakia
                    option(value='SI') Slovenia
                    option(value='SB') Solomon Islands
                    option(value='SO') Somalia
                    option(value='ZA') South Africa
                    option(value='GS') South Georgia and the South Sandwich Islands
                    option(value='KR') South Korea
                    option(value='ES') Spain
                    option(value='LK') Sri Lanka
                    option(value='SD') Sudan
                    option(value='SR') Suriname
                    option(value='SJ') Svalbard and Jan Mayen
                    option(value='SZ') Swaziland
                    option(value='SE') Sweden
                    option(value='CH') Switzerland
                    option(value='SY') Syria
                    option(value='TW') Taiwan
                    option(value='TJ') Tajikistan
                    option(value='TZ') Tanzania
                    option(value='TH') Thailand
                    option(value='TL') Timor-Leste
                    option(value='TG') Togo
                    option(value='TK') Tokelau
                    option(value='TO') Tonga
                    option(value='TT') Trinidad and Tobago
                    option(value='TN') Tunisia
                    option(value='TR') Turkey
                    option(value='TM') Turkmenistan
                    option(value='TC') Turks and Caicos Islands
                    option(value='TV') Tuvalu
                    option(value='UG') Uganda
                    option(value='UA') Ukraine
                    option(value='AE') United Arab Emirates
                    option(value='GB') United Kingdom
                    option(value='US') United States
                    option(value='UY') Uruguay
                    option(value='UM') U.S. Minor Outlying Islands
                    option(value='VI') U.S. Virgin Islands
                    option(value='UZ') Uzbekistan
                    option(value='VU') Vanuatu
                    option(value='VA') Vatican City
                    option(value='VE') Venezuela
                    option(value='VN') Vietnam
                    option(value='WF') Wallis and Futuna
                    option(value='EH') Western Sahara
                    option(value='YE') Yemen
                    option(value='ZM') Zambia
                    option(value='ZW') Zimbabwe
          .row
            .col-md-6
              .form-group
                label(for='txtTelephoneShippingVer') Telephone
                input#txtTelephoneShippingVer.form-control(name='txtTelephoneShippingVer', type='text')
            .col-md-6
              .form-group
                label(for='txtFaxShippingVer') Fax
                input#txtFaxShippingVer.form-control(name='txtFaxShippingVer', type='text')
        h3 Payment Information
        fieldset
          .row
            .col-md-6
              .form-group
                label(for='txtNameCardVer') Name on Card
                input#txtNameCardVer.form-control(name='txtNameCardVer', type='text')
            .col-md-6
              .form-group
                label(for='ddlCreditCardTypeVer') Credit Card Type
                select#ddlCreditCardTypeVer.form-control(name='ddlCreditCardTypeVer')
                    option(value='') --Please Select--
                    option(value='AE') American Express
                    option(value='VI') Visa
                    option(value='MC') MasterCard
                    option(value='DI') Discover
          .row
            .col-md-6
              .form-group
                label(for='txtCreditCardNumberVer') Credit Card Number
                input#txtCreditCardNumberVer.form-control(name='txtCreditCardNumberVer', type='text')
            .col-md-6
              .form-group
                label(for='txtCardVerificationNumberVer') Card Verification Number
                input#txtCardVerificationNumberVer.form-control(name='txtCardVerificationNumberVer', type='text')
          .row
            .col-md-6
              .form-group
                label(for='txtExpirationDateVer') Expiration Date
                input#txtExpirationDateVer.form-control(name='txtExpirationDateVer', type='text')
        h3 Order Review
        fieldset
          table.table.table-bordered
            thead
              tr
                th(style='width:10%') #
                th(style='width:40%') Product Name
                th(style='width:15%') Price
                th(style='width:15%') Qty
                th(style='width:20%') Subtotal
            tbody
              tr
                th(scope='row') 1
                td Samsung Galaxy S7 Edge
                td.text-right $899.00
                td.text-right 1
                td.text-right $899.00
              tr
                th(scope='row') 2
                td Apple Iphone 6S Pus
                td.text-right $999.00
                td.text-right 1
                td.text-right $999.00
              tr
                th(scope='row') 3
                td Sony Xperia X Performance
                td.text-right $799.00
                td.text-right 1
                td.text-right $799.00
              tr
                td.text-right(colspan='4') Subtotal
                td.text-right $2597.00
              tr
                td.text-right(colspan='4') Shipping & Handling
                td.text-right $10.00
              tr
                td.text-right(colspan='4') Grand Total
                td.text-right $2607.00
  h3 Data Tables
  .widget
    .widget-heading
      h3.widget-title Select
    .widget-body
      table#example-6.table.table-striped.table-bordered(style='width: 100%')
        thead
          tr
            th Name
            th Position
            th Office
            th Age
            th Start date
            th Salary
        tfoot
          tr
            th Name
            th Position
            th Office
            th Age
            th Start date
            th Salary
        tbody
          tr
            td Tiger Nixon
            td System Architect
            td Edinburgh
            td 61
            td 2011/04/25
            td $320,800
          tr
            td Garrett Winters
            td Accountant
            td Tokyo
            td 63
            td 2011/07/25
            td $170,750
          tr
            td Ashton Cox
            td Junior Technical Author
            td San Francisco
            td 66
            td 2009/01/12
            td $86,000
          tr
            td Cedric Kelly
            td Senior Javascript Developer
            td Edinburgh
            td 22
            td 2012/03/29
            td $433,060
          tr
            td Airi Satou
            td Accountant
            td Tokyo
            td 33
            td 2008/11/28
            td $162,700
          tr
            td Brielle Williamson
            td Integration Specialist
            td New York
            td 61
            td 2012/12/02
            td $372,000
          tr
            td Herrod Chandler
            td Sales Assistant
            td San Francisco
            td 59
            td 2012/08/06
            td $137,500
          tr
            td Rhona Davidson
            td Integration Specialist
            td Tokyo
            td 55
            td 2010/10/14
            td $327,900
          tr
            td Colleen Hurst
            td Javascript Developer
            td San Francisco
            td 39
            td 2009/09/15
            td $205,500
          tr
            td Sonya Frost
            td Software Engineer
            td Edinburgh
            td 23
            td 2008/12/13
            td $103,600
          tr
            td Jena Gaines
            td Office Manager
            td London
            td 30
            td 2008/12/19
            td $90,560
          tr
            td Quinn Flynn
            td Support Lead
            td Edinburgh
            td 22
            td 2013/03/03
            td $342,000
          tr
            td Charde Marshall
            td Regional Director
            td San Francisco
            td 36
            td 2008/10/16
            td $470,600
          tr
            td Haley Kennedy
            td Senior Marketing Designer
            td London
            td 43
            td 2012/12/18
            td $313,500
          tr
            td Tatyana Fitzpatrick
            td Regional Director
            td London
            td 19
            td 2010/03/17
            td $385,750
          tr
            td Michael Silva
            td Marketing Designer
            td London
            td 66
            td 2012/11/27
            td $198,500
          tr
            td Paul Byrd
            td Chief Financial Officer (CFO)
            td New York
            td 64
            td 2010/06/09
            td $725,000
          tr
            td Gloria Little
            td Systems Administrator
            td New York
            td 59
            td 2009/04/10
            td $237,500
          tr
            td Bradley Greer
            td Software Engineer
            td London
            td 41
            td 2012/10/13
            td $132,000
          tr
            td Dai Rios
            td Personnel Lead
            td Edinburgh
            td 35
            td 2012/09/26
            td $217,500
          tr
            td Jenette Caldwell
            td Development Lead
            td New York
            td 30
            td 2011/09/03
            td $345,000
          tr
            td Yuri Berry
            td Chief Marketing Officer (CMO)
            td New York
            td 40
            td 2009/06/25
            td $675,000
          tr
            td Caesar Vance
            td Pre-Sales Support
            td New York
            td 21
            td 2011/12/12
            td $106,450
          tr
            td Doris Wilder
            td Sales Assistant
            td Sidney
            td 23
            td 2010/09/20
            td $85,600
          tr
            td Angelica Ramos
            td Chief Executive Officer (CEO)
            td London
            td 47
            td 2009/10/09
            td $1,200,000
          tr
            td Gavin Joyce
            td Developer
            td Edinburgh
            td 42
            td 2010/12/22
            td $92,575
          tr
            td Jennifer Chang
            td Regional Director
            td Singapore
            td 28
            td 2010/11/14
            td $357,650
          tr
            td Brenden Wagner
            td Software Engineer
            td San Francisco
            td 28
            td 2011/06/07
            td $206,850
          tr
            td Fiona Green
            td Chief Operating Officer (COO)
            td San Francisco
            td 48
            td 2010/03/11
            td $850,000
          tr
            td Shou Itou
            td Regional Marketing
            td Tokyo
            td 20
            td 2011/08/14
            td $163,000
          tr
            td Michelle House
            td Integration Specialist
            td Sidney
            td 37
            td 2011/06/02
            td $95,400
          tr
            td Suki Burks
            td Developer
            td London
            td 53
            td 2009/10/22
            td $114,500
          tr
            td Prescott Bartlett
            td Technical Author
            td London
            td 27
            td 2011/05/07
            td $145,000
          tr
            td Gavin Cortez
            td Team Leader
            td San Francisco
            td 22
            td 2008/10/26
            td $235,500
          tr
            td Martena Mccray
            td Post-Sales support
            td Edinburgh
            td 46
            td 2011/03/09
            td $324,050
          tr
            td Unity Butler
            td Marketing Designer
            td San Francisco
            td 47
            td 2009/12/09
            td $85,675
          tr
            td Howard Hatfield
            td Office Manager
            td San Francisco
            td 51
            td 2008/12/16
            td $164,500
          tr
            td Hope Fuentes
            td Secretary
            td San Francisco
            td 41
            td 2010/02/12
            td $109,850
          tr
            td Vivian Harrell
            td Financial Controller
            td San Francisco
            td 62
            td 2009/02/14
            td $452,500
          tr
            td Timothy Mooney
            td Office Manager
            td London
            td 37
            td 2008/12/11
            td $136,200
          tr
            td Jackson Bradshaw
            td Director
            td New York
            td 65
            td 2008/09/26
            td $645,750
          tr
            td Olivia Liang
            td Support Engineer
            td Singapore
            td 64
            td 2011/02/03
            td $234,500
          tr
            td Bruno Nash
            td Software Engineer
            td London
            td 38
            td 2011/05/03
            td $163,500
          tr
            td Sakura Yamamoto
            td Support Engineer
            td Tokyo
            td 37
            td 2009/08/19
            td $139,575
          tr
            td Thor Walton
            td Developer
            td New York
            td 61
            td 2013/08/11
            td $98,540
          tr
            td Finn Camacho
            td Support Engineer
            td San Francisco
            td 47
            td 2009/07/07
            td $87,500
          tr
            td Serge Baldwin
            td Data Coordinator
            td Singapore
            td 64
            td 2012/04/09
            td $138,575
          tr
            td Zenaida Frank
            td Software Engineer
            td New York
            td 63
            td 2010/01/04
            td $125,250
          tr
            td Zorita Serrano
            td Software Engineer
            td San Francisco
            td 56
            td 2012/06/01
            td $115,000
          tr
            td Jennifer Acosta
            td Junior Javascript Developer
            td Edinburgh
            td 43
            td 2013/02/01
            td $75,650
          tr
            td Cara Stevens
            td Sales Assistant
            td New York
            td 46
            td 2011/12/06
            td $145,600
          tr
            td Hermione Butler
            td Regional Director
            td London
            td 47
            td 2011/03/21
            td $356,250
          tr
            td Lael Greer
            td Systems Administrator
            td London
            td 21
            td 2009/02/27
            td $103,500
          tr
            td Jonas Alexander
            td Developer
            td San Francisco
            td 30
            td 2010/07/14
            td $86,500
          tr
            td Shad Decker
            td Regional Director
            td Edinburgh
            td 51
            td 2008/11/13
            td $183,000
          tr
            td Michael Bruce
            td Javascript Developer
            td Singapore
            td 29
            td 2011/06/27
            td $183,000
          tr
            td Donna Snider
            td Customer Support
            td New York
            td 27
            td 2011/01/25
            td $112,000