.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Line Chart
        .widget-body
          .chartjs
            canvas#linechart
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Bar Chart
        .widget-body
          .chartjs
            canvas#barchart
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Radar Chart
        .widget-body
          .chartjs
            canvas#radarchart
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Polar Chart
        .widget-body
          .chartjs
            canvas#polarchart
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Pie Chart
        .widget-body
          .chartjs
            canvas#piechart
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Doughnut Chart
        .widget-body
          .chartjs
            canvas#doughnutchart