.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Line Chart
        .widget-body
          #line-chart-legend.mb-10
          #line-chart(style='height: 250px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Stacked Bar Chart
        .widget-body
          #stack-bar-chart-legend.mb-10
          #stack-bar-chart(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Stacked Horizontal Bar Chart
        .widget-body
          #stack-hoz-bar-chart-legend.mb-10
          #stack-hoz-bar-chart(style='height: 250px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Stacked Area Chart
        .widget-body
          #stack-area-chart-legend.mb-10
          #stack-area-chart(style='height: 250px;')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Bar Chart
        .widget-body
          #bar-chart-legend.mb-10
          #bar-chart(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Horizontal Bar Chart
        .widget-body
          #hoz-bar-chart-legend.mb-10
          #hoz-bar-chart(style='height: 250px;')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Donut Chart
        .widget-body
          #donut-chart-legend.mb-10
          #donut-chart(style='height: 300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Pie Chart
        .widget-body
          #pie-chart-legend.mb-10
          #pie-chart(style='height: 300px;')
  .row
    .col-lg-12
      .widget
        .widget-heading
          h3.widget-title Combine Chart (Toggling Series)
        .widget-body
          #combine-chart-legend.mb-10
          #combine-chart(style='height: 300px;')