.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Bar Chart
        .widget-body
          #barchart
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Stacked Bar Chart
        .widget-body
          #stackbarchart
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Donut Chart
        .widget-body
          #donutchart
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Area Chart
        .widget-body
          #areachart
  .row
    .col-lg-12
      .widget
        .widget-heading
          h3.widget-title Line Chart
        .widget-body
          #linechart