.page-content.container-fluid
  h3.mt-0 Easy Pie Chart
  .row
    .col-md-4
      .chart-demo
        #esp-1.easy-pie-chart.fs-36(data-percent='75', style='height: 140px; width: 140px; line-height: 120px; padding: 10px;')
          i.ti-joomla.text-muted
    .col-md-4
      .chart-demo
        #esp-2.easy-pie-chart(data-percent='75', style='height: 140px; width: 140px; line-height: 120px; padding: 10px;')
          .percent(style='top: 45px; left: 45px')
    .col-md-4
      .chart-demo
        #esp-3.easy-pie-chart.fs-36(data-percent='75', style='height: 140px; width: 140px; line-height: 120px; padding: 10px;')
          i.ti-joomla.text-muted
  h3 Sparklines
  .row
    .col-md-4
      .chart-demo
        #sp-live
    .col-md-4
      .chart-demo
        #sp-line
    .col-md-4
      .chart-demo
        #sp-composite-1
  .row
    .col-md-4
      .chart-demo
        #sp-bar
    .col-md-4
      .chart-demo
        #sp-negative
    .col-md-4
      .chart-demo
        #sp-stacked-bar
  .row
    .col-md-4
      .chart-demo
        #sp-composite-2
    .col-md-4
      .chart-demo
        #sp-discrete-1
    .col-md-4
      .chart-demo
        #sp-discrete-2
  .row
    .col-md-4
      .chart-demo
        #sp-tristate
    .col-md-4
      .chart-demo
        #sp-box
    .col-md-4
      .chart-demo
        #sp-pie-1
  .row
    .col-md-4
      .chart-demo
        #sp-pie-2
    .col-md-4
      .chart-demo
        #sp-bullet-1
    .col-md-4
      .chart-demo
        #sp-bullet-2