// Font Awesome
link(rel='stylesheet', type='text/css', href=plugins+'font-awesome/css/font-awesome.min.css')
// Summernote
link(rel='stylesheet', type='text/css', href=plugins+'summernote/dist/summernote.css')
// Bootstrap Date Range Picker
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-daterangepicker/daterangepicker.css')