// DataTables
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-bs/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-buttons-bs/css/buttons.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-colreorder-bs/css/colReorder.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-responsive-bs/css/responsive.bootstrap.min.css')