.page-content.container-fluid
  .widget
    .widget-heading
      h3.widget-title Single File
    .widget-body
      form#single-dz.dropzone(action='/upload')
  .widget
    .widget-heading
      h3.widget-title Multiple File
    .widget-body
      form#multiple-dz.dropzone(action='/upload')
  .widget
    .widget-heading
      h3.widget-title File Type
    .widget-body
      form#type-dz.dropzone(action='/upload')
  .widget
    .widget-heading
      h3.widget-title File Limitations
    .widget-body
      form#limit-dz.dropzone(action='/upload')
  .widget
    .widget-heading
      h3.widget-title Modify Message
    .widget-body
      form#message-dz.dropzone(action='/upload')