// Font Awesome
link(rel='stylesheet', type='text/css', href=plugins+'font-awesome/css/font-awesome.min.css')
// Bootstrap Markdown
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-markdown/css/bootstrap-markdown.min.css')  