// Font Awesome
link(rel='stylesheet', type='text/css', href=plugins+'font-awesome/css/font-awesome.min.css')
// Summernote
link(rel='stylesheet', type='text/css', href=plugins+'summernote/dist/summernote.css')
// Codemirror
link(rel='stylesheet', type='text/css', href=plugins+'codemirror/lib/codemirror.css')
link(rel='stylesheet', type='text/css', href=plugins+'codemirror/theme/monokai.css')