// Owl Carousel
link(rel='stylesheet', type='text/css', href=plugins+'owl.carousel/dist/assets/owl.carousel.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'owl.carousel/dist/assets/owl.theme.default.min.css')