// jQuery MiniColors
script(type='text/javascript', src=plugins+'jquery-minicolors/jquery.minicolors.min.js')
// Bootstrap Color Picker Sliders
script(type='text/javascript', src=plugins+'bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.min.js')
// TinyColor
script(type='text/javascript', src=plugins+'tinycolor/dist/tinycolor-min.js')