// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// Bootstrap Date Range Picker
script(type='text/javascript', src=plugins+'bootstrap-daterangepicker/daterangepicker.js')