// Bootstrap Dual Listbox
script(type='text/javascript', src=plugins+'bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.min.js')
// Multi Select
script(type='text/javascript', src=plugins+'multiselect/js/jquery.multi-select.js')
// Quicksearch
script(type='text/javascript', src=plugins+'quicksearch/jquery.quicksearch.js')