.page-content.container-fluid
  h3.mt-0 First example
  .pricing-table.pricing-1
    .row
      .col-md-4
        .pricing-item
          h3.pricing-title Freelancer
          .pricing-price
            span.pricing-currency $
            | 19
            span.pricing-period /month
          p.pricing-sentence Perfect for single freelancers who work by themselves
          ul.list-unstyled.pricing-feature-list
            li Support forum
            li Free hosting
            li 40MB of storage space
            li &nbsp;
            li &nbsp;
            li &nbsp;
          button.btn.btn-block.btn-lg.btn-outline.btn-rounded.btn-primary(type='button') Choose plan
      .col-md-4
        .pricing-item
          h3.pricing-title Small business
          .pricing-price
            span.pricing-currency $
            | 29
            span.pricing-period /month
          p.pricing-sentence Suitable for small businesses with up to 5 employees
          ul.list-unstyled.pricing-feature-list
            li Unlimited calls
            li Free hosting
            li 10 hours of support
            li Social media integration
            li 1GB of storage space
            li &nbsp;
          button.btn.btn-block.btn-lg.btn-outline.btn-rounded.btn-primary(type='button') Choose plan
      .col-md-4
        .pricing-item
          h3.pricing-title Larger business
          .pricing-price
            span.pricing-currency $
            | 79
            span.pricing-period /month
          p.pricing-sentence Great for large businesses with more than 5 employees
          ul.list-unstyled.pricing-feature-list
            li Unlimited calls
            li Free hosting
            li Unlimited hours of support
            li Social media integration
            li Anaylitcs integration
            li Unlimited storage space
          button.btn.btn-block.btn-lg.btn-outline.btn-rounded.btn-primary(type='button') Choose plan
  h3 Second example
  .pricing-table.pricing-2
    .row
      .col-md-4
        .pricing-item
          h3.pricing-title Beginner Savers
          p.pricing-sentence For people who are starting out in the water saving business
          .pricing-price
            span.pricing-currency $
            | 19
            span.pricing-period /month
          ul.list-unstyled.pricing-feature-list
            li Free water saving e-book
            li Free access to forums
            li Beginners tips
          button.btn.btn-lg.btn-block.btn-default(type='button') Choose plan
      .col-md-4
        .pricing-item.pricing-item-featured
          .ribbon
            span POPULAR
          h3.pricing-title Advanced Savers
          p.pricing-sentence For experienced water savers who'd like to push their limits
          .pricing-price
            span.pricing-currency $
            | 29
            span.pricing-period /month
          ul.list-unstyled.pricing-feature-list
            li Free water saving e-book
            li Free access to forums
            li Advanced saving tips
          button.btn.btn-lg.btn-block.btn-default(type='button') Choose plan
      .col-md-4
        .pricing-item
          h3.pricing-title Pro Savers
          p.pricing-sentence For all the professionals who'd like to educate others, too
          .pricing-price
            span.pricing-currency $
            | 79
            span.pricing-period /month
          ul.list-unstyled.pricing-feature-list
            li Access to all books
            li Unlimited board topics
            li Advanced saving tips
          button.btn.btn-lg.btn-block.btn-default(type='button') Choose plan
  h3 Third example
  .pricing-table.pricing-3
    .row.row-0
      .col-md-4.pricing-item
        i.pricing-icon.ti-wheelchair
        h3.pricing-title Beginner
        .pricing-price
          span.pricing-currency $
          | 19
          span.pricing-period /month
        ul.list-unstyled.pricing-feature-list
          li 1 GB of space
          li Unlimited traffic
          li Forum access
          li Support at $25/hour
        button.btn.btn-lg.btn-rounded.btn-block.btn-success(type='button') Choose plan
      .col-md-4.pricing-item
        i.pricing-icon.ti-car
        h3.pricing-title Advanced
        .pricing-price
          span.pricing-currency $
          | 29
          span.pricing-period /month
        ul.list-unstyled.pricing-feature-list
          li 5 GB of space
          li Unlimited traffic
          li Forum access
          li Support at $5/hour
        button.btn.btn-lg.btn-rounded.btn-block.btn-success(type='button') Choose plan
      .col-md-4.pricing-item
        i.pricing-icon.ti-truck
        h3.pricing-title Professional
        .pricing-price
          span.pricing-currency $
          | 79
          span.pricing-period /month
        ul.list-unstyled.pricing-feature-list
          li 20 GB of space
          li Unlimited traffic
          li Forum access
          li Free Support
        button.btn.btn-lg.btn-rounded.btn-block.btn-success(type='button') Choose plan