// Bootstrap File Input
script(type='text/javascript', src=plugins+'bootstrap-fileinput/js/plugins/canvas-to-blob.min.js')
script(type='text/javascript', src=plugins+'bootstrap-fileinput/js/fileinput.min.js')