.page-content.container-fluid
  .widget
    .widget-heading
      h3.widget-title Control Types
    .widget-body
      .row
        .col-md-6
          .form-group
            label Minimum setup
            #minimum-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Custom formats
            #custom-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-timer
      .row
        .col-md-6
          .form-group
            label View mode
            #view-mode-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Min view mode
            #min-view-mode-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
  .widget
    .widget-heading
      h3.widget-title Input Modes
    .widget-body
      .row
        .col-md-6
          .form-group
            label No icon
            input#no-icon-dtpicker.form-control(type='text')
        .col-md-6
          .form-group
            label Inline
            #inline-dtpicker
  .widget
    .widget-heading
      h3.widget-title Positions
    .widget-body
      .row
        .col-md-6
          .form-group
            label Bottom left
            #bottom-left-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Bottom right
            #bottom-right-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
      .row
        .col-md-6
          .form-group
            label Top left
            #top-left-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Top right
            #top-right-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
  .widget
    .widget-heading
      h3.widget-title Locales
    .widget-body
      .row
        .col-md-6
          .form-group
            label France
            #france-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Russia
            #russia-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
      .row
        .col-md-6
          .form-group
            label Japan
            #japan-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Vietnam
            #vietnam-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
  .widget
    .widget-heading
      h3.widget-title …and more!
    .widget-body
      .row
        .col-md-6
          .form-group
            label Linked pickers
            #linked-pickers-1.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label &nbsp;
            #linked-pickers-2.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
      .row
        .col-md-6
          .form-group
            label Enabled/Disabled dates
            #status-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Disabled days of the week
            #disabled-days-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
      .row
        .col-md-6
          .form-group
            label Custom toolbar
            #custom-toolbar-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar
        .col-md-6
          .form-group
            label Custom icons
            #custom-icons-dtpicker.input-group.date
              input.form-control(type='text')
              span.input-group-addon
                span.ti-calendar