.page-content.container-fluid
  .icon-demo
    h3 Web Application
    .row
      .col-md-4.col-sm-6
        i.fa.fa-adjust
        |  adjust
      .col-md-4.col-sm-6
        i.fa.fa-anchor
        |  anchor
      .col-md-4.col-sm-6
        i.fa.fa-archive
        |  archive
      .col-md-4.col-sm-6
        i.fa.fa-area-chart
        |  area-chart
      .col-md-4.col-sm-6
        i.fa.fa-arrows
        |  arrows
      .col-md-4.col-sm-6
        i.fa.fa-arrows-h
        |  arrows-h
      .col-md-4.col-sm-6
        i.fa.fa-arrows-v
        |  arrows-v
      .col-md-4.col-sm-6
        i.fa.fa-asterisk
        |  asterisk
      .col-md-4.col-sm-6
        i.fa.fa-at
        |  at
      .col-md-4.col-sm-6
        i.fa.fa-automobile
        |  automobile 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-balance-scale
        |  balance-scale
      .col-md-4.col-sm-6
        i.fa.fa-ban
        |  ban
      .col-md-4.col-sm-6
        i.fa.fa-bank
        |  bank 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-bar-chart
        |  bar-chart
      .col-md-4.col-sm-6
        i.fa.fa-bar-chart-o
        |  bar-chart-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-barcode
        |  barcode
      .col-md-4.col-sm-6
        i.fa.fa-bars
        |  bars
      .col-md-4.col-sm-6
        i.fa.fa-battery-0
        |  battery-0 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-battery-1
        |  battery-1 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-battery-2
        |  battery-2 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-battery-3
        |  battery-3 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-battery-4
        |  battery-4 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-battery-empty
        |  battery-empty
      .col-md-4.col-sm-6
        i.fa.fa-battery-full
        |  battery-full
      .col-md-4.col-sm-6
        i.fa.fa-battery-half
        |  battery-half
      .col-md-4.col-sm-6
        i.fa.fa-battery-quarter
        |  battery-quarter
      .col-md-4.col-sm-6
        i.fa.fa-battery-three-quarters
        |  battery-three-quarters
      .col-md-4.col-sm-6
        i.fa.fa-bed
        |  bed
      .col-md-4.col-sm-6
        i.fa.fa-beer
        |  beer
      .col-md-4.col-sm-6
        i.fa.fa-bell
        |  bell
      .col-md-4.col-sm-6
        i.fa.fa-bell-o
        |  bell-o
      .col-md-4.col-sm-6
        i.fa.fa-bell-slash
        |  bell-slash
      .col-md-4.col-sm-6
        i.fa.fa-bell-slash-o
        |  bell-slash-o
      .col-md-4.col-sm-6
        i.fa.fa-bicycle
        |  bicycle
      .col-md-4.col-sm-6
        i.fa.fa-binoculars
        |  binoculars
      .col-md-4.col-sm-6
        i.fa.fa-birthday-cake
        |  birthday-cake
      .col-md-4.col-sm-6
        i.fa.fa-bolt
        |  bolt
      .col-md-4.col-sm-6
        i.fa.fa-bomb
        |  bomb
      .col-md-4.col-sm-6
        i.fa.fa-book
        |  book
      .col-md-4.col-sm-6
        i.fa.fa-bookmark
        |  bookmark
      .col-md-4.col-sm-6
        i.fa.fa-bookmark-o
        |  bookmark-o
      .col-md-4.col-sm-6
        i.fa.fa-briefcase
        |  briefcase
      .col-md-4.col-sm-6
        i.fa.fa-bug
        |  bug
      .col-md-4.col-sm-6
        i.fa.fa-building
        |  building
      .col-md-4.col-sm-6
        i.fa.fa-building-o
        |  building-o
      .col-md-4.col-sm-6
        i.fa.fa-bullhorn
        |  bullhorn
      .col-md-4.col-sm-6
        i.fa.fa-bullseye
        |  bullseye
      .col-md-4.col-sm-6
        i.fa.fa-bus
        |  bus
      .col-md-4.col-sm-6
        i.fa.fa-cab
        |  cab 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-calculator
        |  calculator
      .col-md-4.col-sm-6
        i.fa.fa-calendar
        |  calendar
      .col-md-4.col-sm-6
        i.fa.fa-calendar-check-o
        |  calendar-check-o
      .col-md-4.col-sm-6
        i.fa.fa-calendar-minus-o
        |  calendar-minus-o
      .col-md-4.col-sm-6
        i.fa.fa-calendar-o
        |  calendar-o
      .col-md-4.col-sm-6
        i.fa.fa-calendar-plus-o
        |  calendar-plus-o
      .col-md-4.col-sm-6
        i.fa.fa-calendar-times-o
        |  calendar-times-o
      .col-md-4.col-sm-6
        i.fa.fa-camera
        |  camera
      .col-md-4.col-sm-6
        i.fa.fa-camera-retro
        |  camera-retro
      .col-md-4.col-sm-6
        i.fa.fa-car
        |  car
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-down
        |  caret-square-o-down
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-left
        |  caret-square-o-left
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-right
        |  caret-square-o-right
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-up
        |  caret-square-o-up
      .col-md-4.col-sm-6
        i.fa.fa-cart-arrow-down
        |  cart-arrow-down
      .col-md-4.col-sm-6
        i.fa.fa-cart-plus
        |  cart-plus
      .col-md-4.col-sm-6
        i.fa.fa-cc
        |  cc
      .col-md-4.col-sm-6
        i.fa.fa-certificate
        |  certificate
      .col-md-4.col-sm-6
        i.fa.fa-check
        |  check
      .col-md-4.col-sm-6
        i.fa.fa-check-circle
        |  check-circle
      .col-md-4.col-sm-6
        i.fa.fa-check-circle-o
        |  check-circle-o
      .col-md-4.col-sm-6
        i.fa.fa-check-square
        |  check-square
      .col-md-4.col-sm-6
        i.fa.fa-check-square-o
        |  check-square-o
      .col-md-4.col-sm-6
        i.fa.fa-child
        |  child
      .col-md-4.col-sm-6
        i.fa.fa-circle
        |  circle
      .col-md-4.col-sm-6
        i.fa.fa-circle-o
        |  circle-o
      .col-md-4.col-sm-6
        i.fa.fa-circle-o-notch
        |  circle-o-notch
      .col-md-4.col-sm-6
        i.fa.fa-circle-thin
        |  circle-thin
      .col-md-4.col-sm-6
        i.fa.fa-clock-o
        |  clock-o
      .col-md-4.col-sm-6
        i.fa.fa-clone
        |  clone
      .col-md-4.col-sm-6
        i.fa.fa-close
        |  close 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-cloud
        |  cloud
      .col-md-4.col-sm-6
        i.fa.fa-cloud-download
        |  cloud-download
      .col-md-4.col-sm-6
        i.fa.fa-cloud-upload
        |  cloud-upload
      .col-md-4.col-sm-6
        i.fa.fa-code
        |  code
      .col-md-4.col-sm-6
        i.fa.fa-code-fork
        |  code-fork
      .col-md-4.col-sm-6
        i.fa.fa-coffee
        |  coffee
      .col-md-4.col-sm-6
        i.fa.fa-cog
        |  cog
      .col-md-4.col-sm-6
        i.fa.fa-cogs
        |  cogs
      .col-md-4.col-sm-6
        i.fa.fa-comment
        |  comment
      .col-md-4.col-sm-6
        i.fa.fa-comment-o
        |  comment-o
      .col-md-4.col-sm-6
        i.fa.fa-commenting
        |  commenting
      .col-md-4.col-sm-6
        i.fa.fa-commenting-o
        |  commenting-o
      .col-md-4.col-sm-6
        i.fa.fa-comments
        |  comments
      .col-md-4.col-sm-6
        i.fa.fa-comments-o
        |  comments-o
      .col-md-4.col-sm-6
        i.fa.fa-compass
        |  compass
      .col-md-4.col-sm-6
        i.fa.fa-copyright
        |  copyright
      .col-md-4.col-sm-6
        i.fa.fa-creative-commons
        |  creative-commons
      .col-md-4.col-sm-6
        i.fa.fa-credit-card
        |  credit-card
      .col-md-4.col-sm-6
        i.fa.fa-crop
        |  crop
      .col-md-4.col-sm-6
        i.fa.fa-crosshairs
        |  crosshairs
      .col-md-4.col-sm-6
        i.fa.fa-cube
        |  cube
      .col-md-4.col-sm-6
        i.fa.fa-cubes
        |  cubes
      .col-md-4.col-sm-6
        i.fa.fa-cutlery
        |  cutlery
      .col-md-4.col-sm-6
        i.fa.fa-dashboard
        |  dashboard 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-database
        |  database
      .col-md-4.col-sm-6
        i.fa.fa-desktop
        |  desktop
      .col-md-4.col-sm-6
        i.fa.fa-diamond
        |  diamond
      .col-md-4.col-sm-6
        i.fa.fa-dot-circle-o
        |  dot-circle-o
      .col-md-4.col-sm-6
        i.fa.fa-download
        |  download
      .col-md-4.col-sm-6
        i.fa.fa-edit
        |  edit 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-ellipsis-h
        |  ellipsis-h
      .col-md-4.col-sm-6
        i.fa.fa-ellipsis-v
        |  ellipsis-v
      .col-md-4.col-sm-6
        i.fa.fa-envelope
        |  envelope
      .col-md-4.col-sm-6
        i.fa.fa-envelope-o
        |  envelope-o
      .col-md-4.col-sm-6
        i.fa.fa-envelope-square
        |  envelope-square
      .col-md-4.col-sm-6
        i.fa.fa-eraser
        |  eraser
      .col-md-4.col-sm-6
        i.fa.fa-exchange
        |  exchange
      .col-md-4.col-sm-6
        i.fa.fa-exclamation
        |  exclamation
      .col-md-4.col-sm-6
        i.fa.fa-exclamation-circle
        |  exclamation-circle
      .col-md-4.col-sm-6
        i.fa.fa-exclamation-triangle
        |  exclamation-triangle
      .col-md-4.col-sm-6
        i.fa.fa-external-link
        |  external-link
      .col-md-4.col-sm-6
        i.fa.fa-external-link-square
        |  external-link-square
      .col-md-4.col-sm-6
        i.fa.fa-eye
        |  eye
      .col-md-4.col-sm-6
        i.fa.fa-eye-slash
        |  eye-slash
      .col-md-4.col-sm-6
        i.fa.fa-eyedropper
        |  eyedropper
      .col-md-4.col-sm-6
        i.fa.fa-fax
        |  fax
      .col-md-4.col-sm-6
        i.fa.fa-feed
        |  feed 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-female
        |  female
      .col-md-4.col-sm-6
        i.fa.fa-fighter-jet
        |  fighter-jet
      .col-md-4.col-sm-6
        i.fa.fa-file-archive-o
        |  file-archive-o
      .col-md-4.col-sm-6
        i.fa.fa-file-audio-o
        |  file-audio-o
      .col-md-4.col-sm-6
        i.fa.fa-file-code-o
        |  file-code-o
      .col-md-4.col-sm-6
        i.fa.fa-file-excel-o
        |  file-excel-o
      .col-md-4.col-sm-6
        i.fa.fa-file-image-o
        |  file-image-o
      .col-md-4.col-sm-6
        i.fa.fa-file-movie-o
        |  file-movie-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-pdf-o
        |  file-pdf-o
      .col-md-4.col-sm-6
        i.fa.fa-file-photo-o
        |  file-photo-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-picture-o
        |  file-picture-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-powerpoint-o
        |  file-powerpoint-o
      .col-md-4.col-sm-6
        i.fa.fa-file-sound-o
        |  file-sound-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-video-o
        |  file-video-o
      .col-md-4.col-sm-6
        i.fa.fa-file-word-o
        |  file-word-o
      .col-md-4.col-sm-6
        i.fa.fa-file-zip-o
        |  file-zip-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-film
        |  film
      .col-md-4.col-sm-6
        i.fa.fa-filter
        |  filter
      .col-md-4.col-sm-6
        i.fa.fa-fire
        |  fire
      .col-md-4.col-sm-6
        i.fa.fa-fire-extinguisher
        |  fire-extinguisher
      .col-md-4.col-sm-6
        i.fa.fa-flag
        |  flag
      .col-md-4.col-sm-6
        i.fa.fa-flag-checkered
        |  flag-checkered
      .col-md-4.col-sm-6
        i.fa.fa-flag-o
        |  flag-o
      .col-md-4.col-sm-6
        i.fa.fa-flash
        |  flash 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-flask
        |  flask
      .col-md-4.col-sm-6
        i.fa.fa-folder
        |  folder
      .col-md-4.col-sm-6
        i.fa.fa-folder-o
        |  folder-o
      .col-md-4.col-sm-6
        i.fa.fa-folder-open
        |  folder-open
      .col-md-4.col-sm-6
        i.fa.fa-folder-open-o
        |  folder-open-o
      .col-md-4.col-sm-6
        i.fa.fa-frown-o
        |  frown-o
      .col-md-4.col-sm-6
        i.fa.fa-futbol-o
        |  futbol-o
      .col-md-4.col-sm-6
        i.fa.fa-gamepad
        |  gamepad
      .col-md-4.col-sm-6
        i.fa.fa-gavel
        |  gavel
      .col-md-4.col-sm-6
        i.fa.fa-gear
        |  gear 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-gears
        |  gears 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-gift
        |  gift
      .col-md-4.col-sm-6
        i.fa.fa-glass
        |  glass
      .col-md-4.col-sm-6
        i.fa.fa-globe
        |  globe
      .col-md-4.col-sm-6
        i.fa.fa-graduation-cap
        |  graduation-cap
      .col-md-4.col-sm-6
        i.fa.fa-group
        |  group 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hand-grab-o
        |  hand-grab-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hand-lizard-o
        |  hand-lizard-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-paper-o
        |  hand-paper-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-peace-o
        |  hand-peace-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-pointer-o
        |  hand-pointer-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-rock-o
        |  hand-rock-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-scissors-o
        |  hand-scissors-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-spock-o
        |  hand-spock-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-stop-o
        |  hand-stop-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hdd-o
        |  hdd-o
      .col-md-4.col-sm-6
        i.fa.fa-headphones
        |  headphones
      .col-md-4.col-sm-6
        i.fa.fa-heart
        |  heart
      .col-md-4.col-sm-6
        i.fa.fa-heart-o
        |  heart-o
      .col-md-4.col-sm-6
        i.fa.fa-heartbeat
        |  heartbeat
      .col-md-4.col-sm-6
        i.fa.fa-history
        |  history
      .col-md-4.col-sm-6
        i.fa.fa-home
        |  home
      .col-md-4.col-sm-6
        i.fa.fa-hotel
        |  hotel 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hourglass
        |  hourglass
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-1
        |  hourglass-1 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-2
        |  hourglass-2 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-3
        |  hourglass-3 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-end
        |  hourglass-end
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-half
        |  hourglass-half
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-o
        |  hourglass-o
      .col-md-4.col-sm-6
        i.fa.fa-hourglass-start
        |  hourglass-start
      .col-md-4.col-sm-6
        i.fa.fa-i-cursor
        |  i-cursor
      .col-md-4.col-sm-6
        i.fa.fa-image
        |  image 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-inbox
        |  inbox
      .col-md-4.col-sm-6
        i.fa.fa-industry
        |  industry
      .col-md-4.col-sm-6
        i.fa.fa-info
        |  info
      .col-md-4.col-sm-6
        i.fa.fa-info-circle
        |  info-circle
      .col-md-4.col-sm-6
        i.fa.fa-institution
        |  institution 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-key
        |  key
      .col-md-4.col-sm-6
        i.fa.fa-keyboard-o
        |  keyboard-o
      .col-md-4.col-sm-6
        i.fa.fa-language
        |  language
      .col-md-4.col-sm-6
        i.fa.fa-laptop
        |  laptop
      .col-md-4.col-sm-6
        i.fa.fa-leaf
        |  leaf
      .col-md-4.col-sm-6
        i.fa.fa-legal
        |  legal 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-lemon-o
        |  lemon-o
      .col-md-4.col-sm-6
        i.fa.fa-level-down
        |  level-down
      .col-md-4.col-sm-6
        i.fa.fa-level-up
        |  level-up
      .col-md-4.col-sm-6
        i.fa.fa-life-bouy
        |  life-bouy 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-life-buoy
        |  life-buoy 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-life-ring
        |  life-ring
      .col-md-4.col-sm-6
        i.fa.fa-life-saver
        |  life-saver 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-lightbulb-o
        |  lightbulb-o
      .col-md-4.col-sm-6
        i.fa.fa-line-chart
        |  line-chart
      .col-md-4.col-sm-6
        i.fa.fa-location-arrow
        |  location-arrow
      .col-md-4.col-sm-6
        i.fa.fa-lock
        |  lock
      .col-md-4.col-sm-6
        i.fa.fa-magic
        |  magic
      .col-md-4.col-sm-6
        i.fa.fa-magnet
        |  magnet
      .col-md-4.col-sm-6
        i.fa.fa-mail-forward
        |  mail-forward 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-mail-reply
        |  mail-reply 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-mail-reply-all
        |  mail-reply-all 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-male
        |  male
      .col-md-4.col-sm-6
        i.fa.fa-map
        |  map
      .col-md-4.col-sm-6
        i.fa.fa-map-marker
        |  map-marker
      .col-md-4.col-sm-6
        i.fa.fa-map-o
        |  map-o
      .col-md-4.col-sm-6
        i.fa.fa-map-pin
        |  map-pin
      .col-md-4.col-sm-6
        i.fa.fa-map-signs
        |  map-signs
      .col-md-4.col-sm-6
        i.fa.fa-meh-o
        |  meh-o
      .col-md-4.col-sm-6
        i.fa.fa-microphone
        |  microphone
      .col-md-4.col-sm-6
        i.fa.fa-microphone-slash
        |  microphone-slash
      .col-md-4.col-sm-6
        i.fa.fa-minus
        |  minus
      .col-md-4.col-sm-6
        i.fa.fa-minus-circle
        |  minus-circle
      .col-md-4.col-sm-6
        i.fa.fa-minus-square
        |  minus-square
      .col-md-4.col-sm-6
        i.fa.fa-minus-square-o
        |  minus-square-o
      .col-md-4.col-sm-6
        i.fa.fa-mobile
        |  mobile
      .col-md-4.col-sm-6
        i.fa.fa-mobile-phone
        |  mobile-phone 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-money
        |  money
      .col-md-4.col-sm-6
        i.fa.fa-moon-o
        |  moon-o
      .col-md-4.col-sm-6
        i.fa.fa-mortar-board
        |  mortar-board 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-motorcycle
        |  motorcycle
      .col-md-4.col-sm-6
        i.fa.fa-mouse-pointer
        |  mouse-pointer
      .col-md-4.col-sm-6
        i.fa.fa-music
        |  music
      .col-md-4.col-sm-6
        i.fa.fa-navicon
        |  navicon 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-newspaper-o
        |  newspaper-o
      .col-md-4.col-sm-6
        i.fa.fa-object-group
        |  object-group
      .col-md-4.col-sm-6
        i.fa.fa-object-ungroup
        |  object-ungroup
      .col-md-4.col-sm-6
        i.fa.fa-paint-brush
        |  paint-brush
      .col-md-4.col-sm-6
        i.fa.fa-paper-plane
        |  paper-plane
      .col-md-4.col-sm-6
        i.fa.fa-paper-plane-o
        |  paper-plane-o
      .col-md-4.col-sm-6
        i.fa.fa-paw
        |  paw
      .col-md-4.col-sm-6
        i.fa.fa-pencil
        |  pencil
      .col-md-4.col-sm-6
        i.fa.fa-pencil-square
        |  pencil-square
      .col-md-4.col-sm-6
        i.fa.fa-pencil-square-o
        |  pencil-square-o
      .col-md-4.col-sm-6
        i.fa.fa-phone
        |  phone
      .col-md-4.col-sm-6
        i.fa.fa-phone-square
        |  phone-square
      .col-md-4.col-sm-6
        i.fa.fa-photo
        |  photo 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-picture-o
        |  picture-o
      .col-md-4.col-sm-6
        i.fa.fa-pie-chart
        |  pie-chart
      .col-md-4.col-sm-6
        i.fa.fa-plane
        |  plane
      .col-md-4.col-sm-6
        i.fa.fa-plug
        |  plug
      .col-md-4.col-sm-6
        i.fa.fa-plus
        |  plus
      .col-md-4.col-sm-6
        i.fa.fa-plus-circle
        |  plus-circle
      .col-md-4.col-sm-6
        i.fa.fa-plus-square
        |  plus-square
      .col-md-4.col-sm-6
        i.fa.fa-plus-square-o
        |  plus-square-o
      .col-md-4.col-sm-6
        i.fa.fa-power-off
        |  power-off
      .col-md-4.col-sm-6
        i.fa.fa-print
        |  print
      .col-md-4.col-sm-6
        i.fa.fa-puzzle-piece
        |  puzzle-piece
      .col-md-4.col-sm-6
        i.fa.fa-qrcode
        |  qrcode
      .col-md-4.col-sm-6
        i.fa.fa-question
        |  question
      .col-md-4.col-sm-6
        i.fa.fa-question-circle
        |  question-circle
      .col-md-4.col-sm-6
        i.fa.fa-quote-left
        |  quote-left
      .col-md-4.col-sm-6
        i.fa.fa-quote-right
        |  quote-right
      .col-md-4.col-sm-6
        i.fa.fa-random
        |  random
      .col-md-4.col-sm-6
        i.fa.fa-recycle
        |  recycle
      .col-md-4.col-sm-6
        i.fa.fa-refresh
        |  refresh
      .col-md-4.col-sm-6
        i.fa.fa-registered
        |  registered
      .col-md-4.col-sm-6
        i.fa.fa-remove
        |  remove 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-reorder
        |  reorder 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-reply
        |  reply
      .col-md-4.col-sm-6
        i.fa.fa-reply-all
        |  reply-all
      .col-md-4.col-sm-6
        i.fa.fa-retweet
        |  retweet
      .col-md-4.col-sm-6
        i.fa.fa-road
        |  road
      .col-md-4.col-sm-6
        i.fa.fa-rocket
        |  rocket
      .col-md-4.col-sm-6
        i.fa.fa-rss
        |  rss
      .col-md-4.col-sm-6
        i.fa.fa-rss-square
        |  rss-square
      .col-md-4.col-sm-6
        i.fa.fa-search
        |  search
      .col-md-4.col-sm-6
        i.fa.fa-search-minus
        |  search-minus
      .col-md-4.col-sm-6
        i.fa.fa-search-plus
        |  search-plus
      .col-md-4.col-sm-6
        i.fa.fa-send
        |  send 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-send-o
        |  send-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-server
        |  server
      .col-md-4.col-sm-6
        i.fa.fa-share
        |  share
      .col-md-4.col-sm-6
        i.fa.fa-share-alt
        |  share-alt
      .col-md-4.col-sm-6
        i.fa.fa-share-alt-square
        |  share-alt-square
      .col-md-4.col-sm-6
        i.fa.fa-share-square
        |  share-square
      .col-md-4.col-sm-6
        i.fa.fa-share-square-o
        |  share-square-o
      .col-md-4.col-sm-6
        i.fa.fa-shield
        |  shield
      .col-md-4.col-sm-6
        i.fa.fa-ship
        |  ship
      .col-md-4.col-sm-6
        i.fa.fa-shopping-cart
        |  shopping-cart
      .col-md-4.col-sm-6
        i.fa.fa-sign-in
        |  sign-in
      .col-md-4.col-sm-6
        i.fa.fa-sign-out
        |  sign-out
      .col-md-4.col-sm-6
        i.fa.fa-signal
        |  signal
      .col-md-4.col-sm-6
        i.fa.fa-sitemap
        |  sitemap
      .col-md-4.col-sm-6
        i.fa.fa-sliders
        |  sliders
      .col-md-4.col-sm-6
        i.fa.fa-smile-o
        |  smile-o
      .col-md-4.col-sm-6
        i.fa.fa-soccer-ball-o
        |  soccer-ball-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-sort
        |  sort
      .col-md-4.col-sm-6
        i.fa.fa-sort-alpha-asc
        |  sort-alpha-asc
      .col-md-4.col-sm-6
        i.fa.fa-sort-alpha-desc
        |  sort-alpha-desc
      .col-md-4.col-sm-6
        i.fa.fa-sort-amount-asc
        |  sort-amount-asc
      .col-md-4.col-sm-6
        i.fa.fa-sort-amount-desc
        |  sort-amount-desc
      .col-md-4.col-sm-6
        i.fa.fa-sort-asc
        |  sort-asc
      .col-md-4.col-sm-6
        i.fa.fa-sort-desc
        |  sort-desc
      .col-md-4.col-sm-6
        i.fa.fa-sort-down
        |  sort-down 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-sort-numeric-asc
        |  sort-numeric-asc
      .col-md-4.col-sm-6
        i.fa.fa-sort-numeric-desc
        |  sort-numeric-desc
      .col-md-4.col-sm-6
        i.fa.fa-sort-up
        |  sort-up 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-space-shuttle
        |  space-shuttle
      .col-md-4.col-sm-6
        i.fa.fa-spinner
        |  spinner
      .col-md-4.col-sm-6
        i.fa.fa-spoon
        |  spoon
      .col-md-4.col-sm-6
        i.fa.fa-square
        |  square
      .col-md-4.col-sm-6
        i.fa.fa-square-o
        |  square-o
      .col-md-4.col-sm-6
        i.fa.fa-star
        |  star
      .col-md-4.col-sm-6
        i.fa.fa-star-half
        |  star-half
      .col-md-4.col-sm-6
        i.fa.fa-star-half-empty
        |  star-half-empty 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-star-half-full
        |  star-half-full 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-star-half-o
        |  star-half-o
      .col-md-4.col-sm-6
        i.fa.fa-star-o
        |  star-o
      .col-md-4.col-sm-6
        i.fa.fa-sticky-note
        |  sticky-note
      .col-md-4.col-sm-6
        i.fa.fa-sticky-note-o
        |  sticky-note-o
      .col-md-4.col-sm-6
        i.fa.fa-street-view
        |  street-view
      .col-md-4.col-sm-6
        i.fa.fa-suitcase
        |  suitcase
      .col-md-4.col-sm-6
        i.fa.fa-sun-o
        |  sun-o
      .col-md-4.col-sm-6
        i.fa.fa-support
        |  support 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-tablet
        |  tablet
      .col-md-4.col-sm-6
        i.fa.fa-tachometer
        |  tachometer
      .col-md-4.col-sm-6
        i.fa.fa-tag
        |  tag
      .col-md-4.col-sm-6
        i.fa.fa-tags
        |  tags
      .col-md-4.col-sm-6
        i.fa.fa-tasks
        |  tasks
      .col-md-4.col-sm-6
        i.fa.fa-taxi
        |  taxi
      .col-md-4.col-sm-6
        i.fa.fa-television
        |  television
      .col-md-4.col-sm-6
        i.fa.fa-terminal
        |  terminal
      .col-md-4.col-sm-6
        i.fa.fa-thumb-tack
        |  thumb-tack
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-down
        |  thumbs-down
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-o-down
        |  thumbs-o-down
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-o-up
        |  thumbs-o-up
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-up
        |  thumbs-up
      .col-md-4.col-sm-6
        i.fa.fa-ticket
        |  ticket
      .col-md-4.col-sm-6
        i.fa.fa-times
        |  times
      .col-md-4.col-sm-6
        i.fa.fa-times-circle
        |  times-circle
      .col-md-4.col-sm-6
        i.fa.fa-times-circle-o
        |  times-circle-o
      .col-md-4.col-sm-6
        i.fa.fa-tint
        |  tint
      .col-md-4.col-sm-6
        i.fa.fa-toggle-down
        |  toggle-down 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-left
        |  toggle-left 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-off
        |  toggle-off
      .col-md-4.col-sm-6
        i.fa.fa-toggle-on
        |  toggle-on
      .col-md-4.col-sm-6
        i.fa.fa-toggle-right
        |  toggle-right 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-up
        |  toggle-up 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-trademark
        |  trademark
      .col-md-4.col-sm-6
        i.fa.fa-trash
        |  trash
      .col-md-4.col-sm-6
        i.fa.fa-trash-o
        |  trash-o
      .col-md-4.col-sm-6
        i.fa.fa-tree
        |  tree
      .col-md-4.col-sm-6
        i.fa.fa-trophy
        |  trophy
      .col-md-4.col-sm-6
        i.fa.fa-truck
        |  truck
      .col-md-4.col-sm-6
        i.fa.fa-tty
        |  tty
      .col-md-4.col-sm-6
        i.fa.fa-tv
        |  tv 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-umbrella
        |  umbrella
      .col-md-4.col-sm-6
        i.fa.fa-university
        |  university
      .col-md-4.col-sm-6
        i.fa.fa-unlock
        |  unlock
      .col-md-4.col-sm-6
        i.fa.fa-unlock-alt
        |  unlock-alt
      .col-md-4.col-sm-6
        i.fa.fa-unsorted
        |  unsorted 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-upload
        |  upload
      .col-md-4.col-sm-6
        i.fa.fa-user
        |  user
      .col-md-4.col-sm-6
        i.fa.fa-user-plus
        |  user-plus
      .col-md-4.col-sm-6
        i.fa.fa-user-secret
        |  user-secret
      .col-md-4.col-sm-6
        i.fa.fa-user-times
        |  user-times
      .col-md-4.col-sm-6
        i.fa.fa-users
        |  users
      .col-md-4.col-sm-6
        i.fa.fa-video-camera
        |  video-camera
      .col-md-4.col-sm-6
        i.fa.fa-volume-down
        |  volume-down
      .col-md-4.col-sm-6
        i.fa.fa-volume-off
        |  volume-off
      .col-md-4.col-sm-6
        i.fa.fa-volume-up
        |  volume-up
      .col-md-4.col-sm-6
        i.fa.fa-warning
        |  warning 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-wheelchair
        |  wheelchair
      .col-md-4.col-sm-6
        i.fa.fa-wifi
        |  wifi
      .col-md-4.col-sm-6
        i.fa.fa-wrench
        |  wrench
    h3 Hand
    .row
      .col-md-4.col-sm-6
        i.fa.fa-hand-grab-o
        |  hand-grab-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-hand-lizard-o
        |  hand-lizard-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-down
        |  hand-o-down
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-left
        |  hand-o-left
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-right
        |  hand-o-right
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-up
        |  hand-o-up
      .col-md-4.col-sm-6
        i.fa.fa-hand-paper-o
        |  hand-paper-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-peace-o
        |  hand-peace-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-pointer-o
        |  hand-pointer-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-rock-o
        |  hand-rock-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-scissors-o
        |  hand-scissors-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-spock-o
        |  hand-spock-o
      .col-md-4.col-sm-6
        i.fa.fa-hand-stop-o
        |  hand-stop-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-down
        |  thumbs-down
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-o-down
        |  thumbs-o-down
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-o-up
        |  thumbs-o-up
      .col-md-4.col-sm-6
        i.fa.fa-thumbs-up
        |  thumbs-up
    h3 Transportation
    .row
      .col-md-4.col-sm-6
        i.fa.fa-ambulance
        |  ambulance
      .col-md-4.col-sm-6
        i.fa.fa-automobile
        |  automobile 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-bicycle
        |  bicycle
      .col-md-4.col-sm-6
        i.fa.fa-bus
        |  bus
      .col-md-4.col-sm-6
        i.fa.fa-cab
        |  cab 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-car
        |  car
      .col-md-4.col-sm-6
        i.fa.fa-fighter-jet
        |  fighter-jet
      .col-md-4.col-sm-6
        i.fa.fa-motorcycle
        |  motorcycle
      .col-md-4.col-sm-6
        i.fa.fa-plane
        |  plane
      .col-md-4.col-sm-6
        i.fa.fa-rocket
        |  rocket
      .col-md-4.col-sm-6
        i.fa.fa-ship
        |  ship
      .col-md-4.col-sm-6
        i.fa.fa-space-shuttle
        |  space-shuttle
      .col-md-4.col-sm-6
        i.fa.fa-subway
        |  subway
      .col-md-4.col-sm-6
        i.fa.fa-taxi
        |  taxi
      .col-md-4.col-sm-6
        i.fa.fa-train
        |  train
      .col-md-4.col-sm-6
        i.fa.fa-truck
        |  truck
      .col-md-4.col-sm-6
        i.fa.fa-wheelchair
        |  wheelchair
    h3 Gender
    .row
      .col-md-4.col-sm-6
        i.fa.fa-genderless
        |  genderless
      .col-md-4.col-sm-6
        i.fa.fa-intersex
        |  intersex 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-mars
        |  mars
      .col-md-4.col-sm-6
        i.fa.fa-mars-double
        |  mars-double
      .col-md-4.col-sm-6
        i.fa.fa-mars-stroke
        |  mars-stroke
      .col-md-4.col-sm-6
        i.fa.fa-mars-stroke-h
        |  mars-stroke-h
      .col-md-4.col-sm-6
        i.fa.fa-mars-stroke-v
        |  mars-stroke-v
      .col-md-4.col-sm-6
        i.fa.fa-mercury
        |  mercury
      .col-md-4.col-sm-6
        i.fa.fa-neuter
        |  neuter
      .col-md-4.col-sm-6
        i.fa.fa-transgender
        |  transgender
      .col-md-4.col-sm-6
        i.fa.fa-transgender-alt
        |  transgender-alt
      .col-md-4.col-sm-6
        i.fa.fa-venus
        |  venus
      .col-md-4.col-sm-6
        i.fa.fa-venus-double
        |  venus-double
      .col-md-4.col-sm-6
        i.fa.fa-venus-mars
        |  venus-mars
    h3 File Type
    .row
      .col-md-4.col-sm-6
        i.fa.fa-file
        |  file
      .col-md-4.col-sm-6
        i.fa.fa-file-archive-o
        |  file-archive-o
      .col-md-4.col-sm-6
        i.fa.fa-file-audio-o
        |  file-audio-o
      .col-md-4.col-sm-6
        i.fa.fa-file-code-o
        |  file-code-o
      .col-md-4.col-sm-6
        i.fa.fa-file-excel-o
        |  file-excel-o
      .col-md-4.col-sm-6
        i.fa.fa-file-image-o
        |  file-image-o
      .col-md-4.col-sm-6
        i.fa.fa-file-movie-o
        |  file-movie-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-o
        |  file-o
      .col-md-4.col-sm-6
        i.fa.fa-file-pdf-o
        |  file-pdf-o
      .col-md-4.col-sm-6
        i.fa.fa-file-photo-o
        |  file-photo-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-picture-o
        |  file-picture-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-powerpoint-o
        |  file-powerpoint-o
      .col-md-4.col-sm-6
        i.fa.fa-file-sound-o
        |  file-sound-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-file-text
        |  file-text
      .col-md-4.col-sm-6
        i.fa.fa-file-text-o
        |  file-text-o
      .col-md-4.col-sm-6
        i.fa.fa-file-video-o
        |  file-video-o
      .col-md-4.col-sm-6
        i.fa.fa-file-word-o
        |  file-word-o
      .col-md-4.col-sm-6
        i.fa.fa-file-zip-o
        |  file-zip-o 
        span.text-muted (alias)
    h3 Spinner
    .row
      .col-md-4.col-sm-6
        i.fa.fa-circle-o-notch
        |  circle-o-notch
      .col-md-4.col-sm-6
        i.fa.fa-cog
        |  cog
      .col-md-4.col-sm-6
        i.fa.fa-gear
        |  gear 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-refresh
        |  refresh
      .col-md-4.col-sm-6
        i.fa.fa-spinner
        |  spinner
    h3 Form Control
    .row
      .col-md-4.col-sm-6
        i.fa.fa-check-square
        |  check-square
      .col-md-4.col-sm-6
        i.fa.fa-check-square-o
        |  check-square-o
      .col-md-4.col-sm-6
        i.fa.fa-circle
        |  circle
      .col-md-4.col-sm-6
        i.fa.fa-circle-o
        |  circle-o
      .col-md-4.col-sm-6
        i.fa.fa-dot-circle-o
        |  dot-circle-o
      .col-md-4.col-sm-6
        i.fa.fa-minus-square
        |  minus-square
      .col-md-4.col-sm-6
        i.fa.fa-minus-square-o
        |  minus-square-o
      .col-md-4.col-sm-6
        i.fa.fa-plus-square
        |  plus-square
      .col-md-4.col-sm-6
        i.fa.fa-plus-square-o
        |  plus-square-o
      .col-md-4.col-sm-6
        i.fa.fa-square
        |  square
      .col-md-4.col-sm-6
        i.fa.fa-square-o
        |  square-o
    h3 Payment
    .row
      .col-md-4.col-sm-6
        i.fa.fa-cc-amex
        |  cc-amex
      .col-md-4.col-sm-6
        i.fa.fa-cc-diners-club
        |  cc-diners-club
      .col-md-4.col-sm-6
        i.fa.fa-cc-discover
        |  cc-discover
      .col-md-4.col-sm-6
        i.fa.fa-cc-jcb
        |  cc-jcb
      .col-md-4.col-sm-6
        i.fa.fa-cc-mastercard
        |  cc-mastercard
      .col-md-4.col-sm-6
        i.fa.fa-cc-paypal
        |  cc-paypal
      .col-md-4.col-sm-6
        i.fa.fa-cc-stripe
        |  cc-stripe
      .col-md-4.col-sm-6
        i.fa.fa-cc-visa
        |  cc-visa
      .col-md-4.col-sm-6
        i.fa.fa-credit-card
        |  credit-card
      .col-md-4.col-sm-6
        i.fa.fa-google-wallet
        |  google-wallet
      .col-md-4.col-sm-6
        i.fa.fa-paypal
        |  paypal
    h3 Chart
    .row
      .col-md-4.col-sm-6
        i.fa.fa-area-chart
        |  area-chart
      .col-md-4.col-sm-6
        i.fa.fa-bar-chart
        |  bar-chart
      .col-md-4.col-sm-6
        i.fa.fa-bar-chart-o
        |  bar-chart-o 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-line-chart
        |  line-chart
      .col-md-4.col-sm-6
        i.fa.fa-pie-chart
        |  pie-chart
    h3 Currency
    .row
      .col-md-4.col-sm-6
        i.fa.fa-bitcoin
        |  bitcoin 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-btc
        |  btc
      .col-md-4.col-sm-6
        i.fa.fa-cny
        |  cny 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-dollar
        |  dollar 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-eur
        |  eur
      .col-md-4.col-sm-6
        i.fa.fa-euro
        |  euro 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-gbp
        |  gbp
      .col-md-4.col-sm-6
        i.fa.fa-gg
        |  gg
      .col-md-4.col-sm-6
        i.fa.fa-gg-circle
        |  gg-circle
      .col-md-4.col-sm-6
        i.fa.fa-ils
        |  ils
      .col-md-4.col-sm-6
        i.fa.fa-inr
        |  inr
      .col-md-4.col-sm-6
        i.fa.fa-jpy
        |  jpy
      .col-md-4.col-sm-6
        i.fa.fa-krw
        |  krw
      .col-md-4.col-sm-6
        i.fa.fa-money
        |  money
      .col-md-4.col-sm-6
        i.fa.fa-rmb
        |  rmb 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-rouble
        |  rouble 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-rub
        |  rub
      .col-md-4.col-sm-6
        i.fa.fa-ruble
        |  ruble 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-rupee
        |  rupee 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-shekel
        |  shekel 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-sheqel
        |  sheqel 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-try
        |  try
      .col-md-4.col-sm-6
        i.fa.fa-turkish-lira
        |  turkish-lira 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-usd
        |  usd
      .col-md-4.col-sm-6
        i.fa.fa-won
        |  won 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-yen
        |  yen 
        span.text-muted (alias)
    h3 Text Editor
    .row
      .col-md-4.col-sm-6
        i.fa.fa-align-center
        |  align-center
      .col-md-4.col-sm-6
        i.fa.fa-align-justify
        |  align-justify
      .col-md-4.col-sm-6
        i.fa.fa-align-left
        |  align-left
      .col-md-4.col-sm-6
        i.fa.fa-align-right
        |  align-right
      .col-md-4.col-sm-6
        i.fa.fa-bold
        |  bold
      .col-md-4.col-sm-6
        i.fa.fa-chain
        |  chain 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-chain-broken
        |  chain-broken
      .col-md-4.col-sm-6
        i.fa.fa-clipboard
        |  clipboard
      .col-md-4.col-sm-6
        i.fa.fa-columns
        |  columns
      .col-md-4.col-sm-6
        i.fa.fa-copy
        |  copy 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-cut
        |  cut 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-dedent
        |  dedent 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-eraser
        |  eraser
      .col-md-4.col-sm-6
        i.fa.fa-file
        |  file
      .col-md-4.col-sm-6
        i.fa.fa-file-o
        |  file-o
      .col-md-4.col-sm-6
        i.fa.fa-file-text
        |  file-text
      .col-md-4.col-sm-6
        i.fa.fa-file-text-o
        |  file-text-o
      .col-md-4.col-sm-6
        i.fa.fa-files-o
        |  files-o
      .col-md-4.col-sm-6
        i.fa.fa-floppy-o
        |  floppy-o
      .col-md-4.col-sm-6
        i.fa.fa-font
        |  font
      .col-md-4.col-sm-6
        i.fa.fa-header
        |  header
      .col-md-4.col-sm-6
        i.fa.fa-indent
        |  indent
      .col-md-4.col-sm-6
        i.fa.fa-italic
        |  italic
      .col-md-4.col-sm-6
        i.fa.fa-link
        |  link
      .col-md-4.col-sm-6
        i.fa.fa-list
        |  list
      .col-md-4.col-sm-6
        i.fa.fa-list-alt
        |  list-alt
      .col-md-4.col-sm-6
        i.fa.fa-list-ol
        |  list-ol
      .col-md-4.col-sm-6
        i.fa.fa-list-ul
        |  list-ul
      .col-md-4.col-sm-6
        i.fa.fa-outdent
        |  outdent
      .col-md-4.col-sm-6
        i.fa.fa-paperclip
        |  paperclip
      .col-md-4.col-sm-6
        i.fa.fa-paragraph
        |  paragraph
      .col-md-4.col-sm-6
        i.fa.fa-paste
        |  paste 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-repeat
        |  repeat
      .col-md-4.col-sm-6
        i.fa.fa-rotate-left
        |  rotate-left 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-rotate-right
        |  rotate-right 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-save
        |  save 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-scissors
        |  scissors
      .col-md-4.col-sm-6
        i.fa.fa-strikethrough
        |  strikethrough
      .col-md-4.col-sm-6
        i.fa.fa-subscript
        |  subscript
      .col-md-4.col-sm-6
        i.fa.fa-superscript
        |  superscript
      .col-md-4.col-sm-6
        i.fa.fa-table
        |  table
      .col-md-4.col-sm-6
        i.fa.fa-text-height
        |  text-height
      .col-md-4.col-sm-6
        i.fa.fa-text-width
        |  text-width
      .col-md-4.col-sm-6
        i.fa.fa-th
        |  th
      .col-md-4.col-sm-6
        i.fa.fa-th-large
        |  th-large
      .col-md-4.col-sm-6
        i.fa.fa-th-list
        |  th-list
      .col-md-4.col-sm-6
        i.fa.fa-underline
        |  underline
      .col-md-4.col-sm-6
        i.fa.fa-undo
        |  undo
      .col-md-4.col-sm-6
        i.fa.fa-unlink
        |  unlink 
        span.text-muted (alias)
    h3 Directional 
    .row
      .col-md-4.col-sm-6
        i.fa.fa-angle-double-down
        |  angle-double-down
      .col-md-4.col-sm-6
        i.fa.fa-angle-double-left
        |  angle-double-left
      .col-md-4.col-sm-6
        i.fa.fa-angle-double-right
        |  angle-double-right
      .col-md-4.col-sm-6
        i.fa.fa-angle-double-up
        |  angle-double-up
      .col-md-4.col-sm-6
        i.fa.fa-angle-down
        |  angle-down
      .col-md-4.col-sm-6
        i.fa.fa-angle-left
        |  angle-left
      .col-md-4.col-sm-6
        i.fa.fa-angle-right
        |  angle-right
      .col-md-4.col-sm-6
        i.fa.fa-angle-up
        |  angle-up
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-down
        |  arrow-circle-down
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-left
        |  arrow-circle-left
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-o-down
        |  arrow-circle-o-down
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-o-left
        |  arrow-circle-o-left
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-o-right
        |  arrow-circle-o-right
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-o-up
        |  arrow-circle-o-up
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-right
        |  arrow-circle-right
      .col-md-4.col-sm-6
        i.fa.fa-arrow-circle-up
        |  arrow-circle-up
      .col-md-4.col-sm-6
        i.fa.fa-arrow-down
        |  arrow-down
      .col-md-4.col-sm-6
        i.fa.fa-arrow-left
        |  arrow-left
      .col-md-4.col-sm-6
        i.fa.fa-arrow-right
        |  arrow-right
      .col-md-4.col-sm-6
        i.fa.fa-arrow-up
        |  arrow-up
      .col-md-4.col-sm-6
        i.fa.fa-arrows
        |  arrows
      .col-md-4.col-sm-6
        i.fa.fa-arrows-alt
        |  arrows-alt
      .col-md-4.col-sm-6
        i.fa.fa-arrows-h
        |  arrows-h
      .col-md-4.col-sm-6
        i.fa.fa-arrows-v
        |  arrows-v
      .col-md-4.col-sm-6
        i.fa.fa-caret-down
        |  caret-down
      .col-md-4.col-sm-6
        i.fa.fa-caret-left
        |  caret-left
      .col-md-4.col-sm-6
        i.fa.fa-caret-right
        |  caret-right
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-down
        |  caret-square-o-down
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-left
        |  caret-square-o-left
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-right
        |  caret-square-o-right
      .col-md-4.col-sm-6
        i.fa.fa-caret-square-o-up
        |  caret-square-o-up
      .col-md-4.col-sm-6
        i.fa.fa-caret-up
        |  caret-up
      .col-md-4.col-sm-6
        i.fa.fa-chevron-circle-down
        |  chevron-circle-down
      .col-md-4.col-sm-6
        i.fa.fa-chevron-circle-left
        |  chevron-circle-left
      .col-md-4.col-sm-6
        i.fa.fa-chevron-circle-right
        |  chevron-circle-right
      .col-md-4.col-sm-6
        i.fa.fa-chevron-circle-up
        |  chevron-circle-up
      .col-md-4.col-sm-6
        i.fa.fa-chevron-down
        |  chevron-down
      .col-md-4.col-sm-6
        i.fa.fa-chevron-left
        |  chevron-left
      .col-md-4.col-sm-6
        i.fa.fa-chevron-right
        |  chevron-right
      .col-md-4.col-sm-6
        i.fa.fa-chevron-up
        |  chevron-up
      .col-md-4.col-sm-6
        i.fa.fa-exchange
        |  exchange
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-down
        |  hand-o-down
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-left
        |  hand-o-left
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-right
        |  hand-o-right
      .col-md-4.col-sm-6
        i.fa.fa-hand-o-up
        |  hand-o-up
      .col-md-4.col-sm-6
        i.fa.fa-long-arrow-down
        |  long-arrow-down
      .col-md-4.col-sm-6
        i.fa.fa-long-arrow-left
        |  long-arrow-left
      .col-md-4.col-sm-6
        i.fa.fa-long-arrow-right
        |  long-arrow-right
      .col-md-4.col-sm-6
        i.fa.fa-long-arrow-up
        |  long-arrow-up
      .col-md-4.col-sm-6
        i.fa.fa-toggle-down
        |  toggle-down 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-left
        |  toggle-left 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-right
        |  toggle-right 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-toggle-up
        |  toggle-up 
        span.text-muted (alias)
    h3 Video Player
    .row
      .col-md-4.col-sm-6
        i.fa.fa-arrows-alt
        |  arrows-alt
      .col-md-4.col-sm-6
        i.fa.fa-backward
        |  backward
      .col-md-4.col-sm-6
        i.fa.fa-compress
        |  compress
      .col-md-4.col-sm-6
        i.fa.fa-eject
        |  eject
      .col-md-4.col-sm-6
        i.fa.fa-expand
        |  expand
      .col-md-4.col-sm-6
        i.fa.fa-fast-backward
        |  fast-backward
      .col-md-4.col-sm-6
        i.fa.fa-fast-forward
        |  fast-forward
      .col-md-4.col-sm-6
        i.fa.fa-forward
        |  forward
      .col-md-4.col-sm-6
        i.fa.fa-pause
        |  pause
      .col-md-4.col-sm-6
        i.fa.fa-play
        |  play
      .col-md-4.col-sm-6
        i.fa.fa-play-circle
        |  play-circle
      .col-md-4.col-sm-6
        i.fa.fa-play-circle-o
        |  play-circle-o
      .col-md-4.col-sm-6
        i.fa.fa-random
        |  random
      .col-md-4.col-sm-6
        i.fa.fa-step-backward
        |  step-backward
      .col-md-4.col-sm-6
        i.fa.fa-step-forward
        |  step-forward
      .col-md-4.col-sm-6
        i.fa.fa-stop
        |  stop
      .col-md-4.col-sm-6
        i.fa.fa-youtube-play
        |  youtube-play
    h3 Brand
    .row
      .col-md-4.col-sm-6
        i.fa.fa-500px
        |  500px
      .col-md-4.col-sm-6
        i.fa.fa-adn
        |  adn
      .col-md-4.col-sm-6
        i.fa.fa-amazon
        |  amazon
      .col-md-4.col-sm-6
        i.fa.fa-android
        |  android
      .col-md-4.col-sm-6
        i.fa.fa-angellist
        |  angellist
      .col-md-4.col-sm-6
        i.fa.fa-apple
        |  apple
      .col-md-4.col-sm-6
        i.fa.fa-behance
        |  behance
      .col-md-4.col-sm-6
        i.fa.fa-behance-square
        |  behance-square
      .col-md-4.col-sm-6
        i.fa.fa-bitbucket
        |  bitbucket
      .col-md-4.col-sm-6
        i.fa.fa-bitbucket-square
        |  bitbucket-square
      .col-md-4.col-sm-6
        i.fa.fa-bitcoin
        |  bitcoin 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-black-tie
        |  black-tie
      .col-md-4.col-sm-6
        i.fa.fa-btc
        |  btc
      .col-md-4.col-sm-6
        i.fa.fa-buysellads
        |  buysellads
      .col-md-4.col-sm-6
        i.fa.fa-cc-amex
        |  cc-amex
      .col-md-4.col-sm-6
        i.fa.fa-cc-diners-club
        |  cc-diners-club
      .col-md-4.col-sm-6
        i.fa.fa-cc-discover
        |  cc-discover
      .col-md-4.col-sm-6
        i.fa.fa-cc-jcb
        |  cc-jcb
      .col-md-4.col-sm-6
        i.fa.fa-cc-mastercard
        |  cc-mastercard
      .col-md-4.col-sm-6
        i.fa.fa-cc-paypal
        |  cc-paypal
      .col-md-4.col-sm-6
        i.fa.fa-cc-stripe
        |  cc-stripe
      .col-md-4.col-sm-6
        i.fa.fa-cc-visa
        |  cc-visa
      .col-md-4.col-sm-6
        i.fa.fa-chrome
        |  chrome
      .col-md-4.col-sm-6
        i.fa.fa-codepen
        |  codepen
      .col-md-4.col-sm-6
        i.fa.fa-connectdevelop
        |  connectdevelop
      .col-md-4.col-sm-6
        i.fa.fa-contao
        |  contao
      .col-md-4.col-sm-6
        i.fa.fa-css3
        |  css3
      .col-md-4.col-sm-6
        i.fa.fa-dashcube
        |  dashcube
      .col-md-4.col-sm-6
        i.fa.fa-delicious
        |  delicious
      .col-md-4.col-sm-6
        i.fa.fa-deviantart
        |  deviantart
      .col-md-4.col-sm-6
        i.fa.fa-digg
        |  digg
      .col-md-4.col-sm-6
        i.fa.fa-dribbble
        |  dribbble
      .col-md-4.col-sm-6
        i.fa.fa-dropbox
        |  dropbox
      .col-md-4.col-sm-6
        i.fa.fa-drupal
        |  drupal
      .col-md-4.col-sm-6
        i.fa.fa-empire
        |  empire
      .col-md-4.col-sm-6
        i.fa.fa-expeditedssl
        |  expeditedssl
      .col-md-4.col-sm-6
        i.fa.fa-facebook
        |  facebook
      .col-md-4.col-sm-6
        i.fa.fa-facebook-f
        |  facebook-f 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-facebook-official
        |  facebook-official
      .col-md-4.col-sm-6
        i.fa.fa-facebook-square
        |  facebook-square
      .col-md-4.col-sm-6
        i.fa.fa-firefox
        |  firefox
      .col-md-4.col-sm-6
        i.fa.fa-flickr
        |  flickr
      .col-md-4.col-sm-6
        i.fa.fa-fonticons
        |  fonticons
      .col-md-4.col-sm-6
        i.fa.fa-forumbee
        |  forumbee
      .col-md-4.col-sm-6
        i.fa.fa-foursquare
        |  foursquare
      .col-md-4.col-sm-6
        i.fa.fa-ge
        |  ge 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-get-pocket
        |  get-pocket
      .col-md-4.col-sm-6
        i.fa.fa-gg
        |  gg
      .col-md-4.col-sm-6
        i.fa.fa-gg-circle
        |  gg-circle
      .col-md-4.col-sm-6
        i.fa.fa-git
        |  git
      .col-md-4.col-sm-6
        i.fa.fa-git-square
        |  git-square
      .col-md-4.col-sm-6
        i.fa.fa-github
        |  github
      .col-md-4.col-sm-6
        i.fa.fa-github-alt
        |  github-alt
      .col-md-4.col-sm-6
        i.fa.fa-github-square
        |  github-square
      .col-md-4.col-sm-6
        i.fa.fa-gittip
        |  gittip 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-google
        |  google
      .col-md-4.col-sm-6
        i.fa.fa-google-plus
        |  google-plus
      .col-md-4.col-sm-6
        i.fa.fa-google-plus-square
        |  google-plus-square
      .col-md-4.col-sm-6
        i.fa.fa-google-wallet
        |  google-wallet
      .col-md-4.col-sm-6
        i.fa.fa-gratipay
        |  gratipay
      .col-md-4.col-sm-6
        i.fa.fa-hacker-news
        |  hacker-news
      .col-md-4.col-sm-6
        i.fa.fa-houzz
        |  houzz
      .col-md-4.col-sm-6
        i.fa.fa-html5
        |  html5
      .col-md-4.col-sm-6
        i.fa.fa-instagram
        |  instagram
      .col-md-4.col-sm-6
        i.fa.fa-internet-explorer
        |  internet-explorer
      .col-md-4.col-sm-6
        i.fa.fa-ioxhost
        |  ioxhost
      .col-md-4.col-sm-6
        i.fa.fa-joomla
        |  joomla
      .col-md-4.col-sm-6
        i.fa.fa-jsfiddle
        |  jsfiddle
      .col-md-4.col-sm-6
        i.fa.fa-lastfm
        |  lastfm
      .col-md-4.col-sm-6
        i.fa.fa-lastfm-square
        |  lastfm-square
      .col-md-4.col-sm-6
        i.fa.fa-leanpub
        |  leanpub
      .col-md-4.col-sm-6
        i.fa.fa-linkedin
        |  linkedin
      .col-md-4.col-sm-6
        i.fa.fa-linkedin-square
        |  linkedin-square
      .col-md-4.col-sm-6
        i.fa.fa-linux
        |  linux
      .col-md-4.col-sm-6
        i.fa.fa-maxcdn
        |  maxcdn
      .col-md-4.col-sm-6
        i.fa.fa-meanpath
        |  meanpath
      .col-md-4.col-sm-6
        i.fa.fa-medium
        |  medium
      .col-md-4.col-sm-6
        i.fa.fa-odnoklassniki
        |  odnoklassniki
      .col-md-4.col-sm-6
        i.fa.fa-odnoklassniki-square
        |  odnoklassniki-square
      .col-md-4.col-sm-6
        i.fa.fa-opencart
        |  opencart
      .col-md-4.col-sm-6
        i.fa.fa-openid
        |  openid
      .col-md-4.col-sm-6
        i.fa.fa-opera
        |  opera
      .col-md-4.col-sm-6
        i.fa.fa-optin-monster
        |  optin-monster
      .col-md-4.col-sm-6
        i.fa.fa-pagelines
        |  pagelines
      .col-md-4.col-sm-6
        i.fa.fa-paypal
        |  paypal
      .col-md-4.col-sm-6
        i.fa.fa-pied-piper
        |  pied-piper
      .col-md-4.col-sm-6
        i.fa.fa-pied-piper-alt
        |  pied-piper-alt
      .col-md-4.col-sm-6
        i.fa.fa-pinterest
        |  pinterest
      .col-md-4.col-sm-6
        i.fa.fa-pinterest-p
        |  pinterest-p
      .col-md-4.col-sm-6
        i.fa.fa-pinterest-square
        |  pinterest-square
      .col-md-4.col-sm-6
        i.fa.fa-qq
        |  qq
      .col-md-4.col-sm-6
        i.fa.fa-ra
        |  ra 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-rebel
        |  rebel
      .col-md-4.col-sm-6
        i.fa.fa-reddit
        |  reddit
      .col-md-4.col-sm-6
        i.fa.fa-reddit-square
        |  reddit-square
      .col-md-4.col-sm-6
        i.fa.fa-renren
        |  renren
      .col-md-4.col-sm-6
        i.fa.fa-safari
        |  safari
      .col-md-4.col-sm-6
        i.fa.fa-sellsy
        |  sellsy
      .col-md-4.col-sm-6
        i.fa.fa-share-alt
        |  share-alt
      .col-md-4.col-sm-6
        i.fa.fa-share-alt-square
        |  share-alt-square
      .col-md-4.col-sm-6
        i.fa.fa-shirtsinbulk
        |  shirtsinbulk
      .col-md-4.col-sm-6
        i.fa.fa-simplybuilt
        |  simplybuilt
      .col-md-4.col-sm-6
        i.fa.fa-skyatlas
        |  skyatlas
      .col-md-4.col-sm-6
        i.fa.fa-skype
        |  skype
      .col-md-4.col-sm-6
        i.fa.fa-slack
        |  slack
      .col-md-4.col-sm-6
        i.fa.fa-slideshare
        |  slideshare
      .col-md-4.col-sm-6
        i.fa.fa-soundcloud
        |  soundcloud
      .col-md-4.col-sm-6
        i.fa.fa-spotify
        |  spotify
      .col-md-4.col-sm-6
        i.fa.fa-stack-exchange
        |  stack-exchange
      .col-md-4.col-sm-6
        i.fa.fa-stack-overflow
        |  stack-overflow
      .col-md-4.col-sm-6
        i.fa.fa-steam
        |  steam
      .col-md-4.col-sm-6
        i.fa.fa-steam-square
        |  steam-square
      .col-md-4.col-sm-6
        i.fa.fa-stumbleupon
        |  stumbleupon
      .col-md-4.col-sm-6
        i.fa.fa-stumbleupon-circle
        |  stumbleupon-circle
      .col-md-4.col-sm-6
        i.fa.fa-tencent-weibo
        |  tencent-weibo
      .col-md-4.col-sm-6
        i.fa.fa-trello
        |  trello
      .col-md-4.col-sm-6
        i.fa.fa-tripadvisor
        |  tripadvisor
      .col-md-4.col-sm-6
        i.fa.fa-tumblr
        |  tumblr
      .col-md-4.col-sm-6
        i.fa.fa-tumblr-square
        |  tumblr-square
      .col-md-4.col-sm-6
        i.fa.fa-twitch
        |  twitch
      .col-md-4.col-sm-6
        i.fa.fa-twitter
        |  twitter
      .col-md-4.col-sm-6
        i.fa.fa-twitter-square
        |  twitter-square
      .col-md-4.col-sm-6
        i.fa.fa-viacoin
        |  viacoin
      .col-md-4.col-sm-6
        i.fa.fa-vimeo
        |  vimeo
      .col-md-4.col-sm-6
        i.fa.fa-vimeo-square
        |  vimeo-square
      .col-md-4.col-sm-6
        i.fa.fa-vine
        |  vine
      .col-md-4.col-sm-6
        i.fa.fa-vk
        |  vk
      .col-md-4.col-sm-6
        i.fa.fa-wechat
        |  wechat 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-weibo
        |  weibo
      .col-md-4.col-sm-6
        i.fa.fa-weixin
        |  weixin
      .col-md-4.col-sm-6
        i.fa.fa-whatsapp
        |  whatsapp
      .col-md-4.col-sm-6
        i.fa.fa-wikipedia-w
        |  wikipedia-w
      .col-md-4.col-sm-6
        i.fa.fa-windows
        |  windows
      .col-md-4.col-sm-6
        i.fa.fa-wordpress
        |  wordpress
      .col-md-4.col-sm-6
        i.fa.fa-xing
        |  xing
      .col-md-4.col-sm-6
        i.fa.fa-xing-square
        |  xing-square
      .col-md-4.col-sm-6
        i.fa.fa-y-combinator
        |  y-combinator
      .col-md-4.col-sm-6
        i.fa.fa-y-combinator-square
        |  y-combinator-square 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-yahoo
        |  yahoo
      .col-md-4.col-sm-6
        i.fa.fa-yc
        |  yc 
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-yc-square
        |  yc-square
        span.text-muted (alias)
      .col-md-4.col-sm-6
        i.fa.fa-yelp
        |  yelp
      .col-md-4.col-sm-6
        i.fa.fa-youtube
        |  youtube
      .col-md-4.col-sm-6
        i.fa.fa-youtube-play
        |  youtube-play
      .col-md-4.col-sm-6
        i.fa.fa-youtube-square
        |  youtube-square
    h3 Medical
    .row
      .col-md-4.col-sm-6
        i.fa.fa-ambulance
        |  ambulance
      .col-md-4.col-sm-6
        i.fa.fa-h-square
        |  h-square
      .col-md-4.col-sm-6
        i.fa.fa-heart
        |  heart
      .col-md-4.col-sm-6
        i.fa.fa-heart-o
        |  heart-o
      .col-md-4.col-sm-6
        i.fa.fa-heartbeat
        |  heartbeat
      .col-md-4.col-sm-6
        i.fa.fa-hospital-o
        |  hospital-o
      .col-md-4.col-sm-6
        i.fa.fa-medkit
        |  medkit
      .col-md-4.col-sm-6
        i.fa.fa-plus-square
        |  plus-square
      .col-md-4.col-sm-6
        i.fa.fa-stethoscope
        |  stethoscope
      .col-md-4.col-sm-6
        i.fa.fa-user-md
        |  user-md
      .col-md-4.col-sm-6
        i.fa.fa-wheelchair
        |  wheelchair