.page-content.container-fluid
  .icon-demo
    .row
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-asterisk
        |  asterisk
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-plus
        |  plus
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-euro
        |  euro
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-eur
        |  eur
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-minus
        |  minus
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cloud
        |  cloud
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-envelope
        |  envelope
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-pencil
        |  pencil
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-glass
        |  glass
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-music
        |  music
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-search
        |  search
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-heart
        |  heart
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-star
        |  star
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-star-empty
        |  star-empty
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-user
        |  user
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-film
        |  film
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-th-large
        |  th-large
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-th
        |  th
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-th-list
        |  th-list
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ok
        |  ok
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-remove
        |  remove
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-zoom-in
        |  zoom-in
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-zoom-out
        |  zoom-out
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-off
        |  off
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-signal
        |  signal
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cog
        |  cog
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-trash
        |  trash
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-home
        |  home
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-file
        |  file
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-time
        |  time
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-road
        |  road
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-download-alt
        |  download-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-download
        |  download
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-upload
        |  upload
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-inbox
        |  inbox
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-play-circle
        |  play-circle
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-repeat
        |  repeat
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-refresh
        |  refresh
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-list-alt
        |  list-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-lock
        |  lock
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-flag
        |  flag
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-headphones
        |  headphones
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-volume-off
        |  volume-off
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-volume-down
        |  volume-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-volume-up
        |  volume-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-qrcode
        |  qrcode
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-barcode
        |  barcode
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tag
        |  tag
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tags
        |  tags
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-book
        |  book
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bookmark
        |  bookmark
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-print
        |  print
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-camera
        |  camera
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-font
        |  font
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bold
        |  bold
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-italic
        |  italic
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-text-height
        |  text-height
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-text-width
        |  text-width
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-align-left
        |  align-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-align-center
        |  align-center
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-align-right
        |  align-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-align-justify
        |  align-justify
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-list
        |  list
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-indent-left
        |  indent-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-indent-right
        |  indent-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-facetime-video
        |  facetime-video
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-picture
        |  picture
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-map-marker
        |  map-marker
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-adjust
        |  adjust
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tint
        |  tint
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-edit
        |  edit
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-share
        |  share
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-check
        |  check
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-move
        |  move
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-step-backward
        |  step-backward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-fast-backward
        |  fast-backward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-backward
        |  backward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-play
        |  play
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-pause
        |  pause
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-stop
        |  stop
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-forward
        |  forward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-fast-forward
        |  fast-forward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-step-forward
        |  step-forward
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-eject
        |  eject
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-chevron-left
        |  chevron-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-chevron-right
        |  chevron-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-plus-sign
        |  plus-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-minus-sign
        |  minus-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-remove-sign
        |  remove-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ok-sign
        |  ok-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-question-sign
        |  question-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-info-sign
        |  info-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-screenshot
        |  screenshot
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-remove-circle
        |  remove-circle
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ok-circle
        |  ok-circle
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ban-circle
        |  ban-circle
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-arrow-left
        |  arrow-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-arrow-right
        |  arrow-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-arrow-up
        |  arrow-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-arrow-down
        |  arrow-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-share-alt
        |  share-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-resize-full
        |  resize-full
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-resize-small
        |  resize-small
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-exclamation-sign
        |  exclamation-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-gift
        |  gift
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-leaf
        |  leaf
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-fire
        |  fire
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-eye-open
        |  eye-open
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-eye-close
        |  eye-close
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-warning-sign
        |  warning-sign
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-plane
        |  plane
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-calendar
        |  calendar
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-random
        |  random
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-comment
        |  comment
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-magnet
        |  magnet
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-chevron-up
        |  chevron-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-chevron-down
        |  chevron-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-retweet
        |  retweet
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-shopping-cart
        |  shopping-cart
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-folder-close
        |  folder-close
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-folder-open
        |  folder-open
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-resize-vertical
        |  resize-vertical
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-resize-horizontal
        |  resize-horizontal
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hdd
        |  hdd
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bullhorn
        |  bullhorn
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bell
        |  bell
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-certificate
        |  certificate
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-thumbs-up
        |  thumbs-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-thumbs-down
        |  thumbs-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hand-right
        |  hand-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hand-left
        |  hand-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hand-up
        |  hand-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hand-down
        |  hand-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-circle-arrow-right
        |  circle-arrow-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-circle-arrow-left
        |  circle-arrow-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-circle-arrow-up
        |  circle-arrow-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-circle-arrow-down
        |  circle-arrow-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-globe
        |  globe
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-wrench
        |  wrench
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tasks
        |  tasks
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-filter
        |  filter
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-briefcase
        |  briefcase
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-fullscreen
        |  fullscreen
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-dashboard
        |  dashboard
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-paperclip
        |  paperclip
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-heart-empty
        |  heart-empty
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-link
        |  link
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-phone
        |  phone
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-pushpin
        |  pushpin
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-usd
        |  usd
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-gbp
        |  gbp
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort
        |  sort
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-alphabet
        |  sort-by-alphabet
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-alphabet-alt
        |  sort-by-alphabet-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-order
        |  sort-by-order
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-order-alt
        |  sort-by-order-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-attributes
        |  sort-by-attributes
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sort-by-attributes-alt
        |  sort-by-attributes-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-unchecked
        |  unchecked
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-expand
        |  expand
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-collapse-down
        |  collapse-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-collapse-up
        |  collapse-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-log-in
        |  log-in
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-flash
        |  flash
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-log-out
        |  log-out
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-new-window
        |  new-window
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-record
        |  record
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-save
        |  save
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-open
        |  open
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-saved
        |  saved
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-import
        |  import
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-export
        |  export
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-send
        |  send
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-floppy-disk
        |  floppy-disk
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-floppy-saved
        |  floppy-saved
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-floppy-remove
        |  floppy-remove
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-floppy-save
        |  floppy-save
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-floppy-open
        |  floppy-open
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-credit-card
        |  credit-card
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-transfer
        |  transfer
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cutlery
        |  cutlery
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-header
        |  header
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-compressed
        |  compressed
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-earphone
        |  earphone
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-phone-alt
        |  phone-alt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tower
        |  tower
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-stats
        |  stats
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sd-video
        |  sd-video
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hd-video
        |  hd-video
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-subtitles
        |  subtitles
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sound-stereo
        |  sound-stereo
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sound-dolby
        |  sound-dolby
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sound-5-1
        |  sound-5-1
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sound-6-1
        |  sound-6-1
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sound-7-1
        |  sound-7-1
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-copyright-mark
        |  copyright-mark
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-registration-mark
        |  registration-mark
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cloud-download
        |  cloud-download
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cloud-upload
        |  cloud-upload
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tree-conifer
        |  tree-conifer
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tree-deciduous
        |  tree-deciduous
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-cd
        |  cd
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-save-file
        |  save-file
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-open-file
        |  open-file
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-level-up
        |  level-up
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-copy
        |  copy
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-paste
        |  paste
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-alert
        |  alert
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-equalizer
        |  equalizer
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-king
        |  king
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-queen
        |  queen
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-pawn
        |  pawn
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bishop
        |  bishop
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-knight
        |  knight
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-baby-formula
        |  baby-formula
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-tent
        |  tent
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-blackboard
        |  blackboard
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bed
        |  bed
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-apple
        |  apple
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-erase
        |  erase
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-hourglass
        |  hourglass
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-lamp
        |  lamp
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-duplicate
        |  duplicate
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-piggy-bank
        |  piggy-bank
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-scissors
        |  scissors
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-bitcoin
        |  bitcoin
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-btc
        |  btc
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-xbt
        |  xbt
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-yen
        |  yen
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-jpy
        |  jpy
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ruble
        |  ruble
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-rub
        |  rub
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-scale
        |  scale
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ice-lolly
        |  ice-lolly
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-ice-lolly-tasted
        |  ice-lolly-tasted
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-education
        |  education
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-option-horizontal
        |  option-horizontal
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-option-vertical
        |  option-vertical
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-menu-hamburger
        |  menu-hamburger
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-modal-window
        |  modal-window
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-oil
        |  oil
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-grain
        |  grain
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-sunglasses
        |  sunglasses
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-text-size
        |  text-size
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-text-color
        |  text-color
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-text-background
        |  text-background
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-top
        |  object-align-top
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-bottom
        |  object-align-bottom
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-horizontal
        |  object-align-horizontal
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-left
        |  object-align-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-vertical
        |  object-align-vertical
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-object-align-right
        |  object-align-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-triangle-right
        |  triangle-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-triangle-left
        |  triangle-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-triangle-bottom
        |  triangle-bottom
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-triangle-top
        |  triangle-top
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-console
        |  console
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-superscript
        |  superscript
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-subscript
        |  subscript
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-menu-left
        |  menu-left
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-menu-right
        |  menu-right
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-menu-down
        |  menu-down
      .col-md-4.col-sm-6
        i.glyphicon.glyphicon-menu-up
        |  menu-up