.page-content.container-fluid
  .icon-demo
    h3 Web Application
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-3d-rotation
        |  3d-rotation
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airplane-off
        |  airplane-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airplane
        |  airplane
      .col-md-4.col-sm-6
        i.zmdi.zmdi-album
        |  album
      .col-md-4.col-sm-6
        i.zmdi.zmdi-archive
        |  archive
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-account
        |  assignment-account
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-alert
        |  assignment-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-check
        |  assignment-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-o
        |  assignment-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-return
        |  assignment-return
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment-returned
        |  assignment-returned
      .col-md-4.col-sm-6
        i.zmdi.zmdi-assignment
        |  assignment
      .col-md-4.col-sm-6
        i.zmdi.zmdi-attachment-alt
        |  attachment-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-attachment
        |  attachment
      .col-md-4.col-sm-6
        i.zmdi.zmdi-audio
        |  audio
      .col-md-4.col-sm-6
        i.zmdi.zmdi-badge-check
        |  badge-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-balance-wallet
        |  balance-wallet
      .col-md-4.col-sm-6
        i.zmdi.zmdi-balance
        |  balance
      .col-md-4.col-sm-6
        i.zmdi.zmdi-battery-alert
        |  battery-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-battery-flash
        |  battery-flash
      .col-md-4.col-sm-6
        i.zmdi.zmdi-battery-unknown
        |  battery-unknown
      .col-md-4.col-sm-6
        i.zmdi.zmdi-battery
        |  battery
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bike
        |  bike
      .col-md-4.col-sm-6
        i.zmdi.zmdi-block-alt
        |  block-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-block
        |  block
      .col-md-4.col-sm-6
        i.zmdi.zmdi-boat
        |  boat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-book-image
        |  book-image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-book
        |  book
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bookmark-outline
        |  bookmark-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bookmark
        |  bookmark
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brush
        |  brush
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bug
        |  bug
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bus
        |  bus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cake
        |  cake
      .col-md-4.col-sm-6
        i.zmdi.zmdi-car-taxi
        |  car-taxi
      .col-md-4.col-sm-6
        i.zmdi.zmdi-car-wash
        |  car-wash
      .col-md-4.col-sm-6
        i.zmdi.zmdi-car
        |  car
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-giftcard
        |  card-giftcard
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-membership
        |  card-membership
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-travel
        |  card-travel
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card
        |  card
      .col-md-4.col-sm-6
        i.zmdi.zmdi-case-check
        |  case-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-case-download
        |  case-download
      .col-md-4.col-sm-6
        i.zmdi.zmdi-case-play
        |  case-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-case
        |  case
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cast-connected
        |  cast-connected
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cast
        |  cast
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chart-donut
        |  chart-donut
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chart
        |  chart
      .col-md-4.col-sm-6
        i.zmdi.zmdi-city-alt
        |  city-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-city
        |  city
      .col-md-4.col-sm-6
        i.zmdi.zmdi-close-circle-o
        |  close-circle-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-close-circle
        |  close-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-close
        |  close
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cocktail
        |  cocktail
      .col-md-4.col-sm-6
        i.zmdi.zmdi-code-setting
        |  code-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-code-smartphone
        |  code-smartphone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-code
        |  code
      .col-md-4.col-sm-6
        i.zmdi.zmdi-coffee
        |  coffee
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-bookmark
        |  collection-bookmark
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-case-play
        |  collection-case-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-folder-image
        |  collection-folder-image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-image-o
        |  collection-image-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-image
        |  collection-image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-1
        |  collection-item-1
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-2
        |  collection-item-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-3
        |  collection-item-3
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-4
        |  collection-item-4
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-5
        |  collection-item-5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-6
        |  collection-item-6
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-7
        |  collection-item-7
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-8
        |  collection-item-8
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-9-plus
        |  collection-item-9-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item-9
        |  collection-item-9
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-item
        |  collection-item
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-music
        |  collection-music
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-pdf
        |  collection-pdf
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-plus
        |  collection-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-speaker
        |  collection-speaker
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-text
        |  collection-text
      .col-md-4.col-sm-6
        i.zmdi.zmdi-collection-video
        |  collection-video
      .col-md-4.col-sm-6
        i.zmdi.zmdi-compass
        |  compass
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cutlery
        |  cutlery
      .col-md-4.col-sm-6
        i.zmdi.zmdi-delete
        |  delete
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dialpad
        |  dialpad
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dns
        |  dns
      .col-md-4.col-sm-6
        i.zmdi.zmdi-drink
        |  drink
      .col-md-4.col-sm-6
        i.zmdi.zmdi-edit
        |  edit
      .col-md-4.col-sm-6
        i.zmdi.zmdi-email-open
        |  email-open
      .col-md-4.col-sm-6
        i.zmdi.zmdi-email
        |  email
      .col-md-4.col-sm-6
        i.zmdi.zmdi-eye-off
        |  eye-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-eye
        |  eye
      .col-md-4.col-sm-6
        i.zmdi.zmdi-eyedropper
        |  eyedropper
      .col-md-4.col-sm-6
        i.zmdi.zmdi-favorite-outline
        |  favorite-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-favorite
        |  favorite
      .col-md-4.col-sm-6
        i.zmdi.zmdi-filter-list
        |  filter-list
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fire
        |  fire
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flag
        |  flag
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flare
        |  flare
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flash-auto
        |  flash-auto
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flash-off
        |  flash-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flash
        |  flash
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flip
        |  flip
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flower-alt
        |  flower-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flower
        |  flower
      .col-md-4.col-sm-6
        i.zmdi.zmdi-font
        |  font
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fullscreen-alt
        |  fullscreen-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fullscreen-exit
        |  fullscreen-exit
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fullscreen
        |  fullscreen
      .col-md-4.col-sm-6
        i.zmdi.zmdi-functions
        |  functions
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gas-station
        |  gas-station
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gesture
        |  gesture
      .col-md-4.col-sm-6
        i.zmdi.zmdi-globe-alt
        |  globe-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-globe-lock
        |  globe-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-globe
        |  globe
      .col-md-4.col-sm-6
        i.zmdi.zmdi-graduation-cap
        |  graduation-cap
      .col-md-4.col-sm-6
        i.zmdi.zmdi-group
        |  group
      .col-md-4.col-sm-6
        i.zmdi.zmdi-home
        |  home
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hospital-alt
        |  hospital-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hospital
        |  hospital
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hotel
        |  hotel
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hourglass-alt
        |  hourglass-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hourglass-outline
        |  hourglass-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hourglass
        |  hourglass
      .col-md-4.col-sm-6
        i.zmdi.zmdi-http
        |  http
      .col-md-4.col-sm-6
        i.zmdi.zmdi-image-alt
        |  image-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-image-o
        |  image-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-image
        |  image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-inbox
        |  inbox
      .col-md-4.col-sm-6
        i.zmdi.zmdi-invert-colors-off
        |  invert-colors-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-invert-colors
        |  invert-colors
      .col-md-4.col-sm-6
        i.zmdi.zmdi-key
        |  key
      .col-md-4.col-sm-6
        i.zmdi.zmdi-label-alt-outline
        |  label-alt-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-label-alt
        |  label-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-label-heart
        |  label-heart
      .col-md-4.col-sm-6
        i.zmdi.zmdi-label
        |  label
      .col-md-4.col-sm-6
        i.zmdi.zmdi-labels
        |  labels
      .col-md-4.col-sm-6
        i.zmdi.zmdi-lamp
        |  lamp
      .col-md-4.col-sm-6
        i.zmdi.zmdi-landscape
        |  landscape
      .col-md-4.col-sm-6
        i.zmdi.zmdi-layers-off
        |  layers-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-layers
        |  layers
      .col-md-4.col-sm-6
        i.zmdi.zmdi-library
        |  library
      .col-md-4.col-sm-6
        i.zmdi.zmdi-link
        |  link
      .col-md-4.col-sm-6
        i.zmdi.zmdi-lock-open
        |  lock-open
      .col-md-4.col-sm-6
        i.zmdi.zmdi-lock-outline
        |  lock-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-lock
        |  lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mail-reply-all
        |  mail-reply-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mail-reply
        |  mail-reply
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mail-send
        |  mail-send
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mall
        |  mall
      .col-md-4.col-sm-6
        i.zmdi.zmdi-map
        |  map
      .col-md-4.col-sm-6
        i.zmdi.zmdi-menu
        |  menu
      .col-md-4.col-sm-6
        i.zmdi.zmdi-money-box
        |  money-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-money-off
        |  money-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-money
        |  money
      .col-md-4.col-sm-6
        i.zmdi.zmdi-more-vert
        |  more-vert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-more
        |  more
      .col-md-4.col-sm-6
        i.zmdi.zmdi-movie-alt
        |  movie-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-movie
        |  movie
      .col-md-4.col-sm-6
        i.zmdi.zmdi-nature-people
        |  nature-people
      .col-md-4.col-sm-6
        i.zmdi.zmdi-nature
        |  nature
      .col-md-4.col-sm-6
        i.zmdi.zmdi-Main
        |  Main
      .col-md-4.col-sm-6
        i.zmdi.zmdi-open-in-browser
        |  open-in-browser
      .col-md-4.col-sm-6
        i.zmdi.zmdi-open-in-new
        |  open-in-new
      .col-md-4.col-sm-6
        i.zmdi.zmdi-palette
        |  palette
      .col-md-4.col-sm-6
        i.zmdi.zmdi-parking
        |  parking
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-account
        |  pin-account
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-assistant
        |  pin-assistant
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-drop
        |  pin-drop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-help
        |  pin-help
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-off
        |  pin-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin
        |  pin
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pizza
        |  pizza
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plaster
        |  plaster
      .col-md-4.col-sm-6
        i.zmdi.zmdi-power-setting
        |  power-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-power
        |  power
      .col-md-4.col-sm-6
        i.zmdi.zmdi-print
        |  print
      .col-md-4.col-sm-6
        i.zmdi.zmdi-puzzle-piece
        |  puzzle-piece
      .col-md-4.col-sm-6
        i.zmdi.zmdi-quote
        |  quote
      .col-md-4.col-sm-6
        i.zmdi.zmdi-railway
        |  railway
      .col-md-4.col-sm-6
        i.zmdi.zmdi-receipt
        |  receipt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-refresh-alt
        |  refresh-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-refresh-sync-alert
        |  refresh-sync-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-refresh-sync-off
        |  refresh-sync-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-refresh-sync
        |  refresh-sync
      .col-md-4.col-sm-6
        i.zmdi.zmdi-refresh
        |  refresh
      .col-md-4.col-sm-6
        i.zmdi.zmdi-roller
        |  roller
      .col-md-4.col-sm-6
        i.zmdi.zmdi-ruler
        |  ruler
      .col-md-4.col-sm-6
        i.zmdi.zmdi-scissors
        |  scissors
      .col-md-4.col-sm-6
        i.zmdi.zmdi-screen-rotation-lock
        |  screen-rotation-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-screen-rotation
        |  screen-rotation
      .col-md-4.col-sm-6
        i.zmdi.zmdi-search-for
        |  search-for
      .col-md-4.col-sm-6
        i.zmdi.zmdi-search-in-file
        |  search-in-file
      .col-md-4.col-sm-6
        i.zmdi.zmdi-search-in-page
        |  search-in-page
      .col-md-4.col-sm-6
        i.zmdi.zmdi-search-replace
        |  search-replace
      .col-md-4.col-sm-6
        i.zmdi.zmdi-search
        |  search
      .col-md-4.col-sm-6
        i.zmdi.zmdi-seat
        |  seat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-settings-square
        |  settings-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-settings
        |  settings
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shape
        |  shape
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shield-check
        |  shield-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shield-security
        |  shield-security
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shopping-basket
        |  shopping-basket
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shopping-cart-plus
        |  shopping-cart-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shopping-cart
        |  shopping-cart
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sign-in
        |  sign-in
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sort-amount-asc
        |  sort-amount-asc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sort-amount-desc
        |  sort-amount-desc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sort-asc
        |  sort-asc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sort-desc
        |  sort-desc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-spellcheck
        |  spellcheck
      .col-md-4.col-sm-6
        i.zmdi.zmdi-spinner
        |  spinner
      .col-md-4.col-sm-6
        i.zmdi.zmdi-storage
        |  storage
      .col-md-4.col-sm-6
        i.zmdi.zmdi-store-24
        |  store-24
      .col-md-4.col-sm-6
        i.zmdi.zmdi-store
        |  store
      .col-md-4.col-sm-6
        i.zmdi.zmdi-subway
        |  subway
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sun
        |  sun
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tab-unselected
        |  tab-unselected
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tab
        |  tab
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tag-close
        |  tag-close
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tag-more
        |  tag-more
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tag
        |  tag
      .col-md-4.col-sm-6
        i.zmdi.zmdi-thumb-down
        |  thumb-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-thumb-up-down
        |  thumb-up-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-thumb-up
        |  thumb-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-ticket-star
        |  ticket-star
      .col-md-4.col-sm-6
        i.zmdi.zmdi-toll
        |  toll
      .col-md-4.col-sm-6
        i.zmdi.zmdi-toys
        |  toys
      .col-md-4.col-sm-6
        i.zmdi.zmdi-traffic
        |  traffic
      .col-md-4.col-sm-6
        i.zmdi.zmdi-translate
        |  translate
      .col-md-4.col-sm-6
        i.zmdi.zmdi-triangle-down
        |  triangle-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-triangle-up
        |  triangle-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-truck
        |  truck
      .col-md-4.col-sm-6
        i.zmdi.zmdi-turning-sign
        |  turning-sign
      .col-md-4.col-sm-6
        i.zmdi.zmdi-ungroup
        |  ungroup
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wallpaper
        |  wallpaper
      .col-md-4.col-sm-6
        i.zmdi.zmdi-washing-machine
        |  washing-machine
      .col-md-4.col-sm-6
        i.zmdi.zmdi-window-maximize
        |  window-maximize
      .col-md-4.col-sm-6
        i.zmdi.zmdi-window-minimize
        |  window-minimize
      .col-md-4.col-sm-6
        i.zmdi.zmdi-window-restore
        |  window-restore
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wrench
        |  wrench
      .col-md-4.col-sm-6
        i.zmdi.zmdi-zoom-in
        |  zoom-in
      .col-md-4.col-sm-6
        i.zmdi.zmdi-zoom-out
        |  zoom-out
    h3 Notifications
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alert-circle-o
        |  alert-circle-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alert-circle
        |  alert-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alert-octagon
        |  alert-octagon
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alert-polygon
        |  alert-polygon
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alert-triangle
        |  alert-triangle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-help-outline
        |  help-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-help
        |  help
      .col-md-4.col-sm-6
        i.zmdi.zmdi-info-outline
        |  info-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-info
        |  info
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications-active
        |  notifications-active
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications-add
        |  notifications-add
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications-none
        |  notifications-none
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications-off
        |  notifications-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications-paused
        |  notifications-paused
      .col-md-4.col-sm-6
        i.zmdi.zmdi-notifications
        |  notifications
    h3 Person
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-add
        |  account-add
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-box-mail
        |  account-box-mail
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-box-o
        |  account-box-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-box-phone
        |  account-box-phone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-box
        |  account-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-calendar
        |  account-calendar
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-circle
        |  account-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account-o
        |  account-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-account
        |  account
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts-add
        |  accounts-add
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts-alt
        |  accounts-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts-list-alt
        |  accounts-list-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts-list
        |  accounts-list
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts-outline
        |  accounts-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-accounts
        |  accounts
      .col-md-4.col-sm-6
        i.zmdi.zmdi-face
        |  face
      .col-md-4.col-sm-6
        i.zmdi.zmdi-female
        |  female
      .col-md-4.col-sm-6
        i.zmdi.zmdi-male-alt
        |  male-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-male-female
        |  male-female
      .col-md-4.col-sm-6
        i.zmdi.zmdi-male
        |  male
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mood-bad
        |  mood-bad
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mood
        |  mood
      .col-md-4.col-sm-6
        i.zmdi.zmdi-run
        |  run
      .col-md-4.col-sm-6
        i.zmdi.zmdi-walk
        |  walk
    h3 File
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-box
        |  cloud-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-circle
        |  cloud-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-done
        |  cloud-done
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-download
        |  cloud-download
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-off
        |  cloud-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-outline-alt
        |  cloud-outline-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-outline
        |  cloud-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud-upload
        |  cloud-upload
      .col-md-4.col-sm-6
        i.zmdi.zmdi-cloud
        |  cloud
      .col-md-4.col-sm-6
        i.zmdi.zmdi-download
        |  download
      .col-md-4.col-sm-6
        i.zmdi.zmdi-file-plus
        |  file-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-file-text
        |  file-text
      .col-md-4.col-sm-6
        i.zmdi.zmdi-file
        |  file
      .col-md-4.col-sm-6
        i.zmdi.zmdi-folder-outline
        |  folder-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-folder-person
        |  folder-person
      .col-md-4.col-sm-6
        i.zmdi.zmdi-folder-star-alt
        |  folder-star-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-folder-star
        |  folder-star
      .col-md-4.col-sm-6
        i.zmdi.zmdi-folder
        |  folder
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gif
        |  gif
      .col-md-4.col-sm-6
        i.zmdi.zmdi-upload
        |  upload
    h3 Editor
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-all
        span border-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-bottom
        |  border-bottom
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-clear
        |  border-clear
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-color
        |  border-color
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-horizontal
        |  border-horizontal
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-inner
        |  border-inner
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-left
        |  border-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-outer
        |  border-outer
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-right
        |  border-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-style
        |  border-style
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-top
        |  border-top
      .col-md-4.col-sm-6
        i.zmdi.zmdi-border-vertical
        |  border-vertical
      .col-md-4.col-sm-6
        i.zmdi.zmdi-copy
        |  copy
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop
        |  crop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-align-center
        |  format-align-center
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-align-justify
        |  format-align-justify
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-align-left
        |  format-align-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-align-right
        |  format-align-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-bold
        |  format-bold
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-clear-all
        |  format-clear-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-clear
        |  format-clear
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-color-fill
        |  format-color-fill
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-color-reset
        |  format-color-reset
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-color-text
        |  format-color-text
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-indent-decrease
        |  format-indent-decrease
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-indent-increase
        |  format-indent-increase
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-italic
        |  format-italic
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-line-spacing
        |  format-line-spacing
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-list-bulleted
        |  format-list-bulleted
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-list-numbered
        |  format-list-numbered
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-ltr
        |  format-ltr
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-rtl
        |  format-rtl
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-size
        |  format-size
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-strikethrough-s
        |  format-strikethrough-s
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-strikethrough
        |  format-strikethrough
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-subject
        |  format-subject
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-underlined
        |  format-underlined
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-valign-bottom
        |  format-valign-bottom
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-valign-center
        |  format-valign-center
      .col-md-4.col-sm-6
        i.zmdi.zmdi-format-valign-top
        |  format-valign-top
      .col-md-4.col-sm-6
        i.zmdi.zmdi-redo
        |  redo
      .col-md-4.col-sm-6
        i.zmdi.zmdi-select-all
        |  select-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-space-bar
        |  space-bar
      .col-md-4.col-sm-6
        i.zmdi.zmdi-text-format
        |  text-format
      .col-md-4.col-sm-6
        i.zmdi.zmdi-transform
        |  transform
      .col-md-4.col-sm-6
        i.zmdi.zmdi-undo
        |  undo
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wrap-text
        |  wrap-text
    h3 Comment
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-alert
        |  comment-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-alt-text
        |  comment-alt-text
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-alt
        |  comment-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-edit
        |  comment-edit
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-image
        |  comment-image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-list
        |  comment-list
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-more
        |  comment-more
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-outline
        |  comment-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-text-alt
        |  comment-text-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-text
        |  comment-text
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment-video
        |  comment-video
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comment
        |  comment
      .col-md-4.col-sm-6
        i.zmdi.zmdi-comments
        |  comments
    h3 Form
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-check-all
        |  check-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-check-circle-u
        |  check-circle-u
      .col-md-4.col-sm-6
        i.zmdi.zmdi-check-circle
        |  check-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-check-square
        |  check-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-check
        |  check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-circle-o
        |  circle-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-circle
        |  circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dot-circle-alt
        |  dot-circle-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dot-circle
        |  dot-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-minus-circle-outline
        |  minus-circle-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-minus-circle
        |  minus-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-minus-square
        |  minus-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-minus
        |  minus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-circle-o-duplicate
        |  plus-circle-o-duplicate
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-circle-o
        |  plus-circle-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-circle
        |  plus-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-square
        |  plus-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus
        |  plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-square-o
        |  square-o
      .col-md-4.col-sm-6
        i.zmdi.zmdi-star-circle
        |  star-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-star-half
        |  star-half
      .col-md-4.col-sm-6
        i.zmdi.zmdi-star-outline
        |  star-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-star
        |  star
    h3 Hardware
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bluetooth-connected
        |  bluetooth-connected
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bluetooth-off
        |  bluetooth-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bluetooth-search
        |  bluetooth-search
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bluetooth-setting
        |  bluetooth-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-bluetooth
        |  bluetooth
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-add
        |  camera-add
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-alt
        |  camera-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-bw
        |  camera-bw
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-front
        |  camera-front
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-mic
        |  camera-mic
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-party-mode
        |  camera-party-mode
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-rear
        |  camera-rear
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-roll
        |  camera-roll
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera-switch
        |  camera-switch
      .col-md-4.col-sm-6
        i.zmdi.zmdi-camera
        |  camera
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-alert
        |  card-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-off
        |  card-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-sd
        |  card-sd
      .col-md-4.col-sm-6
        i.zmdi.zmdi-card-sim
        |  card-sim
      .col-md-4.col-sm-6
        i.zmdi.zmdi-desktop-mac
        |  desktop-mac
      .col-md-4.col-sm-6
        i.zmdi.zmdi-desktop-windows
        |  desktop-windows
      .col-md-4.col-sm-6
        i.zmdi.zmdi-device-hub
        |  device-hub
      .col-md-4.col-sm-6
        i.zmdi.zmdi-devices-off
        |  devices-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-devices
        |  devices
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dock
        |  dock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-floppy
        |  floppy
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gamepad
        |  gamepad
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gps-dot
        |  gps-dot
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gps-off
        |  gps-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gps
        |  gps
      .col-md-4.col-sm-6
        i.zmdi.zmdi-headset-mic
        |  headset-mic
      .col-md-4.col-sm-6
        i.zmdi.zmdi-headset
        |  headset
      .col-md-4.col-sm-6
        i.zmdi.zmdi-input-antenna
        |  input-antenna
      .col-md-4.col-sm-6
        i.zmdi.zmdi-input-composite
        |  input-composite
      .col-md-4.col-sm-6
        i.zmdi.zmdi-input-hdmi
        |  input-hdmi
      .col-md-4.col-sm-6
        i.zmdi.zmdi-input-power
        |  input-power
      .col-md-4.col-sm-6
        i.zmdi.zmdi-input-svideo
        |  input-svideo
      .col-md-4.col-sm-6
        i.zmdi.zmdi-keyboard-hide
        |  keyboard-hide
      .col-md-4.col-sm-6
        i.zmdi.zmdi-keyboard
        |  keyboard
      .col-md-4.col-sm-6
        i.zmdi.zmdi-laptop-chromebook
        |  laptop-chromebook
      .col-md-4.col-sm-6
        i.zmdi.zmdi-laptop-mac
        |  laptop-mac
      .col-md-4.col-sm-6
        i.zmdi.zmdi-laptop
        |  laptop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mic-off
        |  mic-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mic-outline
        |  mic-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mic-setting
        |  mic-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mic
        |  mic
      .col-md-4.col-sm-6
        i.zmdi.zmdi-mouse
        |  mouse
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network-alert
        |  network-alert
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network-locked
        |  network-locked
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network-off
        |  network-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network-outline
        |  network-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network-setting
        |  network-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-network
        |  network
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-bluetooth
        |  phone-bluetooth
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-end
        |  phone-end
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-forwarded
        |  phone-forwarded
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-in-talk
        |  phone-in-talk
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-locked
        |  phone-locked
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-missed
        |  phone-missed
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-msg
        |  phone-msg
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-paused
        |  phone-paused
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-ring
        |  phone-ring
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-setting
        |  phone-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone-sip
        |  phone-sip
      .col-md-4.col-sm-6
        i.zmdi.zmdi-phone
        |  phone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-portable-wifi-changes
        |  portable-wifi-changes
      .col-md-4.col-sm-6
        i.zmdi.zmdi-portable-wifi-off
        |  portable-wifi-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-portable-wifi
        |  portable-wifi
      .col-md-4.col-sm-6
        i.zmdi.zmdi-radio
        |  radio
      .col-md-4.col-sm-6
        i.zmdi.zmdi-reader
        |  reader
      .col-md-4.col-sm-6
        i.zmdi.zmdi-remote-control-alt
        |  remote-control-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-remote-control
        |  remote-control
      .col-md-4.col-sm-6
        i.zmdi.zmdi-router
        |  router
      .col-md-4.col-sm-6
        i.zmdi.zmdi-scanner
        |  scanner
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-android
        |  smartphone-android
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-download
        |  smartphone-download
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-erase
        |  smartphone-erase
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-info
        |  smartphone-info
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-iphone
        |  smartphone-iphone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-landscape-lock
        |  smartphone-landscape-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-landscape
        |  smartphone-landscape
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-lock
        |  smartphone-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-portrait-lock
        |  smartphone-portrait-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-ring
        |  smartphone-ring
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-setting
        |  smartphone-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone-setup
        |  smartphone-setup
      .col-md-4.col-sm-6
        i.zmdi.zmdi-smartphone
        |  smartphone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-speaker
        |  speaker
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tablet-android
        |  tablet-android
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tablet-mac
        |  tablet-mac
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tablet
        |  tablet
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tv-alt-play
        |  tv-alt-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tv-list
        |  tv-list
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tv-play
        |  tv-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tv
        |  tv
      .col-md-4.col-sm-6
        i.zmdi.zmdi-usb
        |  usb
      .col-md-4.col-sm-6
        i.zmdi.zmdi-videocam-off
        |  videocam-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-videocam-switch
        |  videocam-switch
      .col-md-4.col-sm-6
        i.zmdi.zmdi-videocam
        |  videocam
      .col-md-4.col-sm-6
        i.zmdi.zmdi-watch
        |  watch
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-alt-2
        |  wifi-alt-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-alt
        |  wifi-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-info
        |  wifi-info
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-lock
        |  wifi-lock
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-off
        |  wifi-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi-outline
        |  wifi-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wifi
        |  wifi
    h3 Directional
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-left-bottom
        |  arrow-left-bottom
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-left
        |  arrow-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-merge
        |  arrow-merge
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-missed
        |  arrow-missed
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-right-top
        |  arrow-right-top
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-right
        |  arrow-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrow-split
        |  arrow-split
      .col-md-4.col-sm-6
        i.zmdi.zmdi-arrows
        |  arrows
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-down-circle
        |  caret-down-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-down
        |  caret-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-left-circle
        |  caret-left-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-left
        |  caret-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-right-circle
        |  caret-right-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-right
        |  caret-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-up-circle
        |  caret-up-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-caret-up
        |  caret-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chevron-down
        |  chevron-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chevron-left
        |  chevron-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chevron-right
        |  chevron-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-chevron-up
        |  chevron-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-forward
        |  forward
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-down
        |  long-arrow-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-left
        |  long-arrow-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-return
        |  long-arrow-return
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-right
        |  long-arrow-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-tab
        |  long-arrow-tab
      .col-md-4.col-sm-6
        i.zmdi.zmdi-long-arrow-up
        |  long-arrow-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-rotate-ccw
        |  rotate-ccw
      .col-md-4.col-sm-6
        i.zmdi.zmdi-rotate-cw
        |  rotate-cw
      .col-md-4.col-sm-6
        i.zmdi.zmdi-rotate-left
        |  rotate-left
      .col-md-4.col-sm-6
        i.zmdi.zmdi-rotate-right
        |  rotate-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-square-down
        |  square-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-square-right
        |  square-right
      .col-md-4.col-sm-6
        i.zmdi.zmdi-swap-alt
        |  swap-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-swap-vertical-circle
        |  swap-vertical-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-swap-vertical
        |  swap-vertical
      .col-md-4.col-sm-6
        i.zmdi.zmdi-swap
        |  swap
      .col-md-4.col-sm-6
        i.zmdi.zmdi-trending-down
        |  trending-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-trending-flat
        |  trending-flat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-trending-up
        |  trending-up
      .col-md-4.col-sm-6
        i.zmdi.zmdi-unfold-less
        |  unfold-less
      .col-md-4.col-sm-6
        i.zmdi.zmdi-unfold-more
        |  unfold-more
    h3 Map (aliases)
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-bike
        |  zmdi-directions-bike
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-boat
        |  zmdi-directions-boat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-bus
        |  zmdi-directions-bus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-car
        |  zmdi-directions-car
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-railway
        |  zmdi-directions-railway
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-run
        |  zmdi-directions-run
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-subway
        |  zmdi-directions-subway
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions-walk
        |  zmdi-directions-walk
      .col-md-4.col-sm-6
        i.zmdi.zmdi-directions
        |  zmdi-directions
      .col-md-4.col-sm-6
        i.zmdi.zmdi-layers-off
        |  zmdi-layers-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-layers
        |  zmdi-layers
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-activity
        |  zmdi-local-activity
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-airport
        |  zmdi-local-airport
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-atm
        |  zmdi-local-atm
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-bar
        |  zmdi-local-bar
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-cafe
        |  zmdi-local-cafe
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-car-wash
        |  zmdi-local-car-wash
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-convenience-store
        |  zmdi-local-convenience-store
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-dining
        |  zmdi-local-dining
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-drink
        |  zmdi-local-drink
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-florist
        |  zmdi-local-florist
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-gas-station
        |  zmdi-local-gas-station
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-grocery-store
        |  zmdi-local-grocery-store
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-hospital
        |  zmdi-local-hospital
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-hotel
        |  zmdi-local-hotel
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-laundry-service
        |  zmdi-local-laundry-service
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-library
        |  zmdi-local-library
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-mall
        |  zmdi-local-mall
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-movies
        |  zmdi-local-movies
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-offer
        |  zmdi-local-offer
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-parking
        |  zmdi-local-parking
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-pharmacy
        |  zmdi-local-pharmacy
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-phone
        |  zmdi-local-phone
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-pizza
        |  zmdi-local-pizza
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-activity
        |  zmdi-local-activity
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-post-office
        |  zmdi-local-post-office
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-printshop
        |  zmdi-local-printshop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-see
        |  zmdi-local-see
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-shipping
        |  zmdi-local-shipping
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-store
        |  zmdi-local-store
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-taxi
        |  zmdi-local-taxi
      .col-md-4.col-sm-6
        i.zmdi.zmdi-local-wc
        |  zmdi-local-wc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-map
        |  zmdi-map
      .col-md-4.col-sm-6
        i.zmdi.zmdi-my-location
        |  zmdi-my-location
      .col-md-4.col-sm-6
        i.zmdi.zmdi-nature-people
        |  zmdi-nature-people
      .col-md-4.col-sm-6
        i.zmdi.zmdi-nature
        |  zmdi-nature
      .col-md-4.col-sm-6
        i.zmdi.zmdi-Main
        |  zmdi-Main
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-account
        |  zmdi-pin-account
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-assistant
        |  zmdi-pin-assistant
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-drop
        |  zmdi-pin-drop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-help
        |  zmdi-pin-help
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin-off
        |  zmdi-pin-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pin
        |  zmdi-pin
      .col-md-4.col-sm-6
        i.zmdi.zmdi-traffic
        |  zmdi-traffic
    h3 View
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-apps
        |  apps
      .col-md-4.col-sm-6
        i.zmdi.zmdi-grid-off
        |  grid-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-grid
        |  grid
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-agenda
        |  view-agenda
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-array
        |  view-array
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-carousel
        |  view-carousel
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-column
        |  view-column
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-comfy
        |  view-comfy
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-compact
        |  view-compact
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-dashboard
        |  view-dashboard
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-day
        |  view-day
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-headline
        |  view-headline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-list-alt
        |  view-list-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-list
        |  view-list
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-module
        |  view-module
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-quilt
        |  view-quilt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-stream
        |  view-stream
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-subtitles
        |  view-subtitles
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-toc
        |  view-toc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-web
        |  view-web
      .col-md-4.col-sm-6
        i.zmdi.zmdi-view-week
        |  view-week
      .col-md-4.col-sm-6
        i.zmdi.zmdi-widgets
        |  widgets
    h3 Date / Time
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alarm-check
        |  alarm-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alarm-off
        |  alarm-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alarm-plus
        |  alarm-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alarm-snooze
        |  alarm-snooze
      .col-md-4.col-sm-6
        i.zmdi.zmdi-alarm
        |  alarm
      .col-md-4.col-sm-6
        i.zmdi.zmdi-calendar-alt
        |  calendar-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-calendar-check
        |  calendar-check
      .col-md-4.col-sm-6
        i.zmdi.zmdi-calendar-close
        |  calendar-close
      .col-md-4.col-sm-6
        i.zmdi.zmdi-calendar-note
        |  calendar-note
      .col-md-4.col-sm-6
        i.zmdi.zmdi-calendar
        |  calendar
      .col-md-4.col-sm-6
        i.zmdi.zmdi-time-countdown
        |  time-countdown
      .col-md-4.col-sm-6
        i.zmdi.zmdi-time-interval
        |  time-interval
      .col-md-4.col-sm-6
        i.zmdi.zmdi-time-restore-setting
        |  time-restore-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-time-restore
        |  time-restore
      .col-md-4.col-sm-6
        i.zmdi.zmdi-time
        |  time
      .col-md-4.col-sm-6
        i.zmdi.zmdi-timer-off
        |  timer-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-timer
        |  timer
    h3 Social
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-android-alt
        |  android-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-android
        |  android
      .col-md-4.col-sm-6
        i.zmdi.zmdi-apple
        |  apple
      .col-md-4.col-sm-6
        i.zmdi.zmdi-behance
        |  behance
      .col-md-4.col-sm-6
        i.zmdi.zmdi-codepen
        |  codepen
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dribbble
        |  dribbble
      .col-md-4.col-sm-6
        i.zmdi.zmdi-dropbox
        |  dropbox
      .col-md-4.col-sm-6
        i.zmdi.zmdi-evernote
        |  evernote
      .col-md-4.col-sm-6
        i.zmdi.zmdi-facebook-box
        |  facebook-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-facebook
        |  facebook
      .col-md-4.col-sm-6
        i.zmdi.zmdi-github-box
        |  github-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-github
        |  github
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-drive
        |  google-drive
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-earth
        |  google-earth
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-glass
        |  google-glass
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-maps
        |  google-maps
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-pages
        |  google-pages
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-play
        |  google-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-plus-box
        |  google-plus-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-plus
        |  google-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google
        |  google
      .col-md-4.col-sm-6
        i.zmdi.zmdi-instagram
        |  instagram
      .col-md-4.col-sm-6
        i.zmdi.zmdi-language-css3
        |  language-css3
      .col-md-4.col-sm-6
        i.zmdi.zmdi-language-html5
        |  language-html5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-language-javascript
        |  language-javascript
      .col-md-4.col-sm-6
        i.zmdi.zmdi-language-python-alt
        |  language-python-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-language-python
        |  language-python
      .col-md-4.col-sm-6
        i.zmdi.zmdi-lastfm
        |  lastfm
      .col-md-4.col-sm-6
        i.zmdi.zmdi-linkedin-box
        |  linkedin-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-paypal
        |  paypal
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pinterest-box
        |  pinterest-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pocket
        |  pocket
      .col-md-4.col-sm-6
        i.zmdi.zmdi-polymer
        |  polymer
      .col-md-4.col-sm-6
        i.zmdi.zmdi-rss
        |  rss
      .col-md-4.col-sm-6
        i.zmdi.zmdi-share
        |  share
      .col-md-4.col-sm-6
        i.zmdi.zmdi-stackoverflow
        |  stackoverflow
      .col-md-4.col-sm-6
        i.zmdi.zmdi-steam-square
        |  steam-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-steam
        |  steam
      .col-md-4.col-sm-6
        i.zmdi.zmdi-twitter-box
        |  twitter-box
      .col-md-4.col-sm-6
        i.zmdi.zmdi-twitter
        |  twitter
      .col-md-4.col-sm-6
        i.zmdi.zmdi-vk
        |  vk
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wikipedia
        |  wikipedia
      .col-md-4.col-sm-6
        i.zmdi.zmdi-windows
        |  windows
      .col-md-4.col-sm-6
        i.zmdi.zmdi-500px
        |  500px
      .col-md-4.col-sm-6
        i.zmdi.zmdi-8tracks
        |  8tracks
      .col-md-4.col-sm-6
        i.zmdi.zmdi-amazon
        |  amazon
      .col-md-4.col-sm-6
        i.zmdi.zmdi-blogger
        |  blogger
      .col-md-4.col-sm-6
        i.zmdi.zmdi-delicious
        |  delicious
      .col-md-4.col-sm-6
        i.zmdi.zmdi-disqus
        |  disqus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flattr
        |  flattr
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flickr
        |  flickr
      .col-md-4.col-sm-6
        i.zmdi.zmdi-github-alt
        |  github-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-google-old
        |  google-old
      .col-md-4.col-sm-6
        i.zmdi.zmdi-linkedin
        |  linkedin
      .col-md-4.col-sm-6
        i.zmdi.zmdi-odnoklassniki
        |  odnoklassniki
      .col-md-4.col-sm-6
        i.zmdi.zmdi-outlook
        |  outlook
      .col-md-4.col-sm-6
        i.zmdi.zmdi-paypal-alt
        |  paypal-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pinterest
        |  pinterest
      .col-md-4.col-sm-6
        i.zmdi.zmdi-playstation
        |  playstation
      .col-md-4.col-sm-6
        i.zmdi.zmdi-reddit
        |  reddit
      .col-md-4.col-sm-6
        i.zmdi.zmdi-skype
        |  skype
      .col-md-4.col-sm-6
        i.zmdi.zmdi-slideshare
        |  slideshare
      .col-md-4.col-sm-6
        i.zmdi.zmdi-soundcloud
        |  soundcloud
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tumblr
        |  tumblr
      .col-md-4.col-sm-6
        i.zmdi.zmdi-twitch
        |  twitch
      .col-md-4.col-sm-6
        i.zmdi.zmdi-vimeo
        |  vimeo
      .col-md-4.col-sm-6
        i.zmdi.zmdi-whatsapp
        |  whatsapp
      .col-md-4.col-sm-6
        i.zmdi.zmdi-xbox
        |  xbox
      .col-md-4.col-sm-6
        i.zmdi.zmdi-yahoo
        |  yahoo
      .col-md-4.col-sm-6
        i.zmdi.zmdi-youtube-play
        |  youtube-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-youtube
        |  youtube
    h3 Image
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-aspect-ratio-alt
        |  aspect-ratio-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-aspect-ratio
        |  aspect-ratio
      .col-md-4.col-sm-6
        i.zmdi.zmdi-blur-circular
        |  blur-circular
      .col-md-4.col-sm-6
        i.zmdi.zmdi-blur-linear
        |  blur-linear
      .col-md-4.col-sm-6
        i.zmdi.zmdi-blur-off
        |  blur-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-blur
        |  blur
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-2
        |  brightness-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-3
        |  brightness-3
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-4
        |  brightness-4
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-5
        |  brightness-5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-6
        |  brightness-6
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-7
        |  brightness-7
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-auto
        |  brightness-auto
      .col-md-4.col-sm-6
        i.zmdi.zmdi-brightness-setting
        |  brightness-setting
      .col-md-4.col-sm-6
        i.zmdi.zmdi-broken-image
        |  broken-image
      .col-md-4.col-sm-6
        i.zmdi.zmdi-center-focus-strong
        |  center-focus-strong
      .col-md-4.col-sm-6
        i.zmdi.zmdi-center-focus-weak
        |  center-focus-weak
      .col-md-4.col-sm-6
        i.zmdi.zmdi-compare
        |  compare
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-16-9
        |  crop-16-9
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-3-2
        |  crop-3-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-5-4
        |  crop-5-4
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-7-5
        |  crop-7-5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-din
        |  crop-din
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-free
        |  crop-free
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-landscape
        |  crop-landscape
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-portrait
        |  crop-portrait
      .col-md-4.col-sm-6
        i.zmdi.zmdi-crop-square
        |  crop-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-exposure-alt
        |  exposure-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-exposure
        |  exposure
      .col-md-4.col-sm-6
        i.zmdi.zmdi-filter-b-and-w
        |  filter-b-and-w
      .col-md-4.col-sm-6
        i.zmdi.zmdi-filter-center-focus
        |  filter-center-focus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-filter-frames
        |  filter-frames
      .col-md-4.col-sm-6
        i.zmdi.zmdi-filter-tilt-shift
        |  filter-tilt-shift
      .col-md-4.col-sm-6
        i.zmdi.zmdi-gradient
        |  gradient
      .col-md-4.col-sm-6
        i.zmdi.zmdi-grain
        |  grain
      .col-md-4.col-sm-6
        i.zmdi.zmdi-graphic-eq
        |  graphic-eq
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hdr-off
        |  hdr-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hdr-strong
        |  hdr-strong
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hdr-weak
        |  hdr-weak
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hdr
        |  hdr
      .col-md-4.col-sm-6
        i.zmdi.zmdi-iridescent
        |  iridescent
      .col-md-4.col-sm-6
        i.zmdi.zmdi-leak-off
        |  leak-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-leak
        |  leak
      .col-md-4.col-sm-6
        i.zmdi.zmdi-looks
        |  looks
      .col-md-4.col-sm-6
        i.zmdi.zmdi-loupe
        |  loupe
      .col-md-4.col-sm-6
        i.zmdi.zmdi-panorama-horizontal
        |  panorama-horizontal
      .col-md-4.col-sm-6
        i.zmdi.zmdi-panorama-vertical
        |  panorama-vertical
      .col-md-4.col-sm-6
        i.zmdi.zmdi-panorama-wide-angle
        |  panorama-wide-angle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-photo-size-select-large
        |  photo-size-select-large
      .col-md-4.col-sm-6
        i.zmdi.zmdi-photo-size-select-small
        |  photo-size-select-small
      .col-md-4.col-sm-6
        i.zmdi.zmdi-picture-in-picture
        |  picture-in-picture
      .col-md-4.col-sm-6
        i.zmdi.zmdi-slideshow
        |  slideshow
      .col-md-4.col-sm-6
        i.zmdi.zmdi-texture
        |  texture
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tonality
        |  tonality
      .col-md-4.col-sm-6
        i.zmdi.zmdi-vignette
        |  vignette
      .col-md-4.col-sm-6
        i.zmdi.zmdi-wb-auto
        |  wb-auto
    h3 Audio / Video
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-eject-alt
        |  eject-alt
      .col-md-4.col-sm-6
        i.zmdi.zmdi-eject
        |  eject
      .col-md-4.col-sm-6
        i.zmdi.zmdi-equalizer
        |  equalizer
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fast-forward
        |  fast-forward
      .col-md-4.col-sm-6
        i.zmdi.zmdi-fast-rewind
        |  fast-rewind
      .col-md-4.col-sm-6
        i.zmdi.zmdi-forward-10
        |  forward-10
      .col-md-4.col-sm-6
        i.zmdi.zmdi-forward-30
        |  forward-30
      .col-md-4.col-sm-6
        i.zmdi.zmdi-forward-5
        |  forward-5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hearing
        |  hearing
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pause-circle-outline
        |  pause-circle-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pause-circle
        |  pause-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-pause
        |  pause
      .col-md-4.col-sm-6
        i.zmdi.zmdi-play-circle-outline
        |  play-circle-outline
      .col-md-4.col-sm-6
        i.zmdi.zmdi-play-circle
        |  play-circle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-play
        |  play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-playlist-audio
        |  playlist-audio
      .col-md-4.col-sm-6
        i.zmdi.zmdi-playlist-plus
        |  playlist-plus
      .col-md-4.col-sm-6
        i.zmdi.zmdi-repeat-one
        |  repeat-one
      .col-md-4.col-sm-6
        i.zmdi.zmdi-repeat
        |  repeat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-replay-10
        |  replay-10
      .col-md-4.col-sm-6
        i.zmdi.zmdi-replay-30
        |  replay-30
      .col-md-4.col-sm-6
        i.zmdi.zmdi-replay-5
        |  replay-5
      .col-md-4.col-sm-6
        i.zmdi.zmdi-replay
        |  replay
      .col-md-4.col-sm-6
        i.zmdi.zmdi-shuffle
        |  shuffle
      .col-md-4.col-sm-6
        i.zmdi.zmdi-skip-next
        |  skip-next
      .col-md-4.col-sm-6
        i.zmdi.zmdi-skip-previous
        |  skip-previous
      .col-md-4.col-sm-6
        i.zmdi.zmdi-stop
        |  stop
      .col-md-4.col-sm-6
        i.zmdi.zmdi-surround-sound
        |  surround-sound
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tune
        |  tune
      .col-md-4.col-sm-6
        i.zmdi.zmdi-volume-down
        |  volume-down
      .col-md-4.col-sm-6
        i.zmdi.zmdi-volume-mute
        |  volume-mute
      .col-md-4.col-sm-6
        i.zmdi.zmdi-volume-off
        |  volume-off
      .col-md-4.col-sm-6
        i.zmdi.zmdi-volume-up
        |  volume-up
    h3 Numbers
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-1-square
        |  n-1-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-2-square
        |  n-2-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-3-square
        |  n-3-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-4-square
        |  n-4-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-5-square
        |  n-5-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-n-6-square
        |  n-6-square
      .col-md-4.col-sm-6
        i.zmdi.zmdi-neg-1
        |  neg-1
      .col-md-4.col-sm-6
        i.zmdi.zmdi-neg-2
        |  neg-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-1
        |  plus-1
      .col-md-4.col-sm-6
        i.zmdi.zmdi-plus-2
        |  plus-2
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sec-10
        |  sec-10
      .col-md-4.col-sm-6
        i.zmdi.zmdi-sec-3
        |  sec-3
      .col-md-4.col-sm-6
        i.zmdi.zmdi-zero
        |  zero
    h3 Other
    .row
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-flat-angled
        |  airline-seat-flat-angled
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-flat
        |  airline-seat-flat
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-individual-suite
        |  airline-seat-individual-suite
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-legroom-extra
        |  airline-seat-legroom-extra
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-legroom-normal
        |  airline-seat-legroom-normal
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-legroom-reduced
        |  airline-seat-legroom-reduced
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-recline-extra
        |  airline-seat-recline-extra
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airline-seat-recline-normal
        |  airline-seat-recline-normal
      .col-md-4.col-sm-6
        i.zmdi.zmdi-airplay
        |  airplay
      .col-md-4.col-sm-6
        i.zmdi.zmdi-closed-caption
        |  closed-caption
      .col-md-4.col-sm-6
        i.zmdi.zmdi-confirmation-number
        |  confirmation-number
      .col-md-4.col-sm-6
        i.zmdi.zmdi-developer-board
        |  developer-board
      .col-md-4.col-sm-6
        i.zmdi.zmdi-disc-full
        |  disc-full
      .col-md-4.col-sm-6
        i.zmdi.zmdi-explicit
        |  explicit
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flight-land
        |  flight-land
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flight-takeoff
        |  flight-takeoff
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flip-to-back
        |  flip-to-back
      .col-md-4.col-sm-6
        i.zmdi.zmdi-flip-to-front
        |  flip-to-front
      .col-md-4.col-sm-6
        i.zmdi.zmdi-group-work
        |  group-work
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hd
        |  hd
      .col-md-4.col-sm-6
        i.zmdi.zmdi-hq
        |  hq
      .col-md-4.col-sm-6
        i.zmdi.zmdi-markunread-mailbox
        |  markunread-mailbox
      .col-md-4.col-sm-6
        i.zmdi.zmdi-memory
        |  memory
      .col-md-4.col-sm-6
        i.zmdi.zmdi-nfc
        |  nfc
      .col-md-4.col-sm-6
        i.zmdi.zmdi-play-for-work
        |  play-for-work
      .col-md-4.col-sm-6
        i.zmdi.zmdi-power-input
        |  power-input
      .col-md-4.col-sm-6
        i.zmdi.zmdi-present-to-all
        |  present-to-all
      .col-md-4.col-sm-6
        i.zmdi.zmdi-satellite
        |  satellite
      .col-md-4.col-sm-6
        i.zmdi.zmdi-tap-and-play
        |  tap-and-play
      .col-md-4.col-sm-6
        i.zmdi.zmdi-vibration
        |  vibration
      .col-md-4.col-sm-6
        i.zmdi.zmdi-voicemail
        |  voicemail