.page-content.container-fluid
  .icon-demo
    h3 Arrows - Direction Icons
    .row
      .col-md-4.col-sm-6
        i.ti-arrow-up
        |  ti-arrow-up
      .col-md-4.col-sm-6
        i.ti-arrow-right
        |  ti-arrow-right
      .col-md-4.col-sm-6
        i.ti-arrow-left
        |  ti-arrow-left
      .col-md-4.col-sm-6
        i.ti-arrow-down
        |  ti-arrow-down
      .col-md-4.col-sm-6
        i.ti-arrows-vertical
        |  ti-arrows-vertical
      .col-md-4.col-sm-6
        i.ti-arrows-horizontal
        |  ti-arrows-horizontal
      .col-md-4.col-sm-6
        i.ti-angle-up
        |  ti-angle-up
      .col-md-4.col-sm-6
        i.ti-angle-right
        |  ti-angle-right
      .col-md-4.col-sm-6
        i.ti-angle-left
        |  ti-angle-left
      .col-md-4.col-sm-6
        i.ti-angle-down
        |  ti-angle-down
      .col-md-4.col-sm-6
        i.ti-angle-double-up
        |  ti-angle-double-up
      .col-md-4.col-sm-6
        i.ti-angle-double-right
        |  ti-angle-double-right
      .col-md-4.col-sm-6
        i.ti-angle-double-left
        |  ti-angle-double-left
      .col-md-4.col-sm-6
        i.ti-angle-double-down
        |  ti-angle-double-down
      .col-md-4.col-sm-6
        i.ti-move
        |  ti-move
      .col-md-4.col-sm-6
        i.ti-fullscreen
        |  ti-fullscreen
      .col-md-4.col-sm-6
        i.ti-arrow-top-right
        |  ti-arrow-top-right
      .col-md-4.col-sm-6
        i.ti-arrow-top-left
        |  ti-arrow-top-left
      .col-md-4.col-sm-6
        i.ti-arrow-circle-up
        |  ti-arrow-circle-up
      .col-md-4.col-sm-6
        i.ti-arrow-circle-right
        |  ti-arrow-circle-right
      .col-md-4.col-sm-6
        i.ti-arrow-circle-left
        |  ti-arrow-circle-left
      .col-md-4.col-sm-6
        i.ti-arrow-circle-down
        |  ti-arrow-circle-down
      .col-md-4.col-sm-6
        i.ti-arrows-corner
        |  ti-arrows-corner
      .col-md-4.col-sm-6
        i.ti-split-v
        |  ti-split-v
      .col-md-4.col-sm-6
        i.ti-split-v-alt
        |  ti-split-v-alt
      .col-md-4.col-sm-6
        i.ti-split-h
        |  ti-split-h
      .col-md-4.col-sm-6
        i.ti-hand-point-up
        |  ti-hand-point-up
      .col-md-4.col-sm-6
        i.ti-hand-point-right
        |  ti-hand-point-right
      .col-md-4.col-sm-6
        i.ti-hand-point-left
        |  ti-hand-point-left
      .col-md-4.col-sm-6
        i.ti-hand-point-down
        |  ti-hand-point-down
      .col-md-4.col-sm-6
        i.ti-back-right
        |  ti-back-right
      .col-md-4.col-sm-6
        i.ti-back-left
        |  ti-back-left
      .col-md-4.col-sm-6
        i.ti-exchange-vertical
        |  ti-exchange-vertical
    h3 Web App Icons
    .row.text-support6
      .col-md-4.col-sm-6
        i.ti-wand
        |  ti-wand
      .col-md-4.col-sm-6
        i.ti-save
        |  ti-save
      .col-md-4.col-sm-6
        i.ti-save-alt
        |  ti-save-alt
      .col-md-4.col-sm-6
        i.ti-direction
        |  ti-direction
      .col-md-4.col-sm-6
        i.ti-direction-alt
        |  ti-direction-alt
      .col-md-4.col-sm-6
        i.ti-user
        |  ti-user
      .col-md-4.col-sm-6
        i.ti-link
        |  ti-link
      .col-md-4.col-sm-6
        i.ti-unlink
        |  ti-unlink
      .col-md-4.col-sm-6
        i.ti-trash
        |  ti-trash
      .col-md-4.col-sm-6
        i.ti-target
        |  ti-target
      .col-md-4.col-sm-6
        i.ti-tag
        |  ti-tag
      .col-md-4.col-sm-6
        i.ti-desktop
        |  ti-desktop
      .col-md-4.col-sm-6
        i.ti-tablet
        |  ti-tablet
      .col-md-4.col-sm-6
        i.ti-mobile
        |  ti-mobile
      .col-md-4.col-sm-6
        i.ti-email
        |  ti-email
      .col-md-4.col-sm-6
        i.ti-star
        |  ti-star
      .col-md-4.col-sm-6
        i.ti-spray
        |  ti-spray
      .col-md-4.col-sm-6
        i.ti-signal
        |  ti-signal
      .col-md-4.col-sm-6
        i.ti-shopping-cart
        |  ti-shopping-cart
      .col-md-4.col-sm-6
        i.ti-shopping-cart-full
        |  ti-shopping-cart-full
      .col-md-4.col-sm-6
        i.ti-settings
        |  ti-settings
      .col-md-4.col-sm-6
        i.ti-search
        |  ti-search
      .col-md-4.col-sm-6
        i.ti-zoom-in
        |  ti-zoom-in
      .col-md-4.col-sm-6
        i.ti-zoom-out
        |  ti-zoom-out
      .col-md-4.col-sm-6
        i.ti-cut
        |  ti-cut
      .col-md-4.col-sm-6
        i.ti-ruler
        |  ti-ruler
      .col-md-4.col-sm-6
        i.ti-ruler-alt-2
        |  ti-ruler-alt-2
      .col-md-4.col-sm-6
        i.ti-ruler-pencil
        |  ti-ruler-pencil
      .col-md-4.col-sm-6
        i.ti-ruler-alt
        |  ti-ruler-alt
      .col-md-4.col-sm-6
        i.ti-bookmark
        |  ti-bookmark
      .col-md-4.col-sm-6
        i.ti-bookmark-alt
        |  ti-bookmark-alt
      .col-md-4.col-sm-6
        i.ti-reload
        |  ti-reload
      .col-md-4.col-sm-6
        i.ti-plus
        |  ti-plus
      .col-md-4.col-sm-6
        i.ti-minus
        |  ti-minus
      .col-md-4.col-sm-6
        i.ti-close
        |  ti-close
      .col-md-4.col-sm-6
        i.ti-pin
        |  ti-pin
      .col-md-4.col-sm-6
        i.ti-pencil
        |  ti-pencil
      .col-md-4.col-sm-6
        i.ti-pencil-alt
        |  ti-pencil-alt
      .col-md-4.col-sm-6
        i.ti-paint-roller
        |  ti-paint-roller
      .col-md-4.col-sm-6
        i.ti-paint-bucket
        |  ti-paint-bucket
      .col-md-4.col-sm-6
        i.ti-na
        |  ti-na
      .col-md-4.col-sm-6
        i.ti-medall
        |  ti-medall
      .col-md-4.col-sm-6
        i.ti-medall-alt
        |  ti-medall-alt
      .col-md-4.col-sm-6
        i.ti-marker
        |  ti-marker
      .col-md-4.col-sm-6
        i.ti-marker-alt
        |  ti-marker-alt
      .col-md-4.col-sm-6
        i.ti-lock
        |  ti-lock
      .col-md-4.col-sm-6
        i.ti-unlock
        |  ti-unlock
      .col-md-4.col-sm-6
        i.ti-location-arrow
        |  ti-location-arrow
      .col-md-4.col-sm-6
        i.ti-layout
        |  ti-layout
      .col-md-4.col-sm-6
        i.ti-layers
        |  ti-layers
      .col-md-4.col-sm-6
        i.ti-layers-alt
        |  ti-layers-alt
      .col-md-4.col-sm-6
        i.ti-key
        |  ti-key
      .col-md-4.col-sm-6
        i.ti-image
        |  ti-image
      .col-md-4.col-sm-6
        i.ti-heart
        |  ti-heart
      .col-md-4.col-sm-6
        i.ti-heart-broken
        |  ti-heart-broken
      .col-md-4.col-sm-6
        i.ti-hand-stop
        |  ti-hand-stop
      .col-md-4.col-sm-6
        i.ti-hand-open
        |  ti-hand-open
      .col-md-4.col-sm-data-name6
        i.ti-hand-drag
        |  ti-hand-drag
      .col-md-4.col-sm-6
        i.ti-flag
        |  ti-flag
      .col-md-4.col-sm-6
        i.ti-flag-alt
        |  ti-flag-alt
      .col-md-4.col-sm-6
        i.ti-flag-alt-2
        |  ti-flag-alt-2
      .col-md-4.col-sm-6
        i.ti-eye
        |  ti-eye
      .col-md-4.col-sm-6
        i.ti-import
        |  ti-import
      .col-md-4.col-sm-6
        i.ti-export
        |  ti-export
      .col-md-4.col-sm-6
        i.ti-cup
        |  ti-cup
      .col-md-4.col-sm-6
        i.ti-crown
        |  ti-crown
      .col-md-4.col-sm-6
        i.ti-comments
        |  ti-comments
      .col-md-4.col-sm-6
        i.ti-comment
        |  ti-comment
      .col-md-4.col-sm-6
        i.ti-comment-alt
        |  ti-comment-alt
      .col-md-4.col-sm-6
        i.ti-thought
        |  ti-thought
      .col-md-4.col-sm-6
        i.ti-clip
        |  ti-clip
      .col-md-4.col-sm-6
        i.ti-check
        |  ti-check
      .col-md-4.col-sm-6
        i.ti-check-box
        |  ti-check-box
      .col-md-4.col-sm-6
        i.ti-camera
        |  ti-camera
      .col-md-4.col-sm-6
        i.ti-announcement
        |  ti-announcement
      .col-md-4.col-sm-6
        i.ti-brush
        |  ti-brush
      .col-md-4.col-sm-6
        i.ti-brush-alt
        |  ti-brush-alt
      .col-md-4.col-sm-6
        i.ti-palette
        |  ti-palette
      .col-md-4.col-sm-6
        i.ti-briefcase
        |  ti-briefcase
      .col-md-4.col-sm-6
        i.ti-bolt
        |  ti-bolt
      .col-md-4.col-sm-6
        i.ti-bolt-alt
        |  ti-bolt-alt
      .col-md-4.col-sm-6
        i.ti-blackboard
        |  ti-blackboard
      .col-md-4.col-sm-6
        i.ti-bag
        |  ti-bag
      .col-md-4.col-sm-6
        i.ti-world
        |  ti-world
      .col-md-4.col-sm-6
        i.ti-wheelchair
        |  ti-wheelchair
      .col-md-4.col-sm-6
        i.ti-car
        |  ti-car
      .col-md-4.col-sm-6
        i.ti-truck
        |  ti-truck
      .col-md-4.col-sm-6
        i.ti-timer
        |  ti-timer
      .col-md-4.col-sm-6
        i.ti-ticket
        |  ti-ticket
      .col-md-4.col-sm-6
        i.ti-thumb-up
        |  ti-thumb-up
      .col-md-4.col-sm-6
        i.ti-thumb-down
        |  ti-thumb-down
      .col-md-4.col-sm-6
        i.ti-stats-up
        |  ti-stats-up
      .col-md-4.col-sm-6
        i.ti-stats-down
        |  ti-stats-down
      .col-md-4.col-sm-6
        i.ti-shine
        |  ti-shine
      .col-md-4.col-sm-6
        i.ti-shift-right
        |  ti-shift-right
      .col-md-4.col-sm-6
        i.ti-shift-left
        |  ti-shift-left
      .col-md-4.col-sm-6
        i.ti-shift-right-alt
        |  ti-shift-right-alt
      .col-md-4.col-sm-6
        i.ti-shift-left-alt
        |  ti-shift-left-alt
      .col-md-4.col-sm-6
        i.ti-shield
        |  ti-shield
      .col-md-4.col-sm-6
        i.ti-notepad
        |  ti-notepad
      .col-md-4.col-sm-6
        i.ti-server
        |  ti-server
      .col-md-4.col-sm-6
        i.ti-pulse
        |  ti-pulse
      .col-md-4.col-sm-6
        i.ti-printer
        |  ti-printer
      .col-md-4.col-sm-6
        i.ti-power-off
        |  ti-power-off
      .col-md-4.col-sm-6
        i.ti-plug
        |  ti-plug
      .col-md-4.col-sm-6
        i.ti-pie-chart
        |  ti-pie-chart
      .col-md-4.col-sm-6
        i.ti-panel
        |  ti-panel
      .col-md-4.col-sm-6
        i.ti-package
        |  ti-package
      .col-md-4.col-sm-6
        i.ti-music
        |  ti-music
      .col-md-4.col-sm-6
        i.ti-music-alt
        |  ti-music-alt
      .col-md-4.col-sm-6
        i.ti-mouse
        |  ti-mouse
      .col-md-4.col-sm-6
        i.ti-mouse-alt
        |  ti-mouse-alt
      .col-md-4.col-sm-6
        i.ti-money
        |  ti-money
      .col-md-4.col-sm-6
        i.ti-microphone
        |  ti-microphone
      .col-md-4.col-sm-6
        i.ti-menu
        |  ti-menu
      .col-md-4.col-sm-6
        i.ti-menu-alt
        |  ti-menu-alt
      .col-md-4.col-sm-6
        i.ti-map
        |  ti-map
      .col-md-4.col-sm-6
        i.ti-map-alt
        |  ti-map-alt
      .col-md-4.col-sm-6
        i.ti-location-pin
        |  ti-location-pin
      .col-md-4.col-sm-6
        i.ti-light-bulb
        |  ti-light-bulb
      .col-md-4.col-sm-6
        i.ti-info
        |  ti-info
      .col-md-4.col-sm-6
        i.ti-infinite
        |  ti-infinite
      .col-md-4.col-sm-6
        i.ti-id-badge
        |  ti-id-badge
      .col-md-4.col-sm-6
        i.ti-hummer
        |  ti-hummer
      .col-md-4.col-sm-6
        i.ti-home
        |  ti-home
      .col-md-4.col-sm-6
        i.ti-help
        |  ti-help
      .col-md-4.col-sm-6
        i.ti-headphone
        |  ti-headphone
      .col-md-4.col-sm-6
        i.ti-harddrives
        |  ti-harddrives
      .col-md-4.col-sm-6
        i.ti-harddrive
        |  ti-harddrive
      .col-md-4.col-sm-6
        i.ti-gift
        |  ti-gift
      .col-md-4.col-sm-6
        i.ti-game
        |  ti-game
      .col-md-4.col-sm-6
        i.ti-filter
        |  ti-filter
      .col-md-4.col-sm-6
        i.ti-files
        |  ti-files
      .col-md-4.col-sm-6
        i.ti-file
        |  ti-file
      .col-md-4.col-sm-6
        i.ti-zip
        |  ti-zip
      .col-md-4.col-sm-6
        i.ti-folder
        |  ti-folder
      .col-md-4.col-sm-6
        i.ti-envelope
        |  ti-envelope
      .col-md-4.col-sm-6
        i.ti-dashboard
        |  ti-dashboard
      .col-md-4.col-sm-6
        i.ti-cloud
        |  ti-cloud
      .col-md-4.col-sm-6
        i.ti-cloud-up
        |  ti-cloud-up
      .col-md-4.col-sm-6
        i.ti-cloud-down
        |  ti-cloud-down
      .col-md-4.col-sm-6
        i.ti-clipboard
        |  ti-clipboard
      .col-md-4.col-sm-6
        i.ti-calendar
        |  ti-calendar
      .col-md-4.col-sm-6
        i.ti-book
        |  ti-book
      .col-md-4.col-sm-6
        i.ti-bell
        |  ti-bell
      .col-md-4.col-sm-6
        i.ti-basketball
        |  ti-basketball
      .col-md-4.col-sm-6
        i.ti-bar-chart
        |  ti-bar-chart
      .col-md-4.col-sm-6
        i.ti-bar-chart-alt
        |  ti-bar-chart-alt
      .col-md-4.col-sm-6
        i.ti-archive
        |  ti-archive
      .col-md-4.col-sm-6
        i.ti-anchor
        |  ti-anchor
      .col-md-4.col-sm-6
        i.ti-alert
        |  ti-alert
      .col-md-4.col-sm-6
        i.ti-alarm-clock
        |  ti-alarm-clock
      .col-md-4.col-sm-6
        i.ti-agenda
        |  ti-agenda
      .col-md-4.col-sm-6
        i.ti-write
        |  ti-write
      .col-md-4.col-sm-6
        i.ti-wallet
        |  ti-wallet
      .col-md-4.col-sm-6
        i.ti-video-clapper
        |  ti-video-clapper
      .col-md-4.col-sm-6
        i.ti-video-camera
        |  ti-video-camera
      .col-md-4.col-sm-6
        i.ti-vector
        |  ti-vector
      .col-md-4.col-sm-6
        i.ti-support
        |  ti-support
      .col-md-4.col-sm-6
        i.ti-stamp
        |  ti-stamp
      .col-md-4.col-sm-6
        i.ti-slice
        |  ti-slice
      .col-md-4.col-sm-6
        i.ti-shortcode
        |  ti-shortcode
      .col-md-4.col-sm-6
        i.ti-receipt
        |  ti-receipt
      .col-md-4.col-sm-6
        i.ti-pin2
        |  ti-pin2
      .col-md-4.col-sm-6
        i.ti-pin-alt
        |  ti-pin-alt
      .col-md-4.col-sm-6
        i.ti-pencil-alt2
        |  ti-pencil-alt2
      .col-md-4.col-sm-6
        i.ti-eraser
        |  ti-eraser
      .col-md-4.col-sm-6
        i.ti-more
        |  ti-more
      .col-md-4.col-sm-6
        i.ti-more-alt
        |  ti-more-alt
      .col-md-4.col-sm-6
        i.ti-microphone-alt
        |  ti-microphone-alt
      .col-md-4.col-sm-6
        i.ti-magnet
        |  ti-magnet
      .col-md-4.col-sm-6
        i.ti-line-double
        |  ti-line-double
      .col-md-4.col-sm-6
        i.ti-line-dotted
        |  ti-line-dotted
      .col-md-4.col-sm-6
        i.ti-line-dashed
        |  ti-line-dashed
      .col-md-4.col-sm-6
        i.ti-ink-pen
        |  ti-ink-pen
      .col-md-4.col-sm-6
        i.ti-info-alt
        |  ti-info-alt
      .col-md-4.col-sm-6
        i.ti-help-alt
        |  ti-help-alt
      .col-md-4.col-sm-6
        i.ti-headphone-alt
        |  ti-headphone-alt
      .col-md-4.col-sm-6
        i.ti-gallery
        |  ti-gallery
      .col-md-4.col-sm-6
        i.ti-face-smile
        |  ti-face-smile
      .col-md-4.col-sm-6
        i.ti-face-sad
        |  ti-face-sad
      .col-md-4.col-sm-6
        i.ti-credit-card
        |  ti-credit-card
      .col-md-4.col-sm-6
        i.ti-comments-smiley
        |  ti-comments-smiley
      .col-md-4.col-sm-6
        i.ti-time
        |  ti-time
      .col-md-4.col-sm-6
        i.ti-share
        |  ti-share
      .col-md-4.col-sm-6
        i.ti-share-alt
        |  ti-share-alt
      .col-md-4.col-sm-6
        i.ti-rocket
        |  ti-rocket
      .col-md-4.col-sm-6
        i.ti-new-window
        |  ti-new-window
      .col-md-4.col-sm-6
        i.ti-rss
        |  ti-rss
      .col-md-4.col-sm-6
        i.ti-rss-alt
        |  ti-rss-alt
    h3 Control Icons
    .row.text-support6
      .col-md-4.col-sm-6
        i.ti-control-stop
        |  ti-control-stop
      .col-md-4.col-sm-6
        i.ti-control-shuffle
        |  ti-control-shuffle
      .col-md-4.col-sm-6
        i.ti-control-play
        |  ti-control-play
      .col-md-4.col-sm-6
        i.ti-control-pause
        |  ti-control-pause
      .col-md-4.col-sm-6
        i.ti-control-forward
        |  ti-control-forward
      .col-md-4.col-sm-6
        i.ti-control-backward
        |  ti-control-backward
      .col-md-4.col-sm-6
        i.ti-volume
        |  ti-volume
      .col-md-4.col-sm-6
        i.ti-control-skip-forward
        |  ti-control-skip-forward
      .col-md-4.col-sm-6
        i.ti-control-skip-backward
        |  ti-control-skip-backward
      .col-md-4.col-sm-6
        i.ti-control-record
        |  ti-control-record
      .col-md-4.col-sm-6
        i.ti-control-eject
        |  ti-control-eject
    h3 Text Editor
    .row.text-support6
      .col-md-4.col-sm-6
        i.ti-paragraph
        |  ti-paragraph
      .col-md-4.col-sm-6
        i.ti-uppercase
        |  ti-uppercase
      .col-md-4.col-sm-6
        i.ti-underline
        |  ti-underline
      .col-md-4.col-sm-6
        i.ti-text
        |  ti-text
      .col-md-4.col-sm-6
        i.ti-Italic
        |  ti-Italic
      .col-md-4.col-sm-6
        i.ti-smallcap
        |  ti-smallcap
      .col-md-4.col-sm-6
        i.ti-list
        |  ti-list
      .col-md-4.col-sm-6
        i.ti-list-ol
        |  ti-list-ol
      .col-md-4.col-sm-6
        i.ti-align-right
        |  ti-align-right
      .col-md-4.col-sm-6
        i.ti-align-left
        |  ti-align-left
      .col-md-4.col-sm-6
        i.ti-align-justify
        |  ti-align-justify
      .col-md-4.col-sm-6
        i.ti-align-center
        |  ti-align-center
      .col-md-4.col-sm-6
        i.ti-quote-right
        |  ti-quote-right
      .col-md-4.col-sm-6
        i.ti-quote-left
        |  ti-quote-left
    h3 Layout Icons
    .row.text-support6
      .col-md-4.col-sm-6
        i.ti-layout-width-full
        |  ti-layout-width-full
      .col-md-4.col-sm-6
        i.ti-layout-width-default
        |  ti-layout-width-default
      .col-md-4.col-sm-6
        i.ti-layout-width-default-alt
        |  ti-layout-width-default-alt
      .col-md-4.col-sm-6
        i.ti-layout-tab
        |  ti-layout-tab
      .col-md-4.col-sm-6
        i.ti-layout-tab-window
        |  ti-layout-tab-window
      .col-md-4.col-sm-6
        i.ti-layout-tab-v
        |  ti-layout-tab-v
      .col-md-4.col-sm-6
        i.ti-layout-tab-min
        |  ti-layout-tab-min
      .col-md-4.col-sm-6
        i.ti-layout-slider
        |  ti-layout-slider
      .col-md-4.col-sm-6
        i.ti-layout-slider-alt
        |  ti-layout-slider-alt
      .col-md-4.col-sm-6
        i.ti-layout-sidebar-right
        |  ti-layout-sidebar-right
      .col-md-4.col-sm-6
        i.ti-layout-sidebar-none
        |  ti-layout-sidebar-none
      .col-md-4.col-sm-6
        i.ti-layout-sidebar-left
        |  ti-layout-sidebar-left
      .col-md-4.col-sm-6
        i.ti-layout-placeholder
        |  ti-layout-placeholder
      .col-md-4.col-sm-6
        i.ti-layout-menu
        |  ti-layout-menu
      .col-md-4.col-sm-6
        i.ti-layout-menu-v
        |  ti-layout-menu-v
      .col-md-4.col-sm-6
        i.ti-layout-menu-separated
        |  ti-layout-menu-separated
      .col-md-4.col-sm-6
        i.ti-layout-menu-full
        |  ti-layout-menu-full
      .col-md-4.col-sm-6
        i.ti-layout-media-right
        |  ti-layout-media-right
      .col-md-4.col-sm-6
        i.ti-layout-media-right-alt
        |  ti-layout-media-right-alt
      .col-md-4.col-sm-6
        i.ti-layout-media-overlay
        |  ti-layout-media-overlay
      .col-md-4.col-sm-6
        i.ti-layout-media-overlay-alt
        |  ti-layout-media-overlay-alt
      .col-md-4.col-sm-6
        i.ti-layout-media-overlay-alt-2
        |  ti-layout-media-overlay-alt-2
      .col-md-4.col-sm-6
        i.ti-layout-media-left
        |  ti-layout-media-left
      .col-md-4.col-sm-6
        i.ti-layout-media-left-alt
        |  ti-layout-media-left-alt
      .col-md-4.col-sm-6
        i.ti-layout-media-center
        |  ti-layout-media-center
      .col-md-4.col-sm-6
        i.ti-layout-media-center-alt
        |  ti-layout-media-center-alt
      .col-md-4.col-sm-6
        i.ti-layout-list-thumb
        |  ti-layout-list-thumb
      .col-md-4.col-sm-6
        i.ti-layout-list-thumb-alt
        |  ti-layout-list-thumb-alt
      .col-md-4.col-sm-6
        i.ti-layout-list-post
        |  ti-layout-list-post
      .col-md-4.col-sm-6
        i.ti-layout-list-large-image
        |  ti-layout-list-large-image
      .col-md-4.col-sm-6
        i.ti-layout-line-solid
        |  ti-layout-line-solid
      .col-md-4.col-sm-6
        i.ti-layout-grid4
        |  ti-layout-grid4
      .col-md-4.col-sm-6
        i.ti-layout-grid3
        |  ti-layout-grid3
      .col-md-4.col-sm-6
        i.ti-layout-grid2
        |  ti-layout-grid2
      .col-md-4.col-sm-6
        i.ti-layout-grid2-thumb
        |  ti-layout-grid2-thumb
      .col-md-4.col-sm-6
        i.ti-layout-cta-right
        |  ti-layout-cta-right
      .col-md-4.col-sm-6
        i.ti-layout-cta-left
        |  ti-layout-cta-left
      .col-md-4.col-sm-6
        i.ti-layout-cta-center
        |  ti-layout-cta-center
      .col-md-4.col-sm-6
        i.ti-layout-cta-btn-right
        |  ti-layout-cta-btn-right
      .col-md-4.col-sm-6
        i.ti-layout-cta-btn-left
        |  ti-layout-cta-btn-left
      .col-md-4.col-sm-6
        i.ti-layout-column4
        |  ti-layout-column4
      .col-md-4.col-sm-6
        i.ti-layout-column3
        |  ti-layout-column3
      .col-md-4.col-sm-6
        i.ti-layout-column2
        |  ti-layout-column2
      .col-md-4.col-sm-6
        i.ti-layout-accordion-separated
        |  ti-layout-accordion-separated
      .col-md-4.col-sm-6
        i.ti-layout-accordion-merged
        |  ti-layout-accordion-merged
      .col-md-4.col-sm-6
        i.ti-layout-accordion-list
        |  ti-layout-accordion-list
      .col-md-4.col-sm-6
        i.ti-widgetized
        |  ti-widgetized
      .col-md-4.col-sm-6
        i.ti-widget
        |  ti-widget
      .col-md-4.col-sm-6
        i.ti-widget-alt
        |  ti-widget-alt
      .col-md-4.col-sm-6
        i.ti-view-list
        |  ti-view-list
      .col-md-4.col-sm-6
        i.ti-view-list-alt
        |  ti-view-list-alt
      .col-md-4.col-sm-6
        i.ti-view-grid
        |  ti-view-grid
      .col-md-4.col-sm-6
        i.ti-upload
        |  ti-upload
      .col-md-4.col-sm-6
        i.ti-download
        |  ti-download
      .col-md-4.col-sm-6
        i.ti-loop
        |  ti-loop
      .col-md-4.col-sm-6
        i.ti-layout-sidebar-2
        |  ti-layout-sidebar-2
      .col-md-4.col-sm-6
        i.ti-layout-grid4-alt
        |  ti-layout-grid4-alt
      .col-md-4.col-sm-6
        i.ti-layout-grid3-alt
        |  ti-layout-grid3-alt
      .col-md-4.col-sm-6
        i.ti-layout-grid2-alt
        |  ti-layout-grid2-alt
      .col-md-4.col-sm-6
        i.ti-layout-column4-alt
        |  ti-layout-column4-alt
      .col-md-4.col-sm-6
        i.ti-layout-column3-alt
        |  ti-layout-column3-alt
      .col-md-4.col-sm-6
        i.ti-layout-column2-alt
        |  ti-layout-column2-alt
    h3 Brand Icons
    .row.text-support6
      .col-md-4.col-sm-6
        i.ti-flickr
        |  ti-flickr
      .col-md-4.col-sm-6
        i.ti-flickr-alt
        |  ti-flickr-alt
      .col-md-4.col-sm-6
        i.ti-instagram
        |  ti-instagram
      .col-md-4.col-sm-6
        i.ti-google
        |  ti-google
      .col-md-4.col-sm-6
        i.ti-github
        |  ti-github
      .col-md-4.col-sm-6
        i.ti-facebook
        |  ti-facebook
      .col-md-4.col-sm-6
        i.ti-dropbox
        |  ti-dropbox
      .col-md-4.col-sm-6
        i.ti-dropbox-alt
        |  ti-dropbox-alt
      .col-md-4.col-sm-6
        i.ti-dribbble
        |  ti-dribbble
      .col-md-4.col-sm-6
        i.ti-apple
        |  ti-apple
      .col-md-4.col-sm-6
        i.ti-android
        |  ti-android
      .col-md-4.col-sm-6
        i.ti-yahoo
        |  ti-yahoo
      .col-md-4.col-sm-6
        i.ti-trello
        |  ti-trello
      .col-md-4.col-sm-6
        i.ti-stack-overflow
        |  ti-stack-overflow
      .col-md-4.col-sm-6
        i.ti-soundcloud
        |  ti-soundcloud
      .col-md-4.col-sm-6
        i.ti-sharethis
        |  ti-sharethis
      .col-md-4.col-sm-6
        i.ti-sharethis-alt
        |  ti-sharethis-alt
      .col-md-4.col-sm-6
        i.ti-reddit
        |  ti-reddit
      .col-md-4.col-sm-6
        i.ti-microsoft
        |  ti-microsoft
      .col-md-4.col-sm-6
        i.ti-microsoft-alt
        |  ti-microsoft-alt
      .col-md-4.col-sm-6
        i.ti-linux
        |  ti-linux
      .col-md-4.col-sm-6
        i.ti-jsfiddle
        |  ti-jsfiddle
      .col-md-4.col-sm-6
        i.ti-joomla
        |  ti-joomla
      .col-md-4.col-sm-6
        i.ti-html5
        |  ti-html5
      .col-md-4.col-sm-6
        i.ti-css3
        |  ti-css3
      .col-md-4.col-sm-6
        i.ti-drupal
        |  ti-drupal
      .col-md-4.col-sm-6
        i.ti-wordpress
        |  ti-wordpress
      .col-md-4.col-sm-6
        i.ti-tumblr
        |  ti-tumblr
      .col-md-4.col-sm-6
        i.ti-tumblr-alt
        |  ti-tumblr-alt
      .col-md-4.col-sm-6
        i.ti-skype
        |  ti-skype
      .col-md-4.col-sm-6
        i.ti-youtube
        |  ti-youtube
      .col-md-4.col-sm-6
        i.ti-vimeo
        |  ti-vimeo
      .col-md-4.col-sm-6
        i.ti-vimeo-alt
        |  ti-vimeo-alt
      .col-md-4.col-sm-6
        i.ti-twitter
        |  ti-twitter
      .col-md-4.col-sm-6
        i.ti-twitter-alt
        |  ti-twitter-alt
      .col-md-4.col-sm-6
        i.ti-linkedin
        |  ti-linkedin
      .col-md-4.col-sm-6
        i.ti-pinterest
        |  ti-pinterest
      .col-md-4.col-sm-6
        i.ti-pinterest-alt
        |  ti-pinterest-alt
      .col-md-4.col-sm-6
        i.ti-themify-logo
        |  ti-themify-logo
      .col-md-4.col-sm-6
        i.ti-themify-favicon
        |  ti-themify-favicon
      .col-md-4.col-sm-6
        i.ti-themify-favicon-alt
        |  ti-themify-favicon-alt