.page-content.container-fluid
  .widget
    .widget-heading
      h3.widget-title Alert message
    .widget-body.btn-demo
      .row
        .col-md-3.col-sm-6
          p Basic
          button#sweet-1.btn.btn-raised.btn-black(type='button') Launch alert
        .col-md-3.col-sm-6
          p Title Text
          button#sweet-2.btn.btn-raised.btn-black(type='button') Launch alert
      .row
        .col-md-3.col-sm-6
          p Success Message
          button#sweet-3.btn.btn-raised.btn-success(type='button') Launch alert
        .col-md-3.col-sm-6
          p Info Message
          button#sweet-4.btn.btn-raised.btn-info(type='button') Launch alert
        .col-md-3.col-sm-6
          p Warning Message
          button#sweet-5.btn.btn-raised.btn-warning(type='button') Launch alert
        .col-md-3.col-sm-6
          p Error Message
          button#sweet-6.btn.btn-raised.btn-danger(type='button') Launch alert
  .widget
    .widget-heading
      h3.widget-title Confirm message
    .widget-body.btn-demo
      .row
        .col-sm-6
          p OK Message
          button#sweet-7.btn.btn-raised.btn-success(type='button') Launch alert
        .col-sm-6
          p Cancel Message
          button#sweet-8.btn.btn-raised.btn-warning(type='button') Launch alert
  .widget
    .widget-heading
      h3.widget-title And more
    .widget-body.btn-demo
      .row
        .col-sm-6
          p Auto Close
          button#sweet-9.btn.btn-raised.btn-black(type='button') Launch alert
        .col-sm-6
          p Custom Icon
          button#sweet-10.btn.btn-raised.btn-black(type='button') Launch alert