// Summernote
script(type='text/javascript', src=plugins+'summernote/dist/summernote.min.js')
// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// Bootstrap Date Range Picker
script(type='text/javascript', src=plugins+'bootstrap-daterangepicker/daterangepicker.js')
// Bootstrap FileStyle
script(type='text/javascript', src=plugins+'bootstrap-filestyle/src/bootstrap-filestyle.js')