// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// jQuery Validation
script(type='text/javascript', src=plugins+'jquery-validation/dist/jquery.validate.min.js')
script(type='text/javascript', src=plugins+'jquery-validation/dist/additional-methods.min.js')
// Bootstrap FileStyle
script(type='text/javascript', src=plugins+'bootstrap-filestyle/src/bootstrap-filestyle.js')