.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Simple Map
        .widget-body
          #simpleMap(style='height:300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Weather Map
        .widget-body
          #weatherMap(style='height:300px;')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Traffic Map
        .widget-body
          #trafficMap(style='height:300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Transit Map
        .widget-body
          #transitMap(style='height:300px;')
  .row
    .col-lg-12
      .widget
        .widget-heading
          h3.widget-title Styled Map
        .widget-body
          #styledMap(style='height: 400px;')
  .row
    .col-lg-12
      .widget
        .widget-heading
          h3.widget-title Street View
        .widget-body
          #streetviewMap(style='height: 400px;')