.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Euro Map
        .widget-body
          #europe-map(style='height:300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title USA Map
        .widget-body
          #usa-map(style='height:300px;')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title France Map
        .widget-body
          #france-map(style='height:300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Canada Map
        .widget-body
          #canada-map(style='height:300px;')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Asia Map
        .widget-body
          #asia-map(style='height:300px;')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Australia Map
        .widget-body
          #australia-map(style='height:300px;')
  .row
    .col-lg-12
      #world-map(style='height:600px;')