// Demo Settings start
.setting.closed
  a.setting-toggle.fs-16(href='javascript:;')
    i.ti-palette.text-muted
  h5.fs-16.mt-0.mb-20 Header Colors
  ul.list-inline
    li
      a(href='javascript:;', data-color='header-primary').mo-xs.bg-primary.inline-block.img-circle.header-color
    li
      a(href='javascript:;', data-color='header-green').mo-xs.bg-success.inline-block.img-circle.header-color
    li
      a(href='javascript:;', data-color='header-purple').mo-xs.bg-purple.inline-block.img-circle.header-color
    li
      a(href='javascript:;', data-color='header-yellow').mo-xs.bg-warning.inline-block.img-circle.header-color
    li
      a(href='javascript:;', data-color='header-red').mo-xs.bg-danger.inline-block.img-circle.header-color
  h5.fs-16.mt-0.mb-20 Sidebar Colors
  ul.list-inline
    li
      a(href='javascript:;', data-color='sidebar-dark').sidebar-color.mo-xs.bg-black.inline-block.img-circle
    li
      a(href='javascript:;', data-color='sidebar-light').sidebar-color.mo-xs.bg-default.inline-block.img-circle
// Demo Settings end