// Bootstrap TouchSpin
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
// Toastr
link(rel='stylesheet', type='text/css', href=plugins+'toastr/toastr.min.css')
// Bootstrap Tags Input
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css')